osgp-ws-distributionautomation/src/main/resources/AdHocManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:da="http://www.opensmartgridplatform.org/schemas/distributionautomation/defs/2017/04"
    xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.opensmartgridplatform.org/definitions/distributionautomation/2017/04"
    targetNamespace="http://www.opensmartgridplatform.org/definitions/distributionautomation/2017/04">

    <wsdl:types>
        <xsd:schema
            targetNamespace="http://www.opensmartgridplatform.org/definitions/distributionautomation/imports"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:import
                namespace="http://www.opensmartgridplatform.org/schemas/distributionautomation/defs/2017/04"
                schemaLocation="schemas/distributionautomation.xsd" />
        </xsd:schema>
    </wsdl:types>
    
    <!-- 
    ################################################################################
    ## Generic Header
    ################################################################################
    -->
    <wsdl:message name="GenericHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification"/>
        <wsdl:part element="common:UserName" name="UserName"/>
        <wsdl:part element="common:ApplicationName" name="ApplicationName"/>
    </wsdl:message>

    <!-- 
    ################################################################################
    ## Device Model
    ################################################################################
    -->
    <wsdl:message name="GetDeviceModelRequest">
        <wsdl:part element="da:GetDeviceModelRequest" name="GetDeviceModelRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDeviceModelAsyncRequest">
        <wsdl:part element="da:GetDeviceModelAsyncRequest" name="GetDeviceModelAsyncRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDeviceModelResponse">
        <wsdl:part element="da:GetDeviceModelResponse" name="GetDeviceModelResponse"/>
    </wsdl:message>
    <wsdl:message name="GetDeviceModelAsyncResponse">
        <wsdl:part element="da:GetDeviceModelAsyncResponse" name="GetDeviceModelAsyncResponse"/>
    </wsdl:message>


    <!-- 
    ################################################################################
    ## Operations
    ################################################################################
    -->
    <wsdl:portType name="DistributionAutomationAdHocManagementPort">
        <wsdl:operation name="GetDeviceModel">
            <wsdl:input message="tns:GetDeviceModelRequest" name="GetDeviceModelRequest"/>
            <wsdl:output message="tns:GetDeviceModelAsyncResponse"
                name="GetDeviceModelAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetDeviceModelAsync">
            <wsdl:input message="tns:GetDeviceModelAsyncRequest" name="GetDeviceModelAsyncRequest"/>
            <wsdl:output message="tns:GetDeviceModelResponse" name="GetDeviceModelResponse"/>
        </wsdl:operation>
    </wsdl:portType>


    <!-- 
    ################################################################################
    ## Bindings
    ################################################################################
    -->
    <wsdl:binding name="DistributionAutomationAdHocManagementPortSoap11"
        type="tns:DistributionAutomationAdHocManagementPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetDeviceModel">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetDeviceModelRequest">
                <soap:header message="tns:GenericHeader" part="OrganisationIdentification"
                    use="literal"/>
                <soap:header message="tns:GenericHeader" part="UserName" use="literal"/>
                <soap:header message="tns:GenericHeader" part="ApplicationName" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetDeviceModelAsyncResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetDeviceModelAsync">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetDeviceModelAsyncRequest">
                <soap:header message="tns:GenericHeader" part="OrganisationIdentification"
                    use="literal"/>
                <soap:header message="tns:GenericHeader" part="UserName" use="literal"/>
                <soap:header message="tns:GenericHeader" part="ApplicationName" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetDeviceModelResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- 
    ################################################################################
    ## Service
    ################################################################################
    -->
    <wsdl:service name="DistributionAutomationAdHocManagementPortService">
        <wsdl:port binding="tns:DistributionAutomationAdHocManagementPortSoap11"
            name="DistributionAutomationAdHocManagementPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-distributionautomation/distributionautomation/adhocmanagement/"
            />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
