osgp/shared/osgp-ws-tariffswitching/src/main/resources/TariffSwitchingScheduleManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:sman="http://www.opensmartgridplatform.org/schemas/tariffswitching/schedulemanagement/2014/10"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.opensmartgridplatform.org/definitions/tariffswitching/schedulemanagement-v1.0"
  targetNamespace="http://www.opensmartgridplatform.org/definitions/tariffswitching/schedulemanagement-v1.0">

  <wsdl:types>
    <xsd:schema
      targetNamespace="http://www.opensmartgridplatform.org/definitions/tariffswitching/schedulemanagement/imports"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import
        namespace="http://www.opensmartgridplatform.org/schemas/tariffswitching/schedulemanagement/2014/10"
        schemaLocation="schemas/schedulemanagement-ws-tariffswitching.xsd" />
    </xsd:schema>
  </wsdl:types>

  <!-- An additional SOAP header 'MessagePriority' can be set. Values between 0 (low) and 9 (high), the default value is 4 (medium). -->

  <wsdl:message name="SetScheduleHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="SetScheduleRequest">
    <wsdl:part element="sman:SetScheduleRequest" name="SetScheduleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetScheduleAsyncResponse">
    <wsdl:part element="sman:SetScheduleAsyncResponse" name="SetScheduleAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SetScheduleAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="SetScheduleAsyncRequest">
    <wsdl:part element="sman:SetScheduleAsyncRequest" name="SetScheduleAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetScheduleResponse">
    <wsdl:part element="sman:SetScheduleResponse" name="SetScheduleResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="TariffSwitchingScheduleManagementPort">

    <wsdl:operation name="SetSchedule">
      <wsdl:input message="tns:SetScheduleRequest" name="SetScheduleRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetScheduleAsyncResponse"
        name="SetScheduleAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetSetScheduleResponse">
      <wsdl:input message="tns:SetScheduleAsyncRequest" name="SetScheduleAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetScheduleResponse" name="SetScheduleResponse">
      </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="TariffSwitchingScheduleManagementPortSoap11"
    type="tns:TariffSwitchingScheduleManagementPort">

    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="SetSchedule">
      <soap:operation soapAction="" />
      <wsdl:input name="SetScheduleRequest">
        <soap:header message="tns:SetScheduleHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SetScheduleHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:SetScheduleHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetScheduleAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetSetScheduleResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="SetScheduleAsyncRequest">
        <soap:header message="tns:SetScheduleAsyncHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:SetScheduleAsyncHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:SetScheduleAsyncHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetScheduleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="TariffSwitchingScheduleManagementPortService">

    <wsdl:port binding="tns:TariffSwitchingScheduleManagementPortSoap11"
      name="TariffSwitchingScheduleManagementPortSoap11">
      <soap:address
        location="http://localhost:8080/osgp-adapter-ws-tariffswitching/tariffSwitching/scheduleManagementService/" />
    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>