osgp/shared/osgp-ws-distributionautomation/src/main/resources/schemas/distributionautomation.xsd

<?xml version="1.1" encoding="UTF-8"?>

<!--
SPDX-FileCopyrightText: Copyright Contributors to the GXF project

SPDX-License-Identifier: Apache-2.0
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    xmlns:da="http://www.opensmartgridplatform.org/schemas/distributionautomation/defs/2017/04"
    attributeFormDefault="unqualified" elementFormDefault="qualified"
    targetNamespace="http://www.opensmartgridplatform.org/schemas/distributionautomation/defs/2017/04">

    <xsd:import namespace="http://www.opensmartgridplatform.org/schemas/common/2014/10"
        schemaLocation="common-ws-distributionautomation.xsd"/>

    <!--
    ##################################################################################
    ## Generic Types
    ##################################################################################
    -->
    <xsd:complexType name="GenericAsyncResponseType">
        <xsd:sequence>
            <xsd:element name="AsyncResponse" type="common:AsyncResponse"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="HealthStatusType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Ok"/>
            <xsd:enumeration value="Warning"/>
            <xsd:enumeration value="Alarm"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="DataSampleType">
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attribute name="timestamp" type="xsd:dateTime"/>
        <xsd:attribute name="value" type="xsd:decimal"/>
    </xsd:complexType>

    <xsd:complexType name="LogicalNodeType">
        <xsd:sequence>
            <xsd:element name="DataSample" type="da:DataSampleType" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="LogicalDeviceType">
        <xsd:sequence>
            <xsd:element name="LogicalNode" type="da:LogicalNodeType" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="PhysicalServerType">
        <xsd:sequence>
            <xsd:element name="LogicalDevice" type="da:LogicalDeviceType" minOccurs="0"
                maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="ipAddress" type="xsd:string"/>
    </xsd:complexType>

    <!--
        Types for measurement reports.
     -->

    <xsd:complexType name="MeasurementReport">
        <xsd:annotation>
            <xsd:documentation>Report containing measurements sent by a device and the related metadata.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="ReportHeader" type="da:MeasurementReportHeader"/>
            <xsd:sequence>
                <xsd:element name="MeasurementGroups" type="da:MeasurementGroups"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MeasurementReportHeader">
        <xsd:annotation>
            <xsd:documentation>The header information for measurements sent by a device.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="MeasurementType" type="da:MeasurementType">
                <xsd:annotation>
                    <xsd:documentation>The kind of measurement in the report</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ReasonType" type="da:ReasonType">
                <xsd:annotation>
                    <xsd:documentation>The reason for sending the measurements.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OriginatorAddress" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>The address of the originating controlling station sending the measurements.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CommonAddress" type="xsd:int">
                <xsd:annotation>
                    <xsd:documentation>Address of the target station or the broadcast address.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="MeasurementType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MEASURED_SHORT_FLOAT_WITH_TIME_TAG"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ReasonType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PERIODIC"/>
            <xsd:enumeration value="BACKGROUND_SCAN"/>
            <xsd:enumeration value="SPONTANEOUS"/>
            <xsd:enumeration value="INTERROGATED_BY_STATION"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="MeasurementGroups">
        <xsd:sequence>
            <xsd:element name="MeasurementGroup" type="da:MeasurementGroup" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MeasurementGroup">
        <xsd:sequence>
            <xsd:element name="Identification" type="xsd:string"/>
            <xsd:sequence>
                <xsd:element name="Measurements" type="da:Measurements"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Measurements">
        <xsd:sequence>
            <xsd:element name="Measurement" type="da:Measurement" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Measurement">
        <xsd:sequence>
            <xsd:element name="MeasurementElements" type="da:MeasurementElements"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MeasurementElements">
        <xsd:sequence>
            <xsd:choice minOccurs="1" maxOccurs="unbounded">
                <xsd:element name="FloatMeasurementElement" type="da:FloatMeasurementElement"/>
                <xsd:element name="BitmaskMeasurementElement" type="da:BitmaskMeasurementElement"/>
                <xsd:element name="TimestampMeasurementElement" type="da:TimestampMeasurementElement"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="MeasurementElement" abstract="true"/>

    <xsd:complexType name="BitmaskMeasurementElement">
        <xsd:complexContent>
            <xsd:extension base="da:MeasurementElement">
                <xsd:attribute name="value" type="xsd:byte"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="FloatMeasurementElement">
        <xsd:complexContent>
            <xsd:extension base="da:MeasurementElement">
                <xsd:attribute name="value" type="xsd:float"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="TimestampMeasurementElement">
        <xsd:complexContent>
            <xsd:extension base="da:MeasurementElement">
                <xsd:attribute name="value" type="xsd:long"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>


    <!--
    Types for device management
    -->

    <xsd:complexType name="RtuDevice">
        <xsd:sequence>
            <xsd:element name="DeviceIdentification" minOccurs="1" type="common:Identification" />

            <xsd:element name="ProtocolName" minOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="ProtocolVersion" minOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

            <xsd:element name="NetworkAddress" minOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DeviceModel">
        <xsd:sequence>
            <xsd:element name="Manufacturer" minOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ModelCode" minOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="255" />
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!--
    ##################################################################################
    ## Synchronous Request Elements
    ##################################################################################
    -->
    <xsd:element name="GetDeviceModelRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DeviceIdentification" type="common:Identification" minOccurs="1"
                    maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetDeviceModelAsyncResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetHealthStatusRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DeviceIdentification" type="common:Identification" minOccurs="1"
                    maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetHealthStatusAsyncResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="AddRtuDeviceRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="RtuDevice" type="da:RtuDevice" />
                <xsd:element name="DeviceModel" type="da:DeviceModel" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="AddRtuDeviceAsyncResponse">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="common:AsyncResponse"/>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetPQValuesRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DeviceIdentification" type="common:Identification" minOccurs="1"
                    maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetPQValuesAsyncResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetPQValuesPeriodicRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DeviceIdentification" type="common:Identification" minOccurs="1"
                    maxOccurs="1"/>
                <xsd:element name="From" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="To" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetPQValuesPeriodicAsyncResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetMeasurementReportRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="CorrelationUid" type="common:CorrelationUid"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!--
    ##################################################################################
    ## Asynchronous Request Elements
    ##################################################################################
    -->
    <xsd:element name="GetDeviceModelAsyncRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AsyncRequest" type="common:AsyncRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetHealthStatusAsyncRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AsyncRequest" type="common:AsyncRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetPQValuesAsyncRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AsyncRequest" type="common:AsyncRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetPQValuesPeriodicAsyncRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AsyncRequest" type="common:AsyncRequest"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!--
    ##################################################################################
    ## Response Elements
    ##################################################################################
    -->

    <xsd:element name="GetDeviceModelResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Result" type="common:OsgpResultType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="DeviceIdentification" type="common:Identification" minOccurs="1"
                             maxOccurs="1"/>
                <xsd:element name="PhysicalServer" type="da:PhysicalServerType" minOccurs="1"
                             maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetHealthStatusResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Result" type="common:OsgpResultType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="DeviceIdentification" type="common:Identification" minOccurs="1"
                             maxOccurs="1"/>
                <xsd:element name="HealthStatus" type="da:HealthStatusType" minOccurs="1" maxOccurs="1"
                />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetPQValuesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Result" type="common:OsgpResultType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="DeviceIdentification" type="common:Identification" minOccurs="1"
                             maxOccurs="1"/>
                <xsd:element name="LogicalDevice" type="da:LogicalDeviceType" minOccurs="0"
                             maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetPQValuesPeriodicResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Result" type="common:OsgpResultType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="DeviceIdentification" type="common:Identification" minOccurs="1"
                             maxOccurs="1"/>
                <xsd:element name="LogicalDevice" type="da:LogicalDeviceType" minOccurs="0"
                             maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="GetMeasurementReportResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Result" type="common:OsgpResultType"/>
                <xsd:element name="MeasurementReport" type="da:MeasurementReport"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
