osgp/shared/osgp-ws-admin/src/main/resources/AdminDeviceManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:dman="http://www.opensmartgridplatform.org/schemas/admin/devicemanagement/2014/10"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.opensmartgridplatform.org/definitions/admin/devicemanagement-v1.0"
  targetNamespace="http://www.opensmartgridplatform.org/definitions/admin/devicemanagement-v1.0">

  <wsdl:types>
    <xsd:schema
      targetNamespace="http://www.opensmartgridplatform.org/definitions/admin/devicemanagement/imports"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:import
        namespace="http://www.opensmartgridplatform.org/schemas/admin/devicemanagement/2014/10"
        schemaLocation="schemas/devicemanagement-ws-admin.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SoapHeaders">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="FindMessageLogsResponse">
    <wsdl:part element="dman:FindMessageLogsResponse" name="FindMessageLogsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindMessageLogsRequest">
    <wsdl:part element="dman:FindMessageLogsRequest" name="FindMessageLogsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindDeviceAuthorisationsRequest">
    <wsdl:part element="dman:FindDeviceAuthorisationsRequest"
      name="FindDeviceAuthorisationsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindDeviceAuthorisationsResponse">
    <wsdl:part element="dman:FindDeviceAuthorisationsResponse"
      name="FindDeviceAuthorisationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindDevicesWhichHaveNoOwnerRequest">
    <wsdl:part element="dman:FindDevicesWhichHaveNoOwnerRequest"
      name="FindDevicesWhichHaveNoOwnerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindDevicesWhichHaveNoOwnerResponse">
    <wsdl:part element="dman:FindDevicesWhichHaveNoOwnerResponse"
      name="FindDevicesWhichHaveNoOwnerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveOrganisationRequest">
    <wsdl:part element="dman:RemoveOrganisationRequest" name="RemoveOrganisationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveOrganisationResponse">
    <wsdl:part element="dman:RemoveOrganisationResponse" name="RemoveOrganisationResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="ActivateOrganisationRequest">
    <wsdl:part element="dman:ActivateOrganisationRequest"
      name="ActivateOrganisationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ActivateOrganisationResponse">
    <wsdl:part element="dman:ActivateOrganisationResponse"
      name="ActivateOrganisationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangeOrganisationRequest">
    <wsdl:part element="dman:ChangeOrganisationRequest" name="ChangeOrganisationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChangeOrganisationResponse">
    <wsdl:part element="dman:ChangeOrganisationResponse" name="ChangeOrganisationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateDeviceAuthorisationsRequest">
    <wsdl:part element="dman:UpdateDeviceAuthorisationsRequest"
      name="UpdateDeviceAuthorisationsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateOrganisationRequest">
    <wsdl:part element="dman:CreateOrganisationRequest" name="CreateOrganisationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateOrganisationResponse">
    <wsdl:part element="dman:CreateOrganisationResponse" name="CreateOrganisationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateDeviceAuthorisationsResponse">
    <wsdl:part element="dman:UpdateDeviceAuthorisationsResponse"
      name="UpdateDeviceAuthorisationsResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="RemoveDeviceRequest">
    <wsdl:part element="dman:RemoveDeviceRequest" name="RemoveDeviceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RemoveDeviceResponse">
    <wsdl:part element="dman:RemoveDeviceResponse" name="RemoveDeviceResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SetOwnerRequest">
    <wsdl:part element="dman:SetOwnerRequest" name="SetOwnerRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetOwnerResponse">
    <wsdl:part element="dman:SetOwnerResponse" name="SetOwnerResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="UpdateKeyRequest">
    <wsdl:part element="dman:UpdateKeyRequest" name="UpdateKeyRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateKeyResponse">
    <wsdl:part element="dman:UpdateKeyResponse" name="UpdateKeyResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="RevokeKeyRequest">
    <wsdl:part element="dman:RevokeKeyRequest" name="RevokeKeyRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RevokeKeyResponse">
    <wsdl:part element="dman:RevokeKeyResponse" name="RevokeKeyResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetProtocolInfosRequest">
    <wsdl:part element="dman:GetProtocolInfosRequest" name="GetProtocolInfosRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetProtocolInfosResponse">
    <wsdl:part element="dman:GetProtocolInfosResponse" name="GetProtocolInfosResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="UpdateDeviceProtocolRequest">
    <wsdl:part element="dman:UpdateDeviceProtocolRequest"
      name="UpdateDeviceProtocolRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateDeviceProtocolResponse">
    <wsdl:part element="dman:UpdateDeviceProtocolResponse"
      name="UpdateDeviceProtocolResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SetCommunicationNetworkInformationRequest">
    <wsdl:part element="dman:SetCommunicationNetworkInformationRequest"
      name="SetCommunicationNetworkInformationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetCommunicationNetworkInformationResponse">
    <wsdl:part element="dman:SetCommunicationNetworkInformationResponse"
      name="SetCommunicationNetworkInformationResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="DeviceManagementPort">
    <wsdl:operation name="FindMessageLogs">
      <wsdl:input message="tns:FindMessageLogsRequest" name="FindMessageLogsRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindMessageLogsResponse"
        name="FindMessageLogsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDeviceAuthorisations">
      <wsdl:input message="tns:FindDeviceAuthorisationsRequest"
        name="FindDeviceAuthorisationsRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindDeviceAuthorisationsResponse"
        name="FindDeviceAuthorisationsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDevicesWhichHaveNoOwner">
      <wsdl:input message="tns:FindDevicesWhichHaveNoOwnerRequest"
        name="FindDevicesWhichHaveNoOwnerRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindDevicesWhichHaveNoOwnerResponse"
        name="FindDevicesWhichHaveNoOwnerResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrganisation">
      <wsdl:input message="tns:CreateOrganisationRequest"
        name="CreateOrganisationRequest">
      </wsdl:input>
      <wsdl:output message="tns:CreateOrganisationResponse"
        name="CreateOrganisationResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveOrganisation">
      <wsdl:input message="tns:RemoveOrganisationRequest"
        name="RemoveOrganisationRequest">
      </wsdl:input>
      <wsdl:output message="tns:RemoveOrganisationResponse"
        name="RemoveOrganisationResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ActivateOrganisation">
      <wsdl:input message="tns:ActivateOrganisationRequest"
        name="ActivateOrganisationRequest">
      </wsdl:input>
      <wsdl:output message="tns:ActivateOrganisationResponse"
        name="ActivateOrganisationResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ChangeOrganisation">
      <wsdl:input message="tns:ChangeOrganisationRequest"
        name="ChangeOrganisationRequest">
      </wsdl:input>
      <wsdl:output message="tns:ChangeOrganisationResponse"
        name="ChangeOrganisationResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceAuthorisations">
      <wsdl:input message="tns:UpdateDeviceAuthorisationsRequest"
        name="UpdateDeviceAuthorisationsRequest">
      </wsdl:input>
      <wsdl:output message="tns:UpdateDeviceAuthorisationsResponse"
        name="UpdateDeviceAuthorisationsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDevice">
      <wsdl:input message="tns:RemoveDeviceRequest" name="RemoveDeviceRequest">
      </wsdl:input>
      <wsdl:output message="tns:RemoveDeviceResponse" name="RemoveDeviceResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetOwner">
      <wsdl:input message="tns:SetOwnerRequest" name="SetOwnerRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetOwnerResponse" name="SetOwnerResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateKey">
      <wsdl:input message="tns:UpdateKeyRequest" name="UpdateKeyRequest">
      </wsdl:input>
      <wsdl:output message="tns:UpdateKeyResponse" name="UpdateKeyResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RevokeKey">
      <wsdl:input message="tns:RevokeKeyRequest" name="RevokeKeyRequest">
      </wsdl:input>
      <wsdl:output message="tns:RevokeKeyResponse" name="RevokeKeyResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetProtocolInfos">
      <wsdl:input message="tns:GetProtocolInfosRequest" name="GetProtocolInfosRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetProtocolInfosResponse"
        name="GetProtocolInfosResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateDeviceProtocol">
      <wsdl:input message="tns:UpdateDeviceProtocolRequest"
        name="UpdateDeviceProtocolRequest">
      </wsdl:input>
      <wsdl:output message="tns:UpdateDeviceProtocolResponse"
        name="UpdateDeviceProtocolResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetCommunicationNetworkInformation">
      <wsdl:input message="tns:SetCommunicationNetworkInformationRequest"
        name="SetCommunicationNetworkInformationRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetCommunicationNetworkInformationResponse"
        name="SetCommunicationNetworkInformationResponse">
      </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="DeviceManagementPortSoap11" type="tns:DeviceManagementPort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindMessageLogs">
      <soap:operation soapAction="" />
      <wsdl:input name="FindMessageLogsRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindMessageLogsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDeviceAuthorisations">
      <soap:operation soapAction="" />
      <wsdl:input name="FindDeviceAuthorisationsRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindDeviceAuthorisationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindDevicesWhichHaveNoOwner">
      <soap:operation soapAction="" />
      <wsdl:input name="FindDevicesWhichHaveNoOwnerRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindDevicesWhichHaveNoOwnerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="CreateOrganisation">
      <soap:operation soapAction="" />
      <wsdl:input name="CreateOrganisationRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateOrganisationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveOrganisation">
      <soap:operation soapAction="" />
      <wsdl:input name="RemoveOrganisationRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoveOrganisationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ActivateOrganisation">
      <soap:operation soapAction="" />
      <wsdl:input name="ActivateOrganisationRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ActivateOrganisationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ChangeOrganisation">
      <soap:operation soapAction="" />
      <wsdl:input name="ChangeOrganisationRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ChangeOrganisationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDeviceAuthorisations">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateDeviceAuthorisationsRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateDeviceAuthorisationsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RemoveDevice">
      <soap:operation soapAction="" />
      <wsdl:input name="RemoveDeviceRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RemoveDeviceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetOwner">
      <soap:operation soapAction="" />
      <wsdl:input name="SetOwnerRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetOwnerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateKey">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateKeyRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateKeyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RevokeKey">
      <soap:operation soapAction="" />
      <wsdl:input name="RevokeKeyRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RevokeKeyResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetProtocolInfos">
      <soap:operation soapAction="" />
      <wsdl:input name="GetProtocolInfosRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetProtocolInfosResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateDeviceProtocol">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateDeviceProtocolRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateDeviceProtocolResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetCommunicationNetworkInformation">
      <soap:operation soapAction="" />
      <wsdl:input name="SetCommunicationNetworkInformationRequest">
        <soap:header message="tns:SoapHeaders" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="UserName"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetCommunicationNetworkInformationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  <wsdl:service name="DeviceManagementPortService">
    <wsdl:port binding="tns:DeviceManagementPortSoap11" name="DeviceManagementPortSoap11">
      <soap:address
        location="http://localhost:8080/osgp-adapter-ws-admin/admin/deviceManagementService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>