osgp/shared/osgp-ws-smartmetering/src/main/resources/schemas/base-ws-smartmetering.xsd

<!-- Copyright 2015 Smart Society Services B.V. Licensed under the Apache
  License, Version 2.0 (the "License"); you may not use this file except in
  compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 -->
<xsd:schema xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
  xmlns:tns="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
  elementFormDefault="qualified" targetNamespace="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  jxb:version="2.0">

  <xsd:complexType name="Page">
    <xsd:sequence>
      <xsd:element name="TotalPages" type="xsd:int" />
      <xsd:element name="PageSize" type="xsd:int" />
      <xsd:element name="CurrentPage" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Response">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Result"
        type="tns:OsgpResultType" />
      <xsd:element minOccurs="0" name="exception"
        type="xsd:string" />
      <xsd:element minOccurs="0" name="resultString"
        type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActionResponseData">
    <xsd:complexContent>
      <xsd:extension base="tns:Response">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FaultResponseData">
    <xsd:complexContent>
      <xsd:extension base="tns:Response">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Code" type="xsd:int" />
          <xsd:element name="Message" type="xsd:string" />
          <xsd:element minOccurs="0" name="Component"
            type="xsd:string" />
          <xsd:element minOccurs="0" name="InnerException"
            type="xsd:string" />
          <xsd:element minOccurs="0" name="InnerMessage"
            type="xsd:string" />
          <xsd:element minOccurs="0" name="Parameters"
            type="tns:FaultResponseParameters" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FaultResponseParameters">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Parameter"
        type="tns:FaultResponseParameter">
        <xsd:annotation>
          <xsd:appinfo>
            <jxb:property name="ParameterList" />
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultResponseParameter">
    <xsd:sequence>
      <xsd:element name="Key" type="xsd:string" />
      <xsd:element name="Value" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Action">
    <xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Query">
    <xsd:complexContent>
      <xsd:extension base="tns:Action">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="Command">
    <xsd:complexContent>
      <xsd:extension base="tns:Action">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AsyncRequest">
    <xsd:annotation>
      <xsd:documentation>for retrieving data after it becomes
        available
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:AsyncProcessingInfo">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="AsyncResponse">
    <xsd:annotation>
      <xsd:documentation>response to a request for data, use this
        to
        retrieve data
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:AsyncProcessingInfo">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType abstract="true" name="AsyncProcessingInfo">
    <xsd:annotation>
      <xsd:documentation>for connecting request for data to an
        asynchronous
        response
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DeviceIdentification" type="tns:DeviceIdentification" />
      <xsd:element name="CorrelationUid" type="tns:CorrelationUid" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ObisCodeValues">
    <xsd:sequence>
      <xsd:element name="a" type="xsd:unsignedByte" />
      <xsd:element name="b" type="xsd:unsignedByte" />
      <xsd:element name="c" type="xsd:unsignedByte" />
      <xsd:element name="d" type="xsd:unsignedByte" />
      <xsd:element name="e" type="xsd:unsignedByte" />
      <xsd:element name="f" type="xsd:unsignedByte" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CaptureObjects">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="CaptureObject" type="tns:CaptureObject" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CaptureObject">
    <xsd:sequence>
      <xsd:element name="ClassId" type="xsd:long" />
      <xsd:element name="DataIndex" type="xsd:long" />
      <xsd:element name="AttributeIndex" type="xsd:integer" />
      <xsd:element name="LogicalName" type="xsd:string" />
      <xsd:element name="unit" type="tns:OsgpUnitType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CaptureObjectDefinitions">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="CaptureObject" type="tns:CaptureObjectDefinition" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="CaptureObjectDefinition">
    <xsd:sequence>
      <xsd:element name="ClassId" type="xsd:unsignedShort" />
      <xsd:element name="LogicalName" type="tns:ObisCodeValues" />
      <xsd:element name="AttributeIndex">
        <xsd:simpleType>
          <xsd:restriction base="xsd:byte">
            <xsd:minInclusive value="0" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element default="0" minOccurs="0"
        name="DataIndex" type="xsd:unsignedShort" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProfileEntries">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="ProfileEntry" type="tns:ProfileEntry" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProfileEntry">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0"
        name="ProfileEntryValue" type="tns:ProfileEntryValue" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProfileEntryValue">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element name="StringValue" type="xsd:string" />
      <xsd:element name="DateValue" type="xsd:dateTime" />
      <xsd:element name="FloatValue" type="xsd:decimal" />
      <xsd:element name="LongValue" type="xsd:long" />
    </xsd:choice>
  </xsd:complexType>

  <xsd:complexType name="MbusShortEquipmentIdentifier">
    <xsd:sequence>
      <xsd:element name="IdentificationNumber" nillable="true"
        type="tns:MbusIdentificationNumber" />
      <xsd:element name="ManufacturerIdentification" nillable="true"
        type="tns:MbusManufacturerIdentification" />
      <xsd:element name="VersionIdentification" nillable="true"
        type="tns:MbusVersionIdentification" />
      <xsd:element name="DeviceTypeIdentification" nillable="true"
        type="tns:MbusDeviceTypeIdentification" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="OrganisationIdentification" type="tns:Identification" />

  <xsd:element name="UserName" type="tns:Identification" />

  <xsd:element name="ApplicationName" type="tns:Identification" />

  <xsd:element name="MessagePriority" type="tns:MessagePriority" />

  <xsd:element name="BypassRetry" type="tns:BypassRetry" />

  <xsd:element name="ScheduleTime" type="tns:ScheduleTime" />

  <xsd:element name="MaxScheduleTime" type="tns:MaxScheduleTime" />

  <xsd:element name="ResponseUrl" type="tns:ResponseUrl" />

  <!-- DSMR Alarm Codes -->
  <xsd:element name="FunctionalFault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Code" type="xsd:int" />
        <xsd:element name="Message" type="xsd:string" />
        <xsd:element name="Component" type="xsd:string" />
        <xsd:element name="InnerException" type="xsd:string" />
        <xsd:element name="InnerMessage" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- System Events -->
  <xsd:element name="TechnicalFault">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Message" type="xsd:string" />
        <xsd:element name="Component" type="xsd:string" />
        <xsd:element name="InnerException" type="xsd:string" />
        <xsd:element name="InnerMessage" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:simpleType name="MessagePriority">
    <xsd:restriction base="xsd:int">
      <xsd:maxInclusive value="9" />
      <xsd:minInclusive value="0" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="BypassRetry">
    <xsd:restriction base="xsd:boolean" />
  </xsd:simpleType>

  <xsd:simpleType name="ScheduleTime">
    <xsd:annotation>
      <xsd:documentation>
        Milliseconds since 1970-01-01T00:00:00Z
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long" />
  </xsd:simpleType>

  <xsd:simpleType name="MaxScheduleTime">
    <xsd:annotation>
      <xsd:documentation>
        Milliseconds since 1970-01-01T00:00:00Z
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:long" />
  </xsd:simpleType>

  <xsd:simpleType name="Identification">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="40" />
      <xsd:minLength value="1" />
      <xsd:pattern value="[^ ]{0,40}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ResponseUrl">
    <xsd:restriction base="xsd:anyURI">
      <xsd:minLength value="10" />
      <xsd:pattern value="https?://.+" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DeviceIdentification">
    <xsd:restriction base="tns:AlphaNumericType">
      <xsd:length value="17" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AlphaNumericType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-zA-Z0-9 ]+" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CorrelationUid">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:minLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AlarmType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CLOCK_INVALID" />
      <xsd:enumeration value="REPLACE_BATTERY" />
      <xsd:enumeration value="POWER_UP" />
      <xsd:enumeration value="AUXILIARY_EVENT" />
      <xsd:enumeration value="CONFIGURATION_CHANGED" />
      <xsd:enumeration value="PROGRAM_MEMORY_ERROR" />
      <xsd:enumeration value="RAM_ERROR" />
      <xsd:enumeration value="NV_MEMORY_ERROR" />
      <xsd:enumeration value="MEASUREMENT_SYSTEM_ERROR" />
      <xsd:enumeration value="WATCHDOG_ERROR" />
      <xsd:enumeration value="FRAUD_ATTEMPT" />
      <xsd:enumeration value="COMMUNICATION_ERROR_M_BUS_CHANNEL_1" />
      <xsd:enumeration value="COMMUNICATION_ERROR_M_BUS_CHANNEL_2" />
      <xsd:enumeration value="COMMUNICATION_ERROR_M_BUS_CHANNEL_3" />
      <xsd:enumeration value="COMMUNICATION_ERROR_M_BUS_CHANNEL_4" />
      <xsd:enumeration value="FRAUD_ATTEMPT_M_BUS_CHANNEL_1" />
      <xsd:enumeration value="FRAUD_ATTEMPT_M_BUS_CHANNEL_2" />
      <xsd:enumeration value="FRAUD_ATTEMPT_M_BUS_CHANNEL_3" />
      <xsd:enumeration value="FRAUD_ATTEMPT_M_BUS_CHANNEL_4" />
      <xsd:enumeration value="LAST_GASP" />
      <xsd:enumeration value="LAST_GASP_TEST" />
      <xsd:enumeration value="NEW_M_BUS_DEVICE_DISCOVERED_CHANNEL_1" />
      <xsd:enumeration value="NEW_M_BUS_DEVICE_DISCOVERED_CHANNEL_2" />
      <xsd:enumeration value="NEW_M_BUS_DEVICE_DISCOVERED_CHANNEL_3" />
      <xsd:enumeration value="NEW_M_BUS_DEVICE_DISCOVERED_CHANNEL_4" />
      <xsd:enumeration value="PHASE_OUTAGE_DETECTED_L1" />
      <xsd:enumeration value="PHASE_OUTAGE_DETECTED_L2" />
      <xsd:enumeration value="PHASE_OUTAGE_DETECTED_L3" />
      <xsd:enumeration value="PHASE_OUTAGE_TEST_INDICATION" />
      <xsd:enumeration value="VOLTAGE_SAG_IN_PHASE_DETECTED_L1" />
      <xsd:enumeration value="VOLTAGE_SAG_IN_PHASE_DETECTED_L2" />
      <xsd:enumeration value="VOLTAGE_SAG_IN_PHASE_DETECTED_L3" />
      <xsd:enumeration value="VOLTAGE_SWELL_IN_PHASE_DETECTED_L1" />
      <xsd:enumeration value="VOLTAGE_SWELL_IN_PHASE_DETECTED_L2" />
      <xsd:enumeration value="VOLTAGE_SWELL_IN_PHASE_DETECTED_L3" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="SystemEventType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="INVOCATION_COUNTER_THRESHOLD_REACHED" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="OsgpUnitType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED">
        <xsd:annotation>
          <xsd:documentation>UNDEFINED</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="Y">
        <xsd:annotation>
          <xsd:documentation>YEAR</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MO">
        <xsd:annotation>
          <xsd:documentation>MONTH</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="WK">
        <xsd:annotation>
          <xsd:documentation>WEEK</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="D">
        <xsd:annotation>
          <xsd:documentation>DAY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="H">
        <xsd:annotation>
          <xsd:documentation>HOUR</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MIN">
        <xsd:annotation>
          <xsd:documentation>MIN</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SD">
        <xsd:annotation>
          <xsd:documentation>SECOND</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DEGREE">
        <xsd:annotation>
          <xsd:documentation>DEGREE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DEGREE_CELCIUS">
        <xsd:annotation>
          <xsd:documentation>DEGREE_CELCIUS</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="CURRENCY">
        <xsd:annotation>
          <xsd:documentation>CURRENCY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M">
        <xsd:annotation>
          <xsd:documentation>METER</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="METER_PER_SECOND">
        <xsd:annotation>
          <xsd:documentation>METER_PER_SECOND</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M3">
        <xsd:annotation>
          <xsd:documentation>M3</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M3_FLUX">
        <xsd:annotation>
          <xsd:documentation>M3_FLUX</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="M3_FLUX_CORR">
        <xsd:annotation>
          <xsd:documentation>M3_FLUX_CORR</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VOLUME_FLUX">
        <xsd:annotation>
          <xsd:documentation>VOLUME_FLUX</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VOLUME_FLUX_CORR">
        <xsd:annotation>
          <xsd:documentation>VOLUME_FLUX_CORR</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="L">
        <xsd:annotation>
          <xsd:documentation>LITRE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KILOGRAM">
        <xsd:annotation>
          <xsd:documentation>KILOGRAM</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NEWTON">
        <xsd:annotation>
          <xsd:documentation>NEWTON</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="NEWTON_METER">
        <xsd:annotation>
          <xsd:documentation>NEWTON_METER</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PASCAL">
        <xsd:annotation>
          <xsd:documentation>PASCAL</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="BAR">
        <xsd:annotation>
          <xsd:documentation>BAR</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="J">
        <xsd:annotation>
          <xsd:documentation>JOULE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="JOULE_PER_HOUR">
        <xsd:annotation>
          <xsd:documentation>JOULE_PER_HOUR</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="W">
        <xsd:annotation>
          <xsd:documentation>WATT</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VOLT_AMPERE">
        <xsd:annotation>
          <xsd:documentation>VOLT_AMPERE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VAR">
        <xsd:annotation>
          <xsd:documentation>VAR</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KWH">
        <xsd:annotation>
          <xsd:documentation>KWH</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VOLT_AMP_HOUR">
        <xsd:annotation>
          <xsd:documentation>VOLT_AMP_HOUR</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VAR_HOUR">
        <xsd:annotation>
          <xsd:documentation>VAR_HOUR</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AMP">
        <xsd:annotation>
          <xsd:documentation>AMPERE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="COULOMB">
        <xsd:annotation>
          <xsd:documentation>COULOMB</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="V">
        <xsd:annotation>
          <xsd:documentation>VOLT</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VOLT_PER_METER">
        <xsd:annotation>
          <xsd:documentation>VOLT_PER_METER</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="FARAD">
        <xsd:annotation>
          <xsd:documentation>FARAD</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="O">
        <xsd:annotation>
          <xsd:documentation>OHM</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="RESTISTIVITY">
        <xsd:annotation>
          <xsd:documentation>RESTISTIVITY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="WEBER">
        <xsd:annotation>
          <xsd:documentation>WEBER</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="TESLA">
        <xsd:annotation>
          <xsd:documentation>TESLA</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AMP_PER_METER">
        <xsd:annotation>
          <xsd:documentation>AMP_PER_METER</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HENRY">
        <xsd:annotation>
          <xsd:documentation>HENRY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="HERTZ">
        <xsd:annotation>
          <xsd:documentation>HERTZ</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ACTIVE_ENERGY">
        <xsd:annotation>
          <xsd:documentation>ACTIVE_ENERGY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="REACTIVE_ENERGY">
        <xsd:annotation>
          <xsd:documentation>REACTIVE_ENERGY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="APPARENT_ENERGY">
        <xsd:annotation>
          <xsd:documentation>APPARENT_ENERGY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VOLT_SQUARED_HOURS">
        <xsd:annotation>
          <xsd:documentation>VOLT_SQUARED_HOURS</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AMP_SQUARED_HOURS">
        <xsd:annotation>
          <xsd:documentation>AMP_SQUARED_HOURS</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KG_PER_SECOND">
        <xsd:annotation>
          <xsd:documentation>KG_PER_SECOND</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="SIEMENS">
        <xsd:annotation>
          <xsd:documentation>SIEMENS</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="KELVIN">
        <xsd:annotation>
          <xsd:documentation>KELVIN</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VOLT_PULSE_VALUE">
        <xsd:annotation>
          <xsd:documentation>VOLT_PULSE_VALUE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AMP_PULSE_VALUE">
        <xsd:annotation>
          <xsd:documentation>AMP_PULSE_VALUE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="VOLUME">
        <xsd:annotation>
          <xsd:documentation>VOLUME</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PERCENTAGE">
        <xsd:annotation>
          <xsd:documentation>PERCENTAGE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="AMP_HOUR">
        <xsd:annotation>
          <xsd:documentation>AMP_HOUR</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ENGERY">
        <xsd:annotation>
          <xsd:documentation>ENGERY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="WOBBE">
        <xsd:annotation>
          <xsd:documentation>WOBBE</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MOLE_PERCENT">
        <xsd:annotation>
          <xsd:documentation>MOLE_PERCENT</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="MASS_DENSITY">
        <xsd:annotation>
          <xsd:documentation>MASS_DENSITY</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="PASCAL_SECOND">
        <xsd:annotation>
          <xsd:documentation>PASCAL_SECOND</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="JOULE_KG">
        <xsd:annotation>
          <xsd:documentation>JOULE_KG</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DB_MILLIWAT">
        <xsd:annotation>
          <xsd:documentation>DB_MILLIWAT</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DB_MICROVOLT">
        <xsd:annotation>
          <xsd:documentation>DB_MICROVOLT</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="DB">
        <xsd:annotation>
          <xsd:documentation>DB</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="COUNT">
        <xsd:annotation>
          <xsd:documentation>no unit, unitless, count</xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="AmrProfileStatusCodeFlag">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CRITICAL_ERROR" />
      <xsd:enumeration value="CLOCK_INVALID" />
      <xsd:enumeration value="DATA_NOT_VALID" />
      <xsd:enumeration value="DAYLIGHT_SAVING" />
      <xsd:enumeration value="NOT_USED" />
      <xsd:enumeration value="CLOCK_ADJUSTED" />
      <xsd:enumeration value="RECOVERED_VALUE" />
      <xsd:enumeration value="POWER_DOWN" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="OsgpResultType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="OK" />
      <xsd:enumeration value="NOT FOUND" />
      <xsd:enumeration value="NOT OK" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CosemDateType">
    <xsd:annotation>
      <xsd:documentation>
        2 bytes for year (century byte and year byte, 0xFFFF = undefined).
        1 for month, 0xFF (undefined), 0xFD (end daylight saving), 0xFE
        (begin daylight saving).
        1 for day of month, 0xFF (undefined), 0xFD (2nd last day of month),
        0xFE (last day of month).
        1 for day of week, 1 is monday, 0xFF (undefined)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:hexBinary">
      <xsd:length value="5" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CosemTimeType">
    <xsd:annotation>
      <xsd:documentation>
        1 byte for hour, minute, second and hundreds, 0xFF = undefined
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:hexBinary">
      <xsd:length value="4" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CosemDateTimeType">
    <xsd:annotation>
      <xsd:documentation>
        CosemDate followed by CosemTime followed by deviation and clock status.
        deviation (minutes of local time to UTC) high byte and low byte.
        clock status: 0x80 (daylight savings active), 0x0 (no
        status)
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:hexBinary">
      <xsd:length value="12" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DateTimeDeviation">
    <xsd:annotation>
      <xsd:documentation>
        Integer value in the range -720...720 repesenting a specified
        deviation value in minutes of local time to UTC for a COSEM
        date-time.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:maxInclusive value="720" />
      <xsd:minInclusive value="-720" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CosemObisCode">
    <xsd:restriction base="xsd:hexBinary">
      <xsd:length value="6" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="DeviceLifecycleStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NEW_IN_INVENTORY" />
      <xsd:enumeration value="READY_FOR_USE" />
      <xsd:enumeration value="REGISTERED" />
      <xsd:enumeration value="REGISTERED_BUILD_IN_FAILED" />
      <xsd:enumeration value="REGISTERED_INSTALL_FAILED" />
      <xsd:enumeration value="REGISTERED_UPDATE_FAILED" />
      <xsd:enumeration value="IN_USE" />
      <xsd:enumeration value="RETURNED_TO_INVENTORY" />
      <xsd:enumeration value="UNDER_TEST" />
      <xsd:enumeration value="DESTROYED" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="Channel">
    <xsd:restriction base="xsd:unsignedByte">
      <xsd:maxInclusive value="4" />
      <xsd:minInclusive value="1" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="MbusIdentificationNumber">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[0-9]{8}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="MbusManufacturerIdentification">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[A-Z]{3}" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="MbusVersionIdentification">
    <xsd:restriction base="xsd:unsignedByte" />
  </xsd:simpleType>

  <xsd:simpleType name="MbusDeviceTypeIdentification">
    <xsd:restriction base="xsd:unsignedByte" />
  </xsd:simpleType>

  <xsd:simpleType name="TimeZoneType">
    <xsd:restriction base="xsd:string" />
  </xsd:simpleType>
</xsd:schema>
