osgp/shared/osgp-ws-smartmetering/src/main/resources/schemas/configuration-ws-smartmetering.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-configuration/2014/10"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  elementFormDefault="qualified"
  targetNamespace="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-configuration/2014/10">

  <xsd:import namespace="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    schemaLocation="base-ws-smartmetering.xsd" />

  <xsd:element name="SetSpecialDaysRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SpecialDaysRequestData" type="tns:SpecialDaysRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetSpecialDaysAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetSpecialDaysAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetSpecialDaysResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="GetFirmwareVersionRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetFirmwareVersionResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="FirmwareVersions" type="tns:FirmwareVersion" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="UpdateFirmwareRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:Identification" />
        <xsd:element name="FirmwareIdentification" type="common:Identification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateFirmwareAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateFirmwareAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateFirmwareResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetPushNotificationAlarmAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetPushNotificationAlarmResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="decodedMessage" type="xsd:string" />
        <xsd:element name="encodedMessage" type="xsd:hexBinary" />
        <xsd:sequence>
          <xsd:element name="alarm" type="common:AlarmType" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="UpdateFirmwareRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="FirmwareIdentification" type="common:Identification" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="UpdateFirmwareResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetConfigurationObjectResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="ConfigurationObject" type="tns:ConfigurationObject" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FirmwareVersion">
    <xsd:sequence>
      <xsd:element name="Version" type="xsd:string" />
      <xsd:element name="FirmwareModuleType" type="tns:FirmwareModuleType" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- Firmware Module Types -->
  <xsd:simpleType name="FirmwareModuleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACTIVE_FIRMWARE" />
      <xsd:enumeration value="MODULE_ACTIVE_FIRMWARE" />
      <xsd:enumeration value="COMMUNICATION_MODULE_ACTIVE_FIRMWARE" />
      <xsd:enumeration value="M_BUS_DRIVER_ACTIVE_FIRMWARE" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="GetFirmwareVersionGasRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
          <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetFirmwareVersionGasResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="FirmwareVersion" type="tns:FirmwareVersionGas" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="FirmwareVersionGas">
    <xsd:sequence>
      <xsd:element name="Version" type="xsd:hexBinary" />
      <xsd:element name="FirmwareModuleType" type="tns:FirmwareModuleGasType" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- Firmware Module Types -->
  <xsd:simpleType name="FirmwareModuleGasType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="SIMPLE_VERSION_INFO" />
    </xsd:restriction>
  </xsd:simpleType>

  <!-- For the support of single GetFirmwareVersion support -->
  <xsd:element name="GetFirmwareVersionRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFirmwareVersionAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFirmwareVersionAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFirmwareVersionResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:sequence>
          <xsd:element name="FirmwareVersion" type="tns:FirmwareVersion" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetFirmwareVersionGasRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFirmwareVersionGasAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetFirmwareVersionGasAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetFirmwareVersionGasResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:sequence>
          <xsd:element name="FirmwareVersion" type="tns:FirmwareVersionGas" />
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetConfigurationObjectRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetConfigurationObjectRequestData"
          type="tns:SetConfigurationObjectRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetConfigurationObjectAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetConfigurationObjectAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetConfigurationObjectResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetConfigurationObjectRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetConfigurationObjectAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetConfigurationObjectAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetConfigurationObjectResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="ConfigurationObject" type="tns:ConfigurationObject"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetPushSetupAlarmRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetPushSetupAlarmRequestData"
          type="tns:SetPushSetupAlarmRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupAlarmAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupAlarmAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupAlarmResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetPushSetupLastGaspRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetPushSetupLastGaspRequestData" type="tns:SetPushSetupLastGaspRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupLastGaspAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupLastGaspAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupLastGaspResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetPushSetupSmsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetPushSetupSmsRequestData" type="tns:SetPushSetupSmsRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupSmsAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupSmsAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupSmsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetPushSetupUdpRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupUdpAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupUdpAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupUdpResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetThdConfigurationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetThdConfigurationRequestData" type="tns:SetThdConfigurationRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetThdConfigurationAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetThdConfigurationAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetThdConfigurationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetAlarmNotificationsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetAlarmNotificationsRequestData"
          type="tns:SetAlarmNotificationsRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetAlarmNotificationsAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetAlarmNotificationsAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetAlarmNotificationsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="SetKeyOnGMeterRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="MbusDeviceIdentification" type="common:DeviceIdentification" />
          <xsd:element name="SecretType" type="tns:SecretType" />
          <xsd:element name="CloseOpticalPort" type="xsd:boolean" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="SetKeyOnGMeterRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetKeyOnGMeterRequestData" type="tns:SetKeyOnGMeterRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetKeyOnGMeterAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetKeyOnGMeterAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetKeyOnGMeterResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="GetMbusEncryptionKeyStatusRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
          <xsd:element name="MbusDeviceIdentification" type="common:DeviceIdentification" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetMbusEncryptionKeyStatusResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="MbusDeviceIdentification" type="common:DeviceIdentification" />
          <xsd:element name="EncryptionKeyStatus" type="tns:EncryptionKeyStatus" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="GetMbusEncryptionKeyStatusRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetMbusEncryptionKeyStatusAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetMbusEncryptionKeyStatusAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetMbusEncryptionKeyStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="EncryptionKeyStatus" type="tns:EncryptionKeyStatus"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetMbusEncryptionKeyStatusByChannelRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GatewayDeviceIdentification"
          type="common:DeviceIdentification" />
        <xsd:element name="GetMbusEncryptionKeyStatusByChannelRequestData"
          type="tns:GetMbusEncryptionKeyStatusByChannelRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetMbusEncryptionKeyStatusByChannelAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetMbusEncryptionKeyStatusByChannelAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetMbusEncryptionKeyStatusByChannelResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="EncryptionKeyStatus" type="tns:EncryptionKeyStatus"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetActivityCalendarRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="ActivityCalendarData"
          type="tns:SetActivityCalendarRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetActivityCalendarAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetActivityCalendarAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetActivityCalendarResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetAdministrativeStatusRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- This is a special type so that GetAdministrativeStatus is supported 
    in bundle requests -->
  <xsd:complexType name="GetAdministrativeStatusData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="GetAdministrativeStatusAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetAdministrativeStatusAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetAdministrativeStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Enabled" type="tns:AdministrativeStatusType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetAdministrativeStatusRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="Enabled" type="tns:AdministrativeStatusType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetAdministrativeStatusAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetAdministrativeStatusAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetAdministrativeStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ReplaceKeysRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetKeysRequestData" type="tns:SetKeysRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReplaceKeysAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ReplaceKeysAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReplaceKeysResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GenerateAndReplaceKeysRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GenerateAndReplaceKeysAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="GenerateAndReplaceKeysData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GenerateAndReplaceKeysAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GenerateAndReplaceKeysResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetClockConfigurationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetClockConfigurationData"
          type="tns:SetClockConfigurationRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetClockConfigurationAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetClockConfigurationAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetClockConfigurationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ConfigureDefinableLoadProfileRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="DefinableLoadProfileConfigurationData"
          type="tns:DefinableLoadProfileConfigurationData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConfigureDefinableLoadProfileAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ConfigureDefinableLoadProfileAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ConfigureDefinableLoadProfileResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetMbusUserKeyByChannelRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetMbusUserKeyByChannelRequestData"
          type="tns:SetMbusUserKeyByChannelRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetMbusUserKeyByChannelAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetMbusUserKeyByChannelAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetMbusUserKeyByChannelResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <!-- DATATYPES -->

  <xsd:complexType name="SpecialDaysRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element maxOccurs="30" name="SpecialDays"
            type="tns:SpecialDay" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SpecialDay">
    <xsd:sequence>
      <xsd:element name="specialDayDate"
        type="common:CosemDateType" />
      <xsd:element name="dayId"
        type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AlarmNotifications">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="AlarmNotification" type="tns:AlarmNotification" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AlarmNotification">
    <xsd:sequence>
      <xsd:element name="AlarmType" type="common:AlarmType" />
      <xsd:element name="Enabled" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- Administrative Status Types -->
  <xsd:complexType name="AdministrativeStatusResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="AdministrativeStatusType" type="tns:AdministrativeStatusType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- Administrative Status Types -->
  <xsd:simpleType name="AdministrativeStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED" />
      <xsd:enumeration value="OFF" />
      <xsd:enumeration value="ON" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="AdministrativeStatusTypeData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="AdministrativeStatusType" type="tns:AdministrativeStatusType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetConfigurationObjectRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="ConfigurationObject" type="tns:ConfigurationObject" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetConfigurationObjectRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetPushSetupAlarmRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="PushSetupAlarm" type="tns:PushSetupAlarm" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetPushSetupLastGaspRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="PushSetupLastGasp" type="tns:PushSetupLastGasp" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetPushSetupSmsRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="PushSetupSms" type="tns:PushSetupSms" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetPushSetupUdpRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetThdConfigurationRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="ThdConfiguration" type="tns:ThdConfiguration" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetAlarmNotificationsRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="AlarmNotifications" type="tns:AlarmNotifications" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetActivityCalendarRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="ActivityCalendar" type="tns:ActivityCalendarType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ActivityCalendarType">
    <xsd:sequence>
      <xsd:element name="CalendarName" type="tns:NameType" />
      <xsd:element name="ActivatePassiveCalendarTime" type="common:CosemDateTimeType" />
      <xsd:element name="SeasonProfile" type="tns:SeasonsType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ConfigurationObject">
    <xsd:sequence>
      <xsd:element name="GprsOperationMode" type="tns:GprsOperationModeType" minOccurs="0" />
      <xsd:element name="ConfigurationFlags" type="tns:ConfigurationFlags" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ConfigurationFlags">
    <xsd:sequence maxOccurs="10">
      <xsd:element name="ConfigurationFlag" type="tns:ConfigurationFlag" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ConfigurationFlag">
    <xsd:sequence>
      <xsd:element name="ConfigurationFlagType" type="tns:ConfigurationFlagType" />
      <xsd:element name="Enabled" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- ConfigurationObjectFlagType -->
  <xsd:simpleType name="ConfigurationFlagType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DISCOVER_ON_OPEN_COVER" />
      <xsd:enumeration value="DISCOVER_ON_POWER_ON" />
      <xsd:enumeration value="DYNAMIC_MBUS_ADDRESS" />
      <xsd:enumeration value="PO_ENABLE" />
      <xsd:enumeration value="HLS_3_ON_P3_ENABLE" />
      <xsd:enumeration value="HLS_4_ON_P3_ENABLE" />
      <xsd:enumeration value="HLS_5_ON_P3_ENABLE" />
      <xsd:enumeration value="HLS_3_ON_P0_ENABLE" />
      <xsd:enumeration value="HLS_4_ON_P0_ENABLE" />
      <xsd:enumeration value="HLS_5_ON_P0_ENABLE" />
      <xsd:enumeration value="DIRECT_ATTACH_AT_POWER_ON" />
      <xsd:enumeration value="HLS_6_ON_P3_ENABLE" />
      <xsd:enumeration value="HLS_7_ON_P3_ENABLE" />
      <xsd:enumeration value="HLS_6_ON_P0_ENABLE" />
      <xsd:enumeration value="HLS_7_ON_P0_ENABLE" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="GprsOperationModeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ALWAYS_ON" />
      <xsd:enumeration value="TRIGGERED" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="PushSetupAlarm">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="Host" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>IP address or DNS name of the service
                listening for alarm notifications over TCP.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Port" type="xsd:integer" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Port number of the service listening
                for alarm notifications over TCP.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PushObjectList" type="tns:PushObject" minOccurs="0"
            maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PushObject">
    <xsd:sequence>
      <xsd:element name="ClassId" type="xsd:unsignedShort" />
      <xsd:element name="LogicalName" type="common:ObisCodeValues" />
      <xsd:element name="AttributeIndex">
        <xsd:simpleType>
          <xsd:restriction base="xsd:byte">
            <xsd:minInclusive value="0" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DataIndex" type="xsd:unsignedShort" minOccurs="0" default="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PushSetupSms">
    <xsd:sequence>
      <xsd:element name="Host" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>IP address or DNS name of the service
            listening for alarm notifications over TCP.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Port" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Port number of the service listening for
            alarm notifications over TCP.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="PushSetupLastGasp">
    <xsd:sequence>
      <xsd:element name="Host" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>IP address or DNS name of the service
            listening for alarm notifications over UDP.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Port" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Port number of the service listening for
            alarm notifications over UDP.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ThdConfiguration">
    <xsd:sequence>
      <xsd:element name="ThdMinDurationNormalToOver" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>The min duration for current THD Over-limit (Normal to over).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ThdMinDurationOverToNormal" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>The min duration for current THD Over-limit (Over to normal).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ThdTimeThreshold" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>The time threshold for current THD Over-limit .</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ThdValueHysteresis" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The value hysteresis for current THD Over-limit.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ThdValueThreshold" type="xsd:int">
        <xsd:annotation>
          <xsd:documentation>The value threshold for current THD Over-limit.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <!-- Set ActivityCalendar type -->
  <xsd:complexType name="SeasonsType">
    <xsd:sequence>
      <xsd:element name="Season" type="tns:SeasonType" maxOccurs="4" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SeasonType">
    <xsd:sequence>
      <xsd:element name="SeasonProfileName" type="tns:NameType" />
      <xsd:element name="SeasonStart" type="common:CosemDateTimeType" />
      <xsd:element name="WeekProfile" type="tns:WeekType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WeekType">
    <xsd:sequence>
      <xsd:element name="WeekProfileName" type="tns:NameType" />
      <xsd:element name="Monday" type="tns:DayType" />
      <xsd:element name="Tuesday" type="tns:DayType" />
      <xsd:element name="Wednesday" type="tns:DayType" />
      <xsd:element name="Thursday" type="tns:DayType" />
      <xsd:element name="Friday" type="tns:DayType" />
      <xsd:element name="Saturday" type="tns:DayType" />
      <xsd:element name="Sunday" type="tns:DayType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DayType">
    <xsd:sequence>
      <xsd:element name="DayId" type="xsd:integer" />
      <xsd:element name="DaySchedule" type="tns:DayProfileActionsType" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DayProfileActionsType">
    <xsd:sequence>
      <xsd:element name="DayProfileAction" type="tns:DayProfileActionType" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DayProfileActionType">
    <xsd:sequence>
      <xsd:element name="StartTime" type="common:CosemTimeType" />
      <xsd:element name="ScriptSelector" type="xsd:integer" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="NameType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="8" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="SetKeysRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="AuthenticationKey" type="xsd:hexBinary" />
          <xsd:element name="EncryptionKey" type="xsd:hexBinary" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetClockConfigurationRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="TimeZoneOffset">
            <xsd:simpleType>
              <xsd:restriction base="xsd:short">
                <xsd:minInclusive value="-720" />
                <xsd:maxInclusive value="720" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DaylightSavingsBegin" type="common:CosemDateTimeType" />
          <xsd:element name="DaylightSavingsEnd" type="common:CosemDateTimeType" />
          <xsd:element name="DaylightSavingsEnabled" type="xsd:boolean"
            default="true" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DefinableLoadProfileConfigurationData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="CaptureObjects"
            type="common:CaptureObjectDefinitions" minOccurs="0" />
          <xsd:element name="CapturePeriod" type="xsd:unsignedInt"
            minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetMbusUserKeyByChannelRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="Channel" type="common:Channel" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:simpleType name="EncryptionKeyStatus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NO_ENCRYPTION_KEY" />
      <xsd:enumeration value="ENCRYPTION_KEY_SET" />
      <xsd:enumeration value="ENCRYPTION_KEY_TRANSFERRED" />
      <xsd:enumeration value="ENCRYPTION_KEY_SET_AND_TRANSFERRED" />
      <xsd:enumeration value="ENCRYPTION_KEY_IN_USE" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="GetMbusEncryptionKeyStatusByChannelRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="Channel" type="common:Channel" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetMbusEncryptionKeyStatusByChannelResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="GatewayDeviceIdentification"
            type="common:DeviceIdentification" />
          <xsd:element name="EncryptionKeyStatus" type="tns:EncryptionKeyStatus" />
          <xsd:element name="Channel" type="common:Channel" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="SetRandomisationSettingsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetRandomisationSettingsData"
          type="tns:SetRandomisationSettingsRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetRandomisationSettingsAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetRandomisationSettingsAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetRandomisationSettingsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="SetRandomisationSettingsRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="directAttach" type="xsd:int" />
          <xsd:element name="randomisationStartWindow" type="xsd:int" />
          <xsd:element name="multiplicationFactor" type="xsd:int" />
          <xsd:element name="numberOfRetries" type="xsd:int" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="GetKeysRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="GetKeysData"
          type="tns:GetKeysRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="GetKeysRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
          <xsd:element type="tns:SecretType" name="secretTypes"
            minOccurs="1" maxOccurs="4" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="GetKeysAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetKeysResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="GetKeysResponseData"
          type="tns:GetKeysResponseData" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="GetKeysResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element type="tns:SecretType" name="secretType" />
          <xsd:element type="xsd:hexBinary" name="secretValue" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="GetKeysAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:simpleType name="SecretType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="E_METER_MASTER_KEY" />
      <xsd:enumeration value="E_METER_AUTHENTICATION_KEY" />
      <xsd:enumeration value="E_METER_ENCRYPTION_KEY_UNICAST" />
      <xsd:enumeration value="E_METER_ENCRYPTION_KEY_BROADCAST" />
      <xsd:enumeration value="G_METER_MASTER_KEY" />
      <xsd:enumeration value="G_METER_ENCRYPTION_KEY" />
      <xsd:enumeration value="G_METER_FIRMWARE_UPDATE_AUTHENTICATION_KEY" />
      <xsd:enumeration value="G_METER_OPTICAL_PORT_KEY" />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
