osgp/shared/osgp-ws-smartmetering/src/main/resources/schemas/installation-ws-smartmetering.xsd

<!-- Copyright 2015 Smart Society Services B.V. Licensed under the Apache 
  License, Version 2.0 (the "License"); you may not use this file except in 
  compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-installation/2014/10"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  elementFormDefault="qualified"
  targetNamespace="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-installation/2014/10">

  <xsd:import namespace="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    schemaLocation="base-ws-smartmetering.xsd" />

  <xsd:element name="AddDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Device" type="tns:Device" />
        <xsd:element name="DeviceModel" type="tns:DeviceModel" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddDeviceAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="AddDeviceAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="AddDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="MbusDeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="Force" type="xsd:boolean" default="false" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="MbusDeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMBusDeviceAdministrativeRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="MbusDeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMBusDeviceAdministrativeAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceAdministrativeAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceAdministrativeResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>


  <xsd:element name="CoupleMbusDeviceByChannelRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="CoupleMbusDeviceByChannelRequestData"
          type="tns:CoupleMbusDeviceByChannelRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:CoupleMbusDeviceByChannelResponseData">
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="CoupleMbusDeviceByChannelResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="ChannelElementValues" type="tns:ChannelElementValues" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="DecoupleMbusDeviceByChannelRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="DecoupleMbusDeviceByChannelRequestData"
          type="tns:DecoupleMbusDeviceByChannelRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceByChannelAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceByChannelAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DecoupleMbusDeviceByChannelResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:DecoupleMbusDeviceByChannelResponseData">
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="DecoupleMbusDeviceByChannelResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence minOccurs="0">
          <xsd:element name="mbusDeviceIdentification" type="common:DeviceIdentification" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- DATATYPES -->

  <xsd:complexType name="Device">
    <xsd:sequence>
      <xsd:element name="Device_Identification" minOccurs="0"
        type="common:DeviceIdentification" />

      <xsd:element name="Device_type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Timezone" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Communication_method" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="tns:AlphaNumericType">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Communication_provider" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="tns:AlphaNumericType">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Icc_id" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="tns:AlphaNumericType">
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="protocolName" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="protocolVersion" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="protocolVariant" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Supplier" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Hls3_active" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="Hls4_active" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="Hls5_active" type="xsd:boolean"
        minOccurs="0" />
      <!-- no type restriction for unencrypted keys for now -->
      <xsd:element name="Master_key" type="xsd:hexBinary"
        minOccurs="0" />
      <xsd:element name="Global_encryption_unicast_key"
        type="xsd:hexBinary" minOccurs="0" />
      <xsd:element name="Authentication_key" type="xsd:hexBinary"
        minOccurs="0" />
      <xsd:element name="Delivery_date" type="xsd:dateTime" />

      <xsd:element name="Mbus_identification_number"
        minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{8}" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Mbus_manufacturer_identification"
        minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Mbus_version" minOccurs="0"
        type="xsd:unsignedByte" />

      <xsd:element name="Mbus_device_type_identification"
        minOccurs="0" type="xsd:unsignedByte" />

      <xsd:element name="Mbus_default_key" type="xsd:hexBinary"
        minOccurs="0" />

      <xsd:element name="Polyphase" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="IpAddressIsStatic" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="WithListSupported" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="SelectiveAccessSupported" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="ChallengeLength" type="xsd:int" />
      <xsd:element name="Port" type="xsd:long" minOccurs="0" maxOccurs="1"  />

    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeviceModel">
    <xsd:sequence>
      <xsd:element name="Manufacturer">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ModelCode" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="AlphaNumericType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-zA-Z0-9 ]+" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="CoupleMbusDeviceByChannelRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="Channel" type="common:Channel" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DecoupleMbusDeviceByChannelRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="Channel" type="common:Channel" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ChannelElementValues">
    <xsd:sequence>
      <xsd:element name="Channel" type="common:Channel" />
      <xsd:element name="PrimaryAddress" type="xsd:short" />
      <xsd:element name="IdentificationNumber" type="xsd:string" />
      <xsd:element name="ManufacturerIdentification" type="xsd:string" />
      <xsd:element name="Version" type="xsd:unsignedByte" />
      <xsd:element name="DeviceTypeIdentification" type="xsd:unsignedByte" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="GetCommunicationNetworkInformationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
