osgp/shared/osgp-ws-core/src/main/resources/schemas/configurationmanagement-ws-core.xsd

<!--

    Copyright 2015 Smart Society Services B.V.

    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:tns="http://www.opensmartgridplatform.org/schemas/configurationmanagement/2014/10"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  targetNamespace="http://www.opensmartgridplatform.org/schemas/configurationmanagement/2014/10">

  <xsd:import namespace="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    schemaLocation="../schemas/common-ws-core.xsd" />

  <xsd:element name="SetConfigurationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:Identification" />
        <xsd:element name="Configuration" type="tns:Configuration"
          minOccurs="0" maxOccurs="1" />
        <xsd:element name="scheduled_time" type="xsd:dateTime"
          minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetConfigurationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetConfigurationAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetConfigurationAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetConfigurationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:Identification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetConfigurationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string" />
        <xsd:element name="Configuration" type="tns:Configuration"
          minOccurs="0" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetConfigurationAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetConfigurationAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SwitchConfigurationRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:Identification" />
        <xsd:element name="ConfigurationBank" type="tns:ConfigurationBank" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SwitchConfigurationResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SwitchConfigurationAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SwitchConfigurationAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="Configuration">
    <xsd:sequence>
      <xsd:element name="LightType" type="tns:LightType"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="DaliConfiguration" type="tns:DaliConfiguration"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="RelayConfiguration" type="tns:RelayConfiguration"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="PreferredLinkType" type="tns:LinkType"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="TimeSyncFrequency" type="xsd:int"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="DeviceFixedIp" type="tns:DeviceFixedIp"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="DhcpEnabled" type="xsd:boolean"
        minOccurs="0" maxOccurs="1" />
      <!-- <xsd:element name="TlsEnabled" type="xsd:boolean" minOccurs="0"
        maxOccurs="1" /> -->
      <!-- <xsd:element name="TlsPortNumber" type="xsd:int" minOccurs="0"
        maxOccurs="1" /> -->
      <!-- <xsd:element name="CommonNameString" type="tns:CommonName" minOccurs="0"
        maxOccurs="1" /> -->
      <xsd:element name="CommunicationTimeout" type="xsd:int"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="CommunicationNumberOfRetries" type="xsd:int"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="CommunicationPauseTimeBetweenConnectionTrials"
        type="xsd:int" minOccurs="0" maxOccurs="1" />
      <xsd:element name="OsgpIpAddress" type="tns:IPType"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="OsgpPortNumber" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
              <xsd:maxInclusive value="65535"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NtpHost" type="xsd:string"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="NtpEnabled" type="xsd:boolean"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="NtpSyncInterval" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
              <xsd:maxInclusive value="65535"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TestButtonEnabled" type="xsd:boolean"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="AutomaticSummerTimingEnabled" type="xsd:boolean"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="AstroGateSunRiseOffset" type="xsd:int"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="AstroGateSunSetOffset" type="xsd:int"
        minOccurs="0" maxOccurs="1" />
      <xsd:sequence>
        <xsd:element name="SwitchingDelays" type="xsd:int"
          minOccurs="0" maxOccurs="4" />
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="RelayLinking" type="tns:RelayMatrix"
          minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:element name="RelayRefreshing" type="xsd:boolean"
        minOccurs="0" maxOccurs="1" />
      <xsd:element name="SummerTimeDetails" type="xsd:dateTime"
        minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Start of DST / SummerTime. Last Sunday of
            March for Europe.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="WinterTimeDetails" type="xsd:dateTime"
        minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation>End of DST / SummerTime. Last Sunday of
            October for Europe.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="LightType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="RELAY" />
      <xsd:enumeration value="ONE_TO_TEN_VOLT" />
      <xsd:enumeration value="ONE_TO_TEN_VOLT_REVERSE" />
      <xsd:enumeration value="ONE_TO_TWENTY_FOUR_VOLT" />
      <xsd:enumeration value="DALI" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="RelayType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LIGHT" />
      <xsd:enumeration value="TARIFF" />
      <xsd:enumeration value="TARIFF_REVERSED" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LinkType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="GPRS" />
      <xsd:enumeration value="CDMA" />
      <xsd:enumeration value="ETHERNET" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DaliConfiguration">
    <xsd:sequence>
      <xsd:element name="NumberOfLights" minOccurs="1"
        maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="IndexAddressMap" type="tns:IndexAddressMap"
        minOccurs="0" maxOccurs="4" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RelayConfiguration">
    <xsd:sequence>
      <xsd:element name="RelayMap" type="tns:RelayMap"
        minOccurs="1" maxOccurs="6" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="IndexAddressMap">
    <xsd:sequence>
      <xsd:element name="Index">
        <xsd:annotation>
          <xsd:documentation>
            The Index is the external id of a device
            output setting. This is the index used by the end user and
            in SOAP messages.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Address">
        <xsd:annotation>
          <xsd:documentation>
            The Address is the internal id of a device
            output setting. This is the index of the relay that is
            actually switched.
          </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RelayMap">
    <xsd:sequence>
      <xsd:element name="Index">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="6" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="RelayType" type="tns:RelayType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="alias" type="xsd:string" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RelayMatrix">
    <xsd:sequence>
      <xsd:element name="MasterRelayIndex" type="tns:RelayMatrixIndex"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="MasterRelayOn" type="xsd:boolean"
        minOccurs="1" maxOccurs="1" />
      <xsd:sequence>
        <xsd:element name="IndicesOfControlledRelaysOn"
          type="tns:RelayMatrixIndex" minOccurs="0" maxOccurs="4" />
      </xsd:sequence>
      <xsd:sequence>
        <xsd:element name="IndicesOfControlledRelaysOff"
          type="tns:RelayMatrixIndex" minOccurs="0" maxOccurs="4" />
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="RelayMatrixIndex">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="1" />
      <xsd:maxInclusive value="4" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="DeviceFixedIp">
    <xsd:sequence>
      <xsd:element name="IpAddress" type="tns:IPType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="NetMask" type="tns:IPType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="GateWay" type="tns:IPType"
        minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="IPType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern
        value="((1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5]).){3}(1?[0-9]?[0-9]|2[0-4][0-9]|25[0-5])" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="ConfigurationBank">
    <xsd:restriction base="xsd:int">
      <xsd:minInclusive value="0" />
      <xsd:maxInclusive value="1" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="CommonName">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:minLength value="1" />
      <xsd:maxLength value="25" />
      <!-- This regex pattern will match any word or words separated by spaces.
        The total length of the string may be 25. -->
      <xsd:pattern value="[\w\s]{1,25}" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>

