osgp/shared/osgp-ws-core/src/main/resources/CoreConfigurationManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:cman="http://www.opensmartgridplatform.org/schemas/configurationmanagement/2014/10"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.opensmartgridplatform.org/definitions/common/configurationmanagement-v1.0"
  targetNamespace="http://www.opensmartgridplatform.org/definitions/common/configurationmanagement-v1.0">

  <wsdl:types>
    <xsd:schema
      targetNamespace="http://www.opensmartgridplatform.org/definitions/common/configurationmanagement/imports"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import
        namespace="http://www.opensmartgridplatform.org/schemas/configurationmanagement/2014/10"
        schemaLocation="schemas/configurationmanagement-ws-core.xsd" />
    </xsd:schema>
  </wsdl:types>

  <!-- An additional SOAP header 'MessagePriority' can be set. Values between 0 (low) and 9 (high), the default value is 4 (medium). -->

  <wsdl:message name="SetConfigurationHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="SetConfigurationRequest">
    <wsdl:part element="cman:SetConfigurationRequest" name="SetConfigurationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetConfigurationAsyncResponse">
    <wsdl:part element="cman:SetConfigurationAsyncResponse"
      name="SetConfigurationAsyncResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetConfigurationAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="SetConfigurationAsyncRequest">
    <wsdl:part element="cman:SetConfigurationAsyncRequest"
      name="SetConfigurationAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetConfigurationResponse">
    <wsdl:part element="cman:SetConfigurationResponse" name="SetConfigurationResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetConfigurationHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationRequest">
    <wsdl:part element="cman:GetConfigurationRequest" name="GetConfigurationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetConfigurationAsyncResponse">
    <wsdl:part element="cman:GetConfigurationAsyncResponse"
      name="GetConfigurationAsyncResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetConfigurationAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="GetConfigurationAsyncRequest">
    <wsdl:part element="cman:GetConfigurationAsyncRequest"
      name="GetConfigurationAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetConfigurationResponse">
    <wsdl:part element="cman:GetConfigurationResponse" name="GetConfigurationResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SwitchConfigurationHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="SwitchConfigurationRequest">
    <wsdl:part element="cman:SwitchConfigurationRequest" name="SwitchConfigurationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SwitchConfigurationAsyncResponse">
    <wsdl:part element="cman:SwitchConfigurationAsyncResponse"
      name="SwitchConfigurationAsyncResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SwitchConfigurationAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="SwitchConfigurationAsyncRequest">
    <wsdl:part element="cman:SwitchConfigurationAsyncRequest"
      name="SwitchConfigurationAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SwitchConfigurationResponse">
    <wsdl:part element="cman:SwitchConfigurationResponse"
      name="SwitchConfigurationResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="ConfigurationManagementPort">
    <wsdl:operation name="SetConfiguration">
      <wsdl:input message="tns:SetConfigurationRequest" name="SetConfigurationRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetConfigurationAsyncResponse"
        name="SetConfigurationAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetConfigurationResponse">
      <wsdl:input message="tns:SetConfigurationAsyncRequest"
        name="SetConfigurationAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetConfigurationResponse"
        name="SetConfigurationResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetConfiguration">
      <wsdl:input message="tns:GetConfigurationRequest" name="GetConfigurationRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetConfigurationAsyncResponse"
        name="GetConfigurationAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetConfigurationResponse">
      <wsdl:input message="tns:GetConfigurationAsyncRequest"
        name="GetConfigurationAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetConfigurationResponse"
        name="GetConfigurationResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SwitchConfiguration">
      <wsdl:input message="tns:SwitchConfigurationRequest"
        name="SwitchConfigurationRequest">
      </wsdl:input>
      <wsdl:output message="tns:SwitchConfigurationAsyncResponse"
        name="SwitchConfigurationAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSwitchConfigurationResponse">
      <wsdl:input message="tns:SwitchConfigurationAsyncRequest"
        name="SwitchConfigurationAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:SwitchConfigurationResponse"
        name="SwitchConfigurationResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfigurationManagementPortSoap11"
    type="tns:ConfigurationManagementPort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetConfiguration">
      <soap:operation soapAction="" />
      <wsdl:input name="SetConfigurationRequest">
        <soap:header message="tns:SetConfigurationHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:SetConfigurationHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:SetConfigurationHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetConfigurationAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetConfigurationResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="SetConfigurationAsyncRequest">
        <soap:header message="tns:SetConfigurationAsyncHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:SetConfigurationAsyncHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:SetConfigurationAsyncHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetConfigurationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetConfiguration">
      <soap:operation soapAction="" />
      <wsdl:input name="GetConfigurationRequest">
        <soap:header message="tns:GetConfigurationHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:GetConfigurationHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:GetConfigurationHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetConfigurationAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetConfigurationResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="GetConfigurationAsyncRequest">
        <soap:header message="tns:GetConfigurationAsyncHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:GetConfigurationAsyncHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:GetConfigurationAsyncHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetConfigurationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SwitchConfiguration">
      <soap:operation soapAction="" />
      <wsdl:input name="SwitchConfigurationRequest">
        <soap:header message="tns:SwitchConfigurationHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:SwitchConfigurationHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:SwitchConfigurationHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SwitchConfigurationAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSwitchConfigurationResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="SwitchConfigurationAsyncRequest">
        <soap:header message="tns:SwitchConfigurationAsyncHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:SwitchConfigurationAsyncHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:SwitchConfigurationAsyncHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SwitchConfigurationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationManagementPortService">
    <wsdl:port binding="tns:ConfigurationManagementPortSoap11"
      name="ConfigurationManagementPortSoap11">
      <soap:address
        location="http://localhost:8080/osgp-adapter-ws-core/common/configurationManagementService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>