osgp/shared/osgp-ws-core/src/main/resources/DeviceInstallation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:dinst="http://www.opensmartgridplatform.org/schemas/deviceinstallation/2014/10"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.opensmartgridplatform.org/definitions/common/deviceinstallation-v1.0"
  targetNamespace="http://www.opensmartgridplatform.org/definitions/common/deviceinstallation-v1.0">

  <wsdl:types>
    <xsd:schema
      targetNamespace="http://www.opensmartgridplatform.org/definitions/common/deviceinstallation/imports"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import
        namespace="http://www.opensmartgridplatform.org/schemas/deviceinstallation/2014/10"
        schemaLocation="schemas/deviceinstallation.xsd" />
    </xsd:schema>
  </wsdl:types>

  <!-- An additional SOAP header 'MessagePriority' can be set. Values between 0 (low) and 9 (high), the default value is 4 (medium). -->

  <wsdl:message name="GetStatusHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="GetStatusRequest">
    <wsdl:part element="dinst:GetStatusRequest" name="GetStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetStatusAsyncResponse">
    <wsdl:part element="dinst:GetStatusAsyncResponse" name="GetStatusAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetStatusAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="GetStatusAsyncRequest">
    <wsdl:part element="dinst:GetStatusAsyncRequest" name="GetStatusAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetStatusResponse">
    <wsdl:part element="dinst:GetStatusResponse" name="GetStatusResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="StartDeviceTestHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="StartDeviceTestRequest">
    <wsdl:part element="dinst:StartDeviceTestRequest" name="StartDeviceTestRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StartDeviceTestAsyncResponse">
    <wsdl:part element="dinst:StartDeviceTestAsyncResponse"
      name="StartDeviceTestResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="StartDeviceTestAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="StartDeviceTestAsyncRequest">
    <wsdl:part element="dinst:StartDeviceTestAsyncRequest"
      name="StartDeviceTestAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StartDeviceTestResponse">
    <wsdl:part element="dinst:StartDeviceTestResponse" name="StartDeviceTestResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="StopDeviceTestHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="StopDeviceTestRequest">
    <wsdl:part element="dinst:StopDeviceTestRequest" name="StopDeviceTestRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StopDeviceTestAsyncResponse">
    <wsdl:part element="dinst:StopDeviceTestAsyncResponse"
      name="StopDeviceTestResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="StopDeviceTestAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="StopDeviceTestAsyncRequest">
    <wsdl:part element="dinst:StopDeviceTestAsyncRequest"
      name="StopDeviceTestAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StopDeviceTestResponse">
    <wsdl:part element="dinst:StopDeviceTestResponse" name="StopDeviceTestResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="FindRecentDevicesHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="FindRecentDevicesRequest">
    <wsdl:part element="dinst:FindRecentDevicesRequest" name="FindRecentDevicesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindRecentDevicesResponse">
    <wsdl:part element="dinst:FindRecentDevicesResponse" name="FindRecentDevicesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddDeviceHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="AddDeviceResponse">
    <wsdl:part element="dinst:AddDeviceResponse" name="AddDeviceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddDeviceRequest">
    <wsdl:part element="dinst:AddDeviceRequest" name="AddDeviceRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="UpdateDeviceHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="UpdateDeviceResponse">
    <wsdl:part element="dinst:UpdateDeviceResponse" name="UpdateDeviceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateDeviceRequest">
    <wsdl:part element="dinst:UpdateDeviceRequest" name="UpdateDeviceRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="AddLightMeasurementDeviceHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="AddLightMeasurementDeviceResponse">
    <wsdl:part element="dinst:AddLightMeasurementDeviceResponse" name="AddLightMeasurementDeviceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AddLightMeasurementDeviceRequest">
    <wsdl:part element="dinst:AddLightMeasurementDeviceRequest" name="AddLightMeasurementDeviceRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="UpdateLightMeasurementDeviceHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="UpdateLightMeasurementDeviceResponse">
    <wsdl:part element="dinst:UpdateLightMeasurementDeviceResponse" name="UpdateLightMeasurementDeviceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateLightMeasurementDeviceRequest">
    <wsdl:part element="dinst:UpdateLightMeasurementDeviceRequest" name="UpdateLightMeasurementDeviceRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="DeviceInstallationPort">

    <wsdl:operation name="GetStatus">
      <wsdl:input message="tns:GetStatusRequest" name="GetStatusRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetStatusAsyncResponse"
        name="GetStatusAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetStatusResponse">
      <wsdl:input message="tns:GetStatusAsyncRequest" name="GetStatusAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetStatusResponse" name="GetStatusResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StartDeviceTest">
      <wsdl:input message="tns:StartDeviceTestRequest" name="StartDeviceTestRequest">
      </wsdl:input>
      <wsdl:output message="tns:StartDeviceTestAsyncResponse"
        name="StartDeviceTestAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStartDeviceTestResponse">
      <wsdl:input message="tns:StartDeviceTestAsyncRequest"
        name="StartDeviceTestAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:StartDeviceTestResponse"
        name="StartDeviceTestResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StopDeviceTest">
      <wsdl:input message="tns:StopDeviceTestRequest" name="StopDeviceTestRequest">
      </wsdl:input>
      <wsdl:output message="tns:StopDeviceTestAsyncResponse"
        name="StopDeviceTestAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStopDeviceTestResponse">
      <wsdl:input message="tns:StopDeviceTestAsyncRequest"
        name="StopDeviceTestAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:StopDeviceTestResponse"
        name="StopDeviceTestResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindRecentDevices">
      <wsdl:input message="tns:FindRecentDevicesRequest"
        name="FindRecentDevicesRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindRecentDevicesResponse"
        name="FindRecentDevicesResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddDevice">
      <wsdl:input message="tns:AddDeviceRequest" name="AddDeviceRequest">
      </wsdl:input>
      <wsdl:output message="tns:AddDeviceResponse" name="AddDeviceResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateDevice">
      <wsdl:input message="tns:UpdateDeviceRequest" name="UpdateDeviceRequest">
      </wsdl:input>
      <wsdl:output message="tns:UpdateDeviceResponse" name="UpdateDeviceResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddLightMeasurementDevice">
      <wsdl:input message="tns:AddLightMeasurementDeviceRequest" name="AddLightMeasurementDeviceRequest">
      </wsdl:input>
      <wsdl:output message="tns:AddLightMeasurementDeviceResponse" name="AddLightMeasurementDeviceResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateLightMeasurementDevice">
      <wsdl:input message="tns:UpdateLightMeasurementDeviceRequest" name="UpdateLightMeasurementDeviceRequest">
      </wsdl:input>
      <wsdl:output message="tns:UpdateLightMeasurementDeviceResponse" name="UpdateLightMeasurementDeviceResponse">
      </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="DeviceInstallationPortSoap11" type="tns:DeviceInstallationPort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="" />
      <wsdl:input name="GetStatusRequest">
        <soap:header message="tns:GetStatusHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:GetStatusHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:GetStatusHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStatusAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGetStatusResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="GetStatusAsyncRequest">
        <soap:header message="tns:GetStatusAsyncHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:GetStatusAsyncHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:GetStatusAsyncHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StartDeviceTest">
      <soap:operation soapAction="" />
      <wsdl:input name="StartDeviceTestRequest">
        <soap:header message="tns:StartDeviceTestHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:StartDeviceTestHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:StartDeviceTestHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StartDeviceTestAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetStartDeviceTestResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="StartDeviceTestAsyncRequest">
        <soap:header message="tns:StartDeviceTestAsyncHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:StartDeviceTestAsyncHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:StartDeviceTestAsyncHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StartDeviceTestResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="StopDeviceTest">
      <soap:operation soapAction="" />
      <wsdl:input name="StopDeviceTestRequest">
        <soap:header message="tns:StopDeviceTestHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:StopDeviceTestHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:StopDeviceTestHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StopDeviceTestAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetStopDeviceTestResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="StopDeviceTestAsyncRequest">
        <soap:header message="tns:StopDeviceTestAsyncHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:StopDeviceTestAsyncHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:StopDeviceTestAsyncHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="StopDeviceTestResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindRecentDevices">
      <soap:operation soapAction="" />
      <wsdl:input name="FindRecentDevicesRequest">
        <soap:header message="tns:FindRecentDevicesHeader"
          part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:FindRecentDevicesHeader"
          part="UserName" use="literal" />
        <soap:header message="tns:FindRecentDevicesHeader"
          part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindRecentDevicesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddDevice">
      <soap:operation soapAction="" />
      <wsdl:input name="AddDeviceRequest">
        <soap:header message="tns:AddDeviceHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:AddDeviceHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:AddDeviceHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddDeviceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateDevice">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateDeviceRequest">
        <soap:header message="tns:UpdateDeviceHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:UpdateDeviceHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:UpdateDeviceHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateDeviceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="AddLightMeasurementDevice">
      <soap:operation soapAction="" />
      <wsdl:input name="AddLightMeasurementDeviceRequest">
        <soap:header message="tns:AddLightMeasurementDeviceHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:AddLightMeasurementDeviceHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:AddLightMeasurementDeviceHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddLightMeasurementDeviceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="UpdateLightMeasurementDevice">
      <soap:operation soapAction="" />
      <wsdl:input name="UpdateLightMeasurementDeviceRequest">
        <soap:header message="tns:UpdateLightMeasurementDeviceHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:UpdateLightMeasurementDeviceHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:UpdateLightMeasurementDeviceHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="UpdateLightMeasurementDeviceResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  <wsdl:service name="DeviceInstallationPortService">
    <wsdl:port binding="tns:DeviceInstallationPortSoap11"
      name="DeviceInstallationPortSoap11">
      <soap:address
        location="http://localhost:8080/osgp-adapter-ws-core/common/deviceInstallationService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>