osgp/shared/osgp-ws-publiclighting/src/main/resources/schemas/adhocmanagement-ws-publiclighting.xsd

<!--
        SPDX-FileCopyrightText: Copyright Contributors to the GXF project
        SPDX-License-Identifier: Apache-2.0
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:tns="http://www.opensmartgridplatform.org/schemas/publiclighting/adhocmanagement/2014/10"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  targetNamespace="http://www.opensmartgridplatform.org/schemas/publiclighting/adhocmanagement/2014/10">

  <xsd:import namespace="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    schemaLocation="common-ws-publiclighting.xsd" />

  <xsd:element name="FindAllDevicesRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PageSize" type="xsd:int"
          minOccurs="0" />
        <xsd:element name="Page" type="xsd:int" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="FindAllDevicesResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DevicePage" type="tns:DevicePage" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:Identification"
          minOccurs="1" />
        <xsd:element maxOccurs="6" name="LightValue" type="tns:LightValue" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetStatusRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:Identification"
          minOccurs="1" />
        <xsd:element name="BatchLogId" type="xsd:long" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetStatusAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetStatusAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string" />
        <xsd:element name="Status" type="tns:Status" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ResumeScheduleRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:Identification"
          minOccurs="1" />
        <xsd:element minOccurs="0" name="Index">
          <xsd:simpleType>
            <xsd:restriction base="xsd:int">
              <xsd:minInclusive value="0" />
              <xsd:maxInclusive value="6" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="IsImmediate" type="xsd:boolean" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ResumeScheduleAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ResumeScheduleAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ResumeScheduleResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetTransitionRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:Identification"
          minOccurs="1" />
        <xsd:element name="TransitionType" type="tns:TransitionType"
          minOccurs="1" />
        <xsd:element name="Time" type="xsd:time" minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetTransitionAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetTransitionAsyncRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncRequest" type="common:AsyncRequest" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetTransitionResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetLightMeasurementDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:Identification"
          minOccurs="1" />
        <xsd:element name="LightMeasurementDeviceIdentification" type="common:Identification"
          minOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetLightMeasurementDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="Device">
    <xsd:sequence>
      <xsd:element name="DeviceUid" type="xsd:string" />
      <xsd:element name="DeviceIdentification" type="common:Identification" />
      <xsd:element name="ContainerPostalCode" type="xsd:string"
        minOccurs="0" />
      <xsd:element name="ContainerCity" type="xsd:string"
        minOccurs="0" />
      <xsd:element name="ContainerStreet" type="xsd:string"
        minOccurs="0" />
      <xsd:element name="ContainerNumber" type="xsd:string"
        minOccurs="0" />
      <xsd:element name="GpsLatitude" type="xsd:float"
        minOccurs="0" />
      <xsd:element name="GpsLongitude" type="xsd:float"
        minOccurs="0" />
      <xsd:element name="DeviceType" type="xsd:string" />
      <xsd:element name="Activated" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Ssld">
    <xsd:complexContent>
      <xsd:extension base="tns:Device">
        <xsd:sequence>
          <xsd:element name="HasSchedule" type="xsd:boolean" />
          <xsd:element name="PublicKeyPresent" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LightMeasurementDevice">
    <xsd:complexContent>
      <xsd:extension base="tns:Device">
        <xsd:sequence>
          <xsd:element name="Description" type="xsd:string" minOccurs="0" />
          <xsd:element name="Code" type="xsd:string" minOccurs="0" />
          <xsd:element name="Color" type="xsd:string" minOccurs="0" />
          <xsd:element name="DigitalInput" type="xsd:short" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="DevicePage">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Devices"
        type="tns:Device" />
      <xsd:element name="Page" type="common:Page" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Status" abstract="true" />

  <xsd:complexType name="DeviceStatus">
    <xsd:annotation>
      <xsd:documentation>
        DeviceStatus represents the retrieved status of a smart device.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:Status">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="LightValues" type="tns:LightValue" />
          <xsd:element name="PreferredLinkType" type="tns:LinkType"
            minOccurs="1" maxOccurs="1" />
          <xsd:element name="ActualLinkType" type="tns:LinkType"
            minOccurs="1" maxOccurs="1" />
          <xsd:element name="LightType" type="tns:LightType"
            minOccurs="0" maxOccurs="1" />
          <xsd:element minOccurs="0" maxOccurs="8"
            name="EventNotifications" type="tns:EventNotificationType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LightSensorStatus">
    <xsd:annotation>
      <xsd:documentation>
        Light sensor status represents the retrieved status of a light measurement device.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:Status">
        <xsd:sequence>
          <xsd:element name="Status" type="tns:LightSensorStatusType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="LightValue">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Index">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="6" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="On" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="DimValue">
        <xsd:simpleType>
          <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1" />
            <xsd:maxInclusive value="100" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="LightSensorStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DARK" />
      <xsd:enumeration value="LIGHT" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LightType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LT_NOT_SET" />
      <xsd:enumeration value="RELAY" />
      <xsd:enumeration value="ONE_TO_TEN_VOLT" />
      <xsd:enumeration value="ONE_TO_TEN_VOLT_REVERSE" />
      <xsd:enumeration value="ONE_TO_TWENTY_FOUR_VOLT" />
      <xsd:enumeration value="DALI" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="LinkType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="LINK_NOT_SET" />
      <xsd:enumeration value="GPRS" />
      <xsd:enumeration value="CDMA" />
      <xsd:enumeration value="ETHERNET" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="EventNotificationType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DIAG_EVENTS" />
      <xsd:enumeration value="HARDWARE_FAILURE" />
      <xsd:enumeration value="LIGHT_EVENTS" />
      <xsd:enumeration value="TARIFF_EVENTS" />
      <xsd:enumeration value="MONITOR_EVENTS" />
      <xsd:enumeration value="FIRMWARE_EVENTS" />
      <xsd:enumeration value="COMM_EVENTS" />
      <xsd:enumeration value="SECURITY_EVENTS" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="TransitionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NIGHT_DAY" />
      <xsd:enumeration value="DAY_NIGHT" />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>