osgp-adapter-ws-microgrids/src/main/webapp/WEB-INF/wsdl/microgrids/AdHocManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ahman="http://www.alliander.com/schemas/osgp/microgrids/adhocmanagement/2016/06"
  xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.alliander.com/definitions/osgp/microgrids/adhocmanagement-v1.0" targetNamespace="http://www.alliander.com/definitions/osgp/microgrids/adhocmanagement-v1.0">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.alliander.com/definitions/osgp/microgrids/adhocmanagement/imports"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:import namespace="http://www.alliander.com/schemas/osgp/microgrids/adhocmanagement/2016/06"
        schemaLocation="schemas/adhocmanagement.xsd" />
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="GetDataHeader">
    <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="GetDataRequest">
    <wsdl:part element="ahman:GetDataRequest" name="GetDataRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDataAsyncResponse">
    <wsdl:part element="ahman:GetDataAsyncResponse" name="GetDataAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetDataAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="GetDataAsyncRequest">
    <wsdl:part element="ahman:GetDataAsyncRequest" name="GetDataAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDataResponse">
    <wsdl:part element="ahman:GetDataResponse" name="GetDataResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SetDataHeader">
    <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="SetDataRequest">
    <wsdl:part element="ahman:SetDataRequest" name="SetDataRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetDataAsyncResponse">
    <wsdl:part element="ahman:SetDataAsyncResponse" name="SetDataAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SetDataAsyncHeader">
    <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>
  <wsdl:message name="SetDataAsyncRequest">
    <wsdl:part element="ahman:SetDataAsyncRequest" name="SetDataAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetDataResponse">
    <wsdl:part element="ahman:SetDataResponse" name="SetDataResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="MicrogridsAdHocManagementPort">
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataRequest" name="GetDataRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetDataAsyncResponse" name="GetDataAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataAsync">
      <wsdl:input message="tns:GetDataAsyncRequest" name="GetDataAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetDataResponse" name="GetDataResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetData">
      <wsdl:input message="tns:SetDataRequest" name="SetDataRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetDataAsyncResponse" name="SetDataAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDataAsync">
      <wsdl:input message="tns:SetDataAsyncRequest" name="SetDataAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetDataResponse" name="SetDataResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="MicrogridsAdHocManagementPortSoap11" type="tns:MicrogridsAdHocManagementPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="GetData">
      <soap:operation soapAction="" />
      <wsdl:input name="GetDataRequest">
        <soap:header message="tns:GetDataHeader" part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:GetDataHeader" part="UserName" use="literal" />
        <soap:header message="tns:GetDataHeader" part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetDataAsync">
      <soap:operation soapAction="" />
      <wsdl:input name="GetDataAsyncRequest">
        <soap:header message="tns:GetDataAsyncHeader" part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:GetDataAsyncHeader" part="UserName" use="literal" />
        <soap:header message="tns:GetDataAsyncHeader" part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetData">
      <soap:operation soapAction="" />
      <wsdl:input name="SetDataRequest">
        <soap:header message="tns:SetDataHeader" part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:SetDataHeader" part="UserName" use="literal" />
        <soap:header message="tns:SetDataHeader" part="ApplicationName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetDataAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetDataAsync">
      <soap:operation soapAction="" />
      <wsdl:input name="SetDataAsyncRequest">
        <soap:header message="tns:SetDataAsyncHeader" part="OrganisationIdentification" use="literal" />
        <soap:header message="tns:SetDataAsyncHeader" part="ApplicationName" use="literal" />
        <soap:header message="tns:SetDataAsyncHeader" part="UserName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="MicrogridsAdHocManagementPortService">
    <wsdl:port binding="tns:MicrogridsAdHocManagementPortSoap11" name="MicrogridsAdHocManagementPortSoap11">
      <soap:address location="http://localhost:8080/osgp-adapter-ws-microgrids/microgrids/adHocManagementService/" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
