osgp-adapter-ws-microgrids/src/main/webapp/WEB-INF/wsdl/microgrids/AdHocManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:ahman="http://www.alliander.com/schemas/osgp/microgrids/adhocmanagement/2016/06"
    xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.alliander.com/definitions/osgp/microgrids/adhocmanagement-v1.0"
    targetNamespace="http://www.alliander.com/definitions/osgp/microgrids/adhocmanagement-v1.0">

    <wsdl:types>
        <xsd:schema
            targetNamespace="http://www.alliander.com/definitions/osgp/microgrids/adhocmanagement/imports"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import
                namespace="http://www.alliander.com/schemas/osgp/microgrids/adhocmanagement/2016/06"
                schemaLocation="schemas/adhocmanagement.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="GetDataHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="GetDataRequest">
        <wsdl:part element="ahman:GetDataRequest" name="GetDataRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetDataAsyncResponse">
        <wsdl:part element="ahman:GetDataAsyncResponse" name="GetDataAsyncResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="GetDataAsyncHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="GetDataAsyncRequest">
        <wsdl:part element="ahman:GetDataAsyncRequest" name="GetDataAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetDataResponse">
        <wsdl:part element="ahman:GetDataResponse" name="GetDataResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="SetSetPointsHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="SetSetPointsRequest">
        <wsdl:part element="ahman:SetSetPointsRequest" name="SetSetPointsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetSetPointsAsyncResponse">
        <wsdl:part element="ahman:SetSetPointsAsyncResponse" name="SetSetPointsAsyncResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="SetSetPointsAsyncHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="SetSetPointsAsyncRequest">
        <wsdl:part element="ahman:SetSetPointsAsyncRequest" name="SetSetPointsAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetSetPointsResponse">
        <wsdl:part element="ahman:SetSetPointsResponse" name="SetSetPointsResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="MicrogridsAdHocManagementPort">
        <wsdl:operation name="GetData">
            <wsdl:input message="tns:GetDataRequest" name="GetDataRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetDataAsyncResponse" name="GetDataAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDataAsync">
            <wsdl:input message="tns:GetDataAsyncRequest" name="GetDataAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetDataResponse" name="GetDataResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SetSetPoints">
            <wsdl:input message="tns:SetSetPointsRequest" name="SetSetPointsRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetSetPointsAsyncResponse" name="SetSetPointsAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SetSetPointsAsync">
            <wsdl:input message="tns:SetSetPointsAsyncRequest" name="SetSetPointsAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetSetPointsResponse" name="SetSetPointsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="MicrogridsAdHocManagementPortSoap11" type="tns:MicrogridsAdHocManagementPort">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="GetData">
            <soap:operation soapAction="" />
            <wsdl:input name="GetDataRequest">
                <soap:header message="tns:GetDataHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:GetDataHeader" part="UserName" use="literal" />
                <soap:header message="tns:GetDataHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetDataAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetDataAsync">
            <soap:operation soapAction="" />
            <wsdl:input name="GetDataAsyncRequest">
                <soap:header message="tns:GetDataAsyncHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:GetDataAsyncHeader" part="UserName" use="literal" />
                <soap:header message="tns:GetDataAsyncHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetDataResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetSetPoints">
            <soap:operation soapAction="" />
            <wsdl:input name="SetSetPointsRequest">
                <soap:header message="tns:SetSetPointsHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:SetSetPointsHeader" part="UserName" use="literal" />
                <soap:header message="tns:SetSetPointsHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetSetPointsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetSetPointsAsync">
            <soap:operation soapAction="" />
            <wsdl:input name="SetSetPointsAsyncRequest">
                <soap:header message="tns:SetSetPointsAsyncHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:SetSetPointsAsyncHeader" part="ApplicationName" use="literal" />
                <soap:header message="tns:SetSetPointsAsyncHeader" part="UserName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetSetPointsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="MicrogridsAdHocManagementPortService">
        <wsdl:port binding="tns:MicrogridsAdHocManagementPortSoap11" name="MicrogridsAdHocManagementPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-microgrids/microgrids/adHocManagementService/" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
