osgp-ws-smartmetering/src/main/resources/schemas/sm-installation.xsd

<!-- Copyright 2015 Smart Society Services B.V. Licensed under the Apache 
  License, Version 2.0 (the "License"); you may not use this file except in 
  compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-installation/2014/10"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  targetNamespace="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-installation/2014/10">

  <xsd:import namespace="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    schemaLocation="common.xsd" />

  <xsd:element name="AddDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Device" type="tns:Device" />
        <xsd:element name="DeviceModel" type="tns:DeviceModel" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="AddDeviceAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="AddDeviceAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="AddDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="MbusDeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DeCoupleMbusDeviceRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="MbusDeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DeCoupleMbusDeviceAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DeCoupleMbusDeviceAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="DeCoupleMbusDeviceResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="CoupleMbusDeviceByChannelRequestData"
          type="tns:CoupleMbusDeviceByChannelRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="CoupleMbusDeviceByChannelResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="tns:CoupleMbusDeviceByChannelResponseData">
        </xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="CoupleMbusDeviceByChannelResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="ChannelElementValues" type="tns:ChannelElementValues" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <!-- DATATYPES -->

  <xsd:complexType name="Device">
    <xsd:sequence>
      <xsd:element name="Device_Identification" minOccurs="0"
        type="common:DeviceIdentification" />

      <xsd:element name="Device_type" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Communication_method" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="tns:AlphaNumericType">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Communication_provider" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="tns:AlphaNumericType">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="ICC_id" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="tns:AlphaNumericType">
            <xsd:maxLength value="20" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="DSMR_version" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Supplier" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="HLS3_active" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="HLS4_active" type="xsd:boolean"
        minOccurs="0" />
      <xsd:element name="HLS5_active" type="xsd:boolean"
        minOccurs="0" />
      <!-- no type restriction for unencrypted keys for now -->
      <xsd:element name="Master_key" type="xsd:hexBinary"
        minOccurs="0" />
      <xsd:element name="Global_encryption_unicast_key"
        type="xsd:hexBinary" minOccurs="0" />
      <xsd:element name="Authentication_key" type="xsd:hexBinary"
        minOccurs="0" />
      <xsd:element name="Delivery_date" type="xsd:dateTime"
        minOccurs="1" maxOccurs="1" />

      <xsd:element name="Mbus_identification_number"
        minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:unsignedInt">
            <xsd:maxInclusive value="99999999" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Mbus_manufacturer_identification"
        minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}"></xsd:pattern>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>

      <xsd:element name="Mbus_version" minOccurs="0"
        type="xsd:unsignedByte" />

      <xsd:element name="Mbus_device_type_identification"
        minOccurs="0" type="xsd:unsignedByte" />

      <xsd:element name="Mbus_default_key" type="xsd:hexBinary"
        minOccurs="0" />

    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DeviceModel">
    <xsd:sequence>
      <xsd:element name="Manufacturer" minOccurs="1"
        maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ModelCode" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="AlphaNumericType">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-zA-Z0-9 ]+" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="CoupleMbusDeviceByChannelRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="Channel" type="common:Channel" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ChannelElementValues">
    <xsd:sequence>
      <xsd:element name="Channel" type="common:Channel" />
      <xsd:element name="PrimaryAddress" type="xsd:short" />
      <xsd:element name="IdentificationNumber" type="xsd:string" />
      <xsd:element name="ManufacturerIdentification" type="xsd:string" />
      <xsd:element name="Version" type="xsd:unsignedByte" />
      <xsd:element name="DeviceTypeIdentification" type="xsd:unsignedByte" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
