osgp-adapter-ws-smartmetering/src/main/webapp/WEB-INF/wsdl/smartmetering/schemas/sm-adhoc.xsd

<!-- Copyright 2015 Smart Society Services B.V. Licensed under the Apache 
	License, Version 2.0 (the "License"); you may not use this file except in 
	compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.alliander.com/schemas/osgp/smartmetering/sm-adhoc/2014/10"
	xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.alliander.com/schemas/osgp/smartmetering/sm-adhoc/2014/10">

	<xsd:import namespace="http://www.alliander.com/schemas/osgp/common/2014/10"
		schemaLocation="common.xsd" />

	<xsd:element name="SynchronizeTimeReadsRequest">
		<xsd:complexType>
			<xsd:sequence>
			<xsd:element name="Device_Identification" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="tns:AlphaNumericType">
						<xsd:length value="17" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
				<xsd:element name="SynchronizeTimeReadsRequestData" type="tns:SynchronizeTimeReadsRequestData" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="SynchronizeTimeReadsResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AsyncResponse" type="common:AsyncResponse" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="RetrieveSynchronizeTimeReadsRequest">
		<xsd:complexType>
			<xsd:sequence>
			<xsd:element name="DeviceIdentification" type="tns:DeviceIdentification" minOccurs="1" />
			<xsd:element name="CorrelationUid" type="common:CorrelationUid" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
			
	<xsd:element name="RetrieveSynchronizeTimeReadsResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SynchronizeTimeReads" type="tns:SynchronizeTimeReads" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- DATATYPES -->
	
	<xsd:complexType name="Action" abstract="true">
		<xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Query" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="tns:Action">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="SynchronizeTimeReadsRequestData">
		<xsd:complexContent>
			<xsd:extension base="tns:Query">
				<xsd:sequence>
					<xsd:element name="Date" type="xsd:date" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="SynchronizeTimeReads">
		<xsd:sequence>
			<xsd:element name="DeviceIdentification" type="tns:DeviceIdentification" minOccurs="1" />
			<xsd:element name="CorrelationUid" type="common:CorrelationUid" minOccurs="1" />	
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="DeviceIdentification">
		<xsd:restriction base="tns:AlphaNumericType">
			<xsd:length value="17" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="AlphaNumericType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[a-zA-Z0-9 ]+" />
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>

