osgp-adapter-ws-smartmetering/src/main/webapp/WEB-INF/wsdl/smartmetering/schemas/sm-configuration.xsd

<!-- Copyright 2015 Smart Society Services B.V. Licensed under the Apache 
	License, Version 2.0 (the "License"); you may not use this file except in 
	compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.alliander.com/schemas/osgp/smartmetering/sm-configuration/2014/10"
	xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.alliander.com/schemas/osgp/smartmetering/sm-configuration/2014/10">
	
	<xsd:import namespace="http://www.alliander.com/schemas/osgp/common/2014/10"
		schemaLocation="common.xsd" />

	<xsd:element name="SpecialDaysRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
				<xsd:element name="SpecialDaysRequestData" type="tns:SpecialDaysRequestData" minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SpecialDaysResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AsyncResponse" type="common:AsyncResponse" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SetConfigurationObjectRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
				<xsd:element name="SetConfigurationObjectRequestData" type="tns:SetConfigurationObjectRequestData" minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SetConfigurationObjectResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AsyncResponse" type="common:AsyncResponse" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SetAlarmNotificationsRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
				<xsd:element name="SetAlarmNotificationsRequestData" type="tns:SetAlarmNotificationsRequestData" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SetAlarmNotificationsResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AsyncResponse" type="common:AsyncResponse" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SetActivityCalendarRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
				<xsd:element name="ActivityCalendarData" type="tns:ActivityCalendarDataType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SetActivityCalendarAsyncResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AsyncResponse" type="common:AsyncResponse" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GetAdministrativeStatusRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="GetAdministrativeStatusAsyncResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AsyncResponse" type="common:AsyncResponse" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SetAdministrativeStatusRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
				<xsd:element name="Enabled" type="tns:AdministrativeStatusType" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="SetAdministrativeStatusAsyncResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AsyncResponse" type="common:AsyncResponse" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:element name="SetAdministrativeStatusAsyncRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" minOccurs="1" />
				<xsd:element name="CorrelationUid" type="common:CorrelationUid" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SetAdministrativeStatusResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Result" type="common:OsgpResultType" minOccurs="1" />
				<xsd:element name="Description" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- DATATYPES -->

	<xsd:complexType name="SpecialDaysRequestData">
		<xsd:complexContent>
			<xsd:extension base="common:Query">
				<xsd:sequence>
					<xsd:element maxOccurs="30" name="SpecialDays" type="tns:SpecialDay" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SpecialDay">
		<xsd:sequence>
			<xsd:element name="specialDayDate" minOccurs="1" maxOccurs="1">
					<xsd:simpleType>
						<xsd:restriction base="common:AlphaNumericType">
							<xsd:length value="6" />
						</xsd:restriction>
					</xsd:simpleType>
			</xsd:element>
			<xsd:element minOccurs="1" maxOccurs="1" name="dayId" type="xsd:int" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SetConfigurationObjectRequestData">
		<xsd:complexContent>
			<xsd:extension base="common:Command">
				<xsd:sequence>
					<xsd:element name="ConfigurationObject" type="tns:ConfigurationObject" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="SetAlarmNotificationsRequestData">
		<xsd:complexContent>
			<xsd:extension base="common:Command">
				<xsd:sequence>
					<xsd:element name="AlarmNotifications" type="tns:AlarmNotifications" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ActivityCalendarDataType">
		<xsd:complexContent>
			<xsd:extension base="common:Command">
				<xsd:sequence>
					<xsd:element name="ActivityCalendar" type="tns:ActivityCalendarType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ActivityCalendarType">
		<xsd:sequence>
			<xsd:element name="CalendarName" type="tns:NameType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ActivatePassiveCalendarTime" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SeasonProfile" type="tns:SeasonsType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConfigurationObject">
		<xsd:sequence>
			<xsd:element name="GprsOperationMode" type="tns:GprsOperationModeType" />
			<xsd:element name="ConfigurationFlags" type="tns:ConfigurationFlags" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ConfigurationFlags">
		<xsd:sequence minOccurs="1" maxOccurs="10">
			<xsd:element name="ConfigurationFlag" type="tns:ConfigurationFlag" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ConfigurationFlag">
		<xsd:sequence>
			<xsd:element name="ConfigurationFlagType" type="tns:ConfigurationFlagType" />
			<xsd:element name="Enabled" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>
	
	<!--  ConfigurationObjectFlagType-->
	<xsd:simpleType name="ConfigurationFlagType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DISCOVER_ON_OPEN_COVER" />
			<xsd:enumeration value="DISCOVER_ON_POWER_ON" />
			<xsd:enumeration value="DYNAMIC_MBUS_ADDRESS" />
			<xsd:enumeration value="PO_ENABLE" />
			<xsd:enumeration value="HLS_3_ON_P3_ENABLE" />
			<xsd:enumeration value="HLS_4_ON_P3_ENABLE" />
			<xsd:enumeration value="HLS_5_ON_P3_ENABLE" />
			<xsd:enumeration value="HLS_3_ON_PO_ENABLE" />
			<xsd:enumeration value="HLS_4_ON_PO_ENABLE" />
			<xsd:enumeration value="HLS_5_ON_PO_ENABLE" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="GprsOperationModeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ALWAYS_ON" />
			<xsd:enumeration value="TRIGGERED" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="AlarmNotifications">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="AlarmNotification" type="tns:AlarmNotification" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AlarmNotification">
		<xsd:sequence>
			<xsd:element name="AlarmType" type="tns:AlarmType" />
			<xsd:element name="Enabled" type="xsd:boolean" />
		</xsd:sequence>
	</xsd:complexType>

	<!-- Administrative Status Types -->
	<xsd:simpleType name="AdministrativeStatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UNDEFINED" />
			<xsd:enumeration value="OFF" />
			<xsd:enumeration value="ON" />
		</xsd:restriction>
	</xsd:simpleType>

	<!-- DSMR Alarm Codes -->
	<xsd:simpleType name="AlarmType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CLOCK_INVALID" />
			<xsd:enumeration value="REPLACE_BATTERY" />
			<xsd:enumeration value="POWER_UP" />
			<xsd:enumeration value="PROGRAM_MEMORY_ERROR" />
			<xsd:enumeration value="RAM_ERROR" />
			<xsd:enumeration value="NV_MEMORY_ERROR" />
			<xsd:enumeration value="MEASUREMENT_SYSTEM_ERROR" />
			<xsd:enumeration value="WATCHDOG_ERROR" />
			<xsd:enumeration value="FRAUD_ATTEMPT" />
			<xsd:enumeration value="COMMUNICATION_ERROR_M_BUS_CHANNEL_1" />
			<xsd:enumeration value="COMMUNICATION_ERROR_M_BUS_CHANNEL_2" />
			<xsd:enumeration value="COMMUNICATION_ERROR_M_BUS_CHANNEL_3" />
			<xsd:enumeration value="COMMUNICATION_ERROR_M_BUS_CHANNEL_4" />
			<xsd:enumeration value="FRAUD_ATTEMPT_M_BUS_CHANNEL_1" />
			<xsd:enumeration value="FRAUD_ATTEMPT_M_BUS_CHANNEL_2" />
			<xsd:enumeration value="FRAUD_ATTEMPT_M_BUS_CHANNEL_3" />
			<xsd:enumeration value="FRAUD_ATTEMPT_M_BUS_CHANNEL_4" />
			<xsd:enumeration value="NEW_M_BUS_DEVICE_DISCOVERED_CHANNEL_1" />
			<xsd:enumeration value="NEW_M_BUS_DEVICE_DISCOVERED_CHANNEL_2" />
			<xsd:enumeration value="NEW_M_BUS_DEVICE_DISCOVERED_CHANNEL_3" />
			<xsd:enumeration value="NEW_M_BUS_DEVICE_DISCOVERED_CHANNEL_4" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Set ActivityCalendar Result type -->
	<xsd:element name="RetrieveSetActivityCalendarResultRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" minOccurs="1" />
				<xsd:element name="CorrelationUid" type="common:CorrelationUid" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="RetrieveSetActivityCalendarResultResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="result" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- Set ActivityCalendar type -->
	<xsd:complexType name="SeasonsType">		
		<xsd:sequence>
			<xsd:element name="Season" type="tns:SeasonType" minOccurs="1" maxOccurs="4"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SeasonType">		
		<xsd:sequence>
			<xsd:element name="SeasonProfileName" type="tns:NameType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="SeasonStart" type="xsd:dateTime" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="WeekProfile" type="tns:WeekType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="WeekType">		
		<xsd:sequence>
			<xsd:element name="WeekProfileName" type="tns:NameType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Monday" type="tns:DayType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Tuesday" type="tns:DayType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Wednesday" type="tns:DayType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Thursday" type="tns:DayType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Friday" type="tns:DayType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Saturday" type="tns:DayType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Sunday" type="tns:DayType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DayType">		
		<xsd:sequence>
			<xsd:element name="DayId" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DaySchedule" type="tns:DayProfileActionsType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DayProfileActionsType">		
		<xsd:sequence>
			<xsd:element name="DayProfileAction" type="tns:DayProfileActionType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DayProfileActionType">		
		<xsd:sequence>
			<xsd:element name="StartTime" type="xsd:time" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ScriptSelector" type="xsd:integer" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="NameType">
		<xsd:restriction base="common:AlphaNumericType">
			<xsd:length value="8" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
