osgp-adapter-ws-smartmetering/src/main/webapp/WEB-INF/wsdl/smartmetering/schemas/sm-configuration.xsd

<!--

    Copyright 2015 Smart Society Services B.V.

    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://www.alliander.com/schemas/osgp/smartmetering/sm-configuration/2014/10"
  xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
  attributeFormDefault="unqualified" elementFormDefault="qualified"
  targetNamespace="http://www.alliander.com/schemas/osgp/smartmetering/sm-configuration/2014/10">

  <xsd:import namespace="http://www.alliander.com/schemas/osgp/common/2014/10"
    schemaLocation="common.xsd" />

  <xsd:element name="SetSpecialDaysRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SpecialDaysRequestData" type="tns:SpecialDaysRequestData"
          minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetSpecialDaysAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetSpecialDaysAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetSpecialDaysResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="GetFirmwareVersionRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="GetFirmwareVersionResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="FirmwareVersions" type="tns:FirmwareVersion"
            minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  <xsd:element name="UpdateFirmwareRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DeviceIdentification" type="common:Identification" />
            <xsd:element name="FirmwareIdentification">
               <xsd:simpleType>
                  <xsd:restriction base="xsd:normalizedString">
                     <xsd:minLength value="1"/>
                     <xsd:maxLength value="255"/>
                     <xsd:pattern value="[^ ]{0,255}"/>
                  </xsd:restriction>
               </xsd:simpleType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
  <xsd:element name="UpdateFirmwareAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateFirmwareAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UpdateFirmwareResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:sequence>
          <xsd:element name="FirmwareVersion" type="tns:FirmwareVersion"
            minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="UpdateFirmwareRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="FirmwareIdentification">
            <xsd:simpleType>
              <xsd:restriction base="xsd:normalizedString">
                <xsd:minLength value="1" />
                <xsd:maxLength value="255" />
                <xsd:pattern value="[^ ]{0,255}" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UpdateFirmwareResponseData"> 
    <xsd:complexContent>
      <xsd:extension base="tns:GetFirmwareVersionResponseData">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  
  

  <xsd:complexType name="FirmwareVersion">
    <xsd:sequence>
      <xsd:element name="Version" type="xsd:string" />
      <xsd:element name="FirmwareModuleType" type="tns:FirmwareModuleType" />
    </xsd:sequence>
  </xsd:complexType>

  <!-- Firmware Module Types -->
  <xsd:simpleType name="FirmwareModuleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ACTIVE_FIRMWARE" />
      <xsd:enumeration value="MODULE_ACTIVE_FIRMWARE" />
      <xsd:enumeration value="COMMUNICATION_MODULE_ACTIVE_FIRMWARE" />
    </xsd:restriction>
  </xsd:simpleType>

<!-- For the support of single GetFirmwareVersion support -->
   <xsd:element name="GetFirmwareVersionRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="DeviceIdentification" type="common:Identification" />
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="GetFirmwareVersionAsyncResponse">
      <xsd:complexType>
	      <xsd:complexContent>
	        <xsd:extension base="common:AsyncResponse"></xsd:extension>
	      </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>
   
   <xsd:element name="GetFirmwareVersionAsyncRequest">
      <xsd:complexType>
	      <xsd:complexContent>
	        <xsd:extension base="common:AsyncRequest"></xsd:extension>
	      </xsd:complexContent>
      </xsd:complexType>
   </xsd:element>   
   <xsd:element name="GetFirmwareVersionResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Result" type="common:OsgpResultType" minOccurs="1" />
                <xsd:sequence>
                    <xsd:element name="FirmwareVersion" type="tns:FirmwareVersion" minOccurs="1" maxOccurs="unbounded" />
                </xsd:sequence>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>


  <xsd:element name="SetConfigurationObjectRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetConfigurationObjectRequestData"
          type="tns:SetConfigurationObjectRequestData" minOccurs="1"
          maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetConfigurationObjectAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetConfigurationObjectAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetConfigurationObjectResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetPushSetupAlarmRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetPushSetupAlarmRequestData"
          type="tns:SetPushSetupAlarmRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupAlarmAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupAlarmAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupAlarmResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetPushSetupSmsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetPushSetupSmsRequestData" type="tns:SetPushSetupSmsRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupSmsAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupSmsAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetPushSetupSmsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetAlarmNotificationsRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetAlarmNotificationsRequestData"
          type="tns:SetAlarmNotificationsRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetAlarmNotificationsAsyncResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="AsyncResponse" type="common:AsyncResponse" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetAlarmNotificationsAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetAlarmNotificationsResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:complexType name="SetEncryptionKeyExchangeOnGMeterRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="SetEncryptionKeyExchangeOnGMeterRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetEncryptionKeyExchangeOnGMeterAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetEncryptionKeyExchangeOnGMeterAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetEncryptionKeyExchangeOnGMeterResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetActivityCalendarRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="ActivityCalendarData" type="tns:SetActivityCalendarRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetActivityCalendarAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetActivityCalendarAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetActivityCalendarResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetAdministrativeStatusRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

	<!-- This is a special type so that GetAdministrativeStatus is supported in bundle requests -->
  <xsd:complexType name="GetAdministrativeStatusData">
    <xsd:complexContent>
      <xsd:extension base="common:Query">
        <xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="GetAdministrativeStatusAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="GetAdministrativeStatusAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="GetAdministrativeStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Enabled" type="tns:AdministrativeStatusType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetAdministrativeStatusRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="Enabled" type="tns:AdministrativeStatusType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetAdministrativeStatusAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="SetAdministrativeStatusAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SetAdministrativeStatusResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ReplaceKeysRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
        <xsd:element name="SetKeysRequestData" type="tns:SetKeysRequestData" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReplaceKeysAsyncResponse">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncResponse"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="ReplaceKeysAsyncRequest">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="common:AsyncRequest"></xsd:extension>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ReplaceKeysResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Result" type="common:OsgpResultType"
          minOccurs="1" />
        <xsd:element name="Description" type="xsd:string"
          minOccurs="0" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
	
	<!-- DATATYPES -->

  <xsd:complexType name="SpecialDaysRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element maxOccurs="30" name="SpecialDays"
            type="tns:SpecialDay" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SpecialDay">
    <xsd:sequence>
      <xsd:element name="specialDayDate" minOccurs="1"
        maxOccurs="1" type="common:CosemDateType" />
      <xsd:element minOccurs="1" maxOccurs="1" name="dayId"
        type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AlarmNotifications">
    <xsd:sequence maxOccurs="unbounded">
      <xsd:element name="AlarmNotification" type="tns:AlarmNotification" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="AlarmNotification">
    <xsd:sequence>
      <xsd:element name="AlarmType" type="common:AlarmType" />
      <xsd:element name="Enabled" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
	
	<!-- Administrative Status Types -->
  <xsd:complexType name="AdministrativeStatusResponseData">
    <xsd:complexContent>
      <xsd:extension base="common:Response">
        <xsd:sequence>
          <xsd:element name="AdministrativeStatusType" type="tns:AdministrativeStatusType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
	
	<!-- Administrative Status Types -->
  <xsd:simpleType name="AdministrativeStatusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNDEFINED" />
      <xsd:enumeration value="OFF" />
      <xsd:enumeration value="ON" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="AdministrativeStatusTypeData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="AdministrativeStatusType" type="tns:AdministrativeStatusType" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetConfigurationObjectRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="ConfigurationObject" type="tns:ConfigurationObject" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetPushSetupAlarmRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="PushSetupAlarm" type="tns:PushSetupAlarm" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetPushSetupSmsRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="PushSetupSms" type="tns:PushSetupSms" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetAlarmNotificationsRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="AlarmNotifications" type="tns:AlarmNotifications" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="SetActivityCalendarRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="ActivityCalendar" type="tns:ActivityCalendarType"
            minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="ActivityCalendarType">
    <xsd:sequence>
      <xsd:element name="CalendarName" type="tns:NameType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="ActivatePassiveCalendarTime" type="common:CosemDateTimeType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="SeasonProfile" type="tns:SeasonsType"
        minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ConfigurationObject">
    <xsd:sequence>
      <xsd:element name="GprsOperationMode" type="tns:GprsOperationModeType" />
      <xsd:element name="ConfigurationFlags" type="tns:ConfigurationFlags" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ConfigurationFlags">
    <xsd:sequence minOccurs="1" maxOccurs="10">
      <xsd:element name="ConfigurationFlag" type="tns:ConfigurationFlag" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ConfigurationFlag">
    <xsd:sequence>
      <xsd:element name="ConfigurationFlagType" type="tns:ConfigurationFlagType" />
      <xsd:element name="Enabled" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
	
	<!--  ConfigurationObjectFlagType-->
  <xsd:simpleType name="ConfigurationFlagType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DISCOVER_ON_OPEN_COVER" />
      <xsd:enumeration value="DISCOVER_ON_POWER_ON" />
      <xsd:enumeration value="DYNAMIC_MBUS_ADDRESS" />
      <xsd:enumeration value="PO_ENABLE" />
      <xsd:enumeration value="HLS_3_ON_P3_ENABLE" />
      <xsd:enumeration value="HLS_4_ON_P3_ENABLE" />
      <xsd:enumeration value="HLS_5_ON_P3_ENABLE" />
      <xsd:enumeration value="HLS_3_ON_PO_ENABLE" />
      <xsd:enumeration value="HLS_4_ON_PO_ENABLE" />
      <xsd:enumeration value="HLS_5_ON_PO_ENABLE" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="GprsOperationModeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ALWAYS_ON" />
      <xsd:enumeration value="TRIGGERED" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="PushSetupAlarm">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="Host" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>IP address or DNS name of the service
                listening for alarm notifications over TCP.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Port" type="xsd:integer">
            <xsd:annotation>
              <xsd:documentation>Port number of the service listening
                for alarm notifications over TCP.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:complexType name="PushSetupSms">
    <xsd:sequence>
      <xsd:element name="Host" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>IP address or DNS name of the service
            listening for alarm notifications over TCP.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Port" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Port number of the service listening for
            alarm notifications over TCP.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

	<!-- Set ActivityCalendar type -->
  <xsd:complexType name="SeasonsType">
    <xsd:sequence>
      <xsd:element name="Season" type="tns:SeasonType"
        minOccurs="1" maxOccurs="4" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SeasonType">
    <xsd:sequence>
      <xsd:element name="SeasonProfileName" type="tns:NameType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="SeasonStart" type="common:CosemDateTimeType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="WeekProfile" type="tns:WeekType"
        minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="WeekType">
    <xsd:sequence>
      <xsd:element name="WeekProfileName" type="tns:NameType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="Monday" type="tns:DayType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="Tuesday" type="tns:DayType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="Wednesday" type="tns:DayType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="Thursday" type="tns:DayType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="Friday" type="tns:DayType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="Saturday" type="tns:DayType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="Sunday" type="tns:DayType"
        minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DayType">
    <xsd:sequence>
      <xsd:element name="DayId" type="xsd:integer"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="DaySchedule" type="tns:DayProfileActionsType"
        minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DayProfileActionsType">
    <xsd:sequence>
      <xsd:element name="DayProfileAction" type="tns:DayProfileActionType"
        minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DayProfileActionType">
    <xsd:sequence>
      <xsd:element name="StartTime" type="common:CosemTimeType"
        minOccurs="1" maxOccurs="1" />
      <xsd:element name="ScriptSelector" type="xsd:integer"
        minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:simpleType name="NameType">
    <xsd:restriction base="common:AlphaNumericType">
      <xsd:length value="8" />
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="SetKeysRequestData">
    <xsd:complexContent>
      <xsd:extension base="common:Command">
        <xsd:sequence>
          <xsd:element name="AuthenticationKey" type="xsd:hexBinary"></xsd:element>
          <xsd:element name="EncryptionKey" type="xsd:hexBinary"></xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
     

</xsd:schema>
