osgp-adapter-ws-smartmetering/src/main/webapp/WEB-INF/wsdl/smartmetering/schemas/sm-monitoring.xsd

<!--

    Copyright 2015 Smart Society Services B.V.

    Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.alliander.com/schemas/osgp/smartmetering/sm-monitoring/2014/10"
	xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.alliander.com/schemas/osgp/smartmetering/sm-monitoring/2014/10">

	<xsd:import namespace="http://www.alliander.com/schemas/osgp/common/2014/10"
		schemaLocation="common.xsd" />

	<!-- smart meter periodic -->
	<xsd:element name="PeriodicMeterReadsRequest">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="tns:PeriodicReadsRequest"></xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PeriodicMeterReadsAsyncResponse">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="common:AsyncResponse"></xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PeriodicMeterReadsAsyncRequest">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="common:AsyncRequest"></xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PeriodicMeterReadsResponse">
		<xsd:complexType>
			<xsd:sequence>
                            <xsd:element name="PeriodType" type="tns:PeriodType" />
                            <xsd:element name="PeriodicMeterReads" type="tns:PeriodicMeterReads"
					minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="PeriodicMeterReadsResponseData">
		<xsd:complexContent>
			<xsd:extension base="common:Response">
				<xsd:sequence>
					<xsd:element name="PeriodType" type="tns:PeriodType" />
					<xsd:element name="PeriodicMeterReads" type="tns:PeriodicMeterReads" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- gas meter periodic -->
	<xsd:element name="PeriodicMeterReadsGasRequest">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="tns:PeriodicReadsRequest"></xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PeriodicMeterReadsGasAsyncResponse">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="common:AsyncResponse"></xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PeriodicMeterReadsGasAsyncRequest">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="common:AsyncRequest"></xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="PeriodicMeterReadsGasResponse">
		<xsd:complexType>
			<xsd:sequence>
                                <xsd:element name="PeriodType" type="tns:PeriodType" />
				<xsd:element name="PeriodicMeterReadsGas" type="tns:PeriodicMeterReadsGas"
					minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="PeriodicMeterReadsGasResponseData">
		<xsd:complexContent>
			<xsd:extension base="common:Response">
				<xsd:sequence>
					<xsd:element name="PeriodType" type="tns:PeriodType" />
					<xsd:element name="PeriodicMeterReadsGas" type="tns:PeriodicMeterReadsGas" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- smart meter actual -->
	<xsd:element name="ActualMeterReadsRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- This is a special type so that ActualMeterReads is supported in bundle requests -->
	<xsd:complexType name="ActualMeterReadsData">
		<xsd:complexContent>
			<xsd:extension base="common:Query">
				<xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="ActualMeterReadsAsyncResponse">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="common:AsyncResponse"></xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ActualMeterReadsAsyncRequest">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="common:AsyncRequest"></xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ActualMeterReadsResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LogTime" type="xsd:dateTime" />
				<xsd:element name="ActiveEnergyImport" type="tns:MeterValue" />
				<xsd:element name="ActiveEnergyExport" type="tns:MeterValue" />
				<xsd:element name="ActiveEnergyImportTariffOne" type="tns:MeterValue" />
				<xsd:element name="ActiveEnergyImportTariffTwo" type="tns:MeterValue" />
				<xsd:element name="ActiveEnergyExportTariffOne" type="tns:MeterValue" />
				<xsd:element name="ActiveEnergyExportTariffTwo" type="tns:MeterValue" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ActualMeterReadsResponseData">
		<xsd:complexContent>
			<xsd:extension base="common:Response">
				<xsd:sequence>
					<xsd:element name="LogTime" type="xsd:dateTime" />
					<xsd:element name="ActiveEnergyImport" type="tns:MeterValue" />
					<xsd:element name="ActiveEnergyExport" type="tns:MeterValue" />
					<xsd:element name="ActiveEnergyImportTariffOne" type="tns:MeterValue" />
					<xsd:element name="ActiveEnergyImportTariffTwo" type="tns:MeterValue" />
					<xsd:element name="ActiveEnergyExportTariffOne" type="tns:MeterValue" />
					<xsd:element name="ActiveEnergyExportTariffTwo" type="tns:MeterValue" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- gas meter actual -->
	<xsd:element name="ActualMeterReadsGasRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- This is a special type so that ActualMeterReads is supported in bundle requests -->
	<xsd:complexType name="ActualMeterReadsGasData">
		<xsd:complexContent>
			<xsd:extension base="common:Query">
				<xsd:sequence>
					<xsd:element name="DeviceIdentification" type="common:DeviceIdentification"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="ActualMeterReadsGasAsyncResponse">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="common:AsyncResponse"></xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ActualMeterReadsGasAsyncRequest">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="common:AsyncRequest"></xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="ActualMeterReadsGasResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="LogTime" type="xsd:dateTime" />
				<xsd:element name="Consumption" type="tns:MeterValue" />
				<xsd:element name="CaptureTime" type="xsd:dateTime" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="ActualMeterReadsGasResponseData">
		<xsd:complexContent>
			<xsd:extension base="common:Response">
				<xsd:sequence>
					<xsd:element name="LogTime" type="xsd:dateTime" />
					<xsd:element name="Consumption" type="tns:MeterValue" />
					<xsd:element name="CaptureTime" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="ReadAlarmRegisterRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification"></xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<!-- This is a special type so that ReadAlarmRigister is supported in bundle requests -->
	<xsd:complexType name="ReadAlarmRegisterData">
		<xsd:complexContent>
			<xsd:extension base="common:Query">
				<xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:element name="ReadAlarmRegisterAsyncResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AsyncResponse" type="common:AsyncResponse" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="ReadAlarmRegisterAsyncRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" minOccurs="1" />
				<xsd:element name="CorrelationUid" type="common:CorrelationUid" minOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="ReadAlarmRegisterResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="AlarmRegister" type="tns:AlarmRegister" minOccurs="1" maxOccurs="1" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="RetrievePushNotificationAlarmRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="CorrelationUid" type="common:CorrelationUid" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="RetrievePushNotificationAlarmResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
				<xsd:element name="AlarmRegister" type="tns:AlarmRegister" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<!-- DATATYPES -->
	<xsd:complexType name="AlarmRegister">
		<xsd:complexContent>
			<xsd:extension base="common:Response">
				<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="AlarmTypes" type="common:AlarmType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- This is a special type so that PeriodicReadsRequestQuery is supported in bundle requests -->
	<xsd:complexType name="PeriodicReadsRequestQuery">
		<xsd:complexContent>
			<xsd:extension base="common:Query">
				<xsd:sequence>
					<xsd:element name="PeriodicReadsRequestData" type="tns:PeriodicReadsRequestData" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- This is a special type so that PeriodicReadsRequestGasQuery is supported in bundle requests -->
	<xsd:complexType name="PeriodicReadsRequestGasQuery">
		<xsd:complexContent>
			<xsd:extension base="common:Query">
				<xsd:sequence>
					<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
					<xsd:element name="PeriodicReadsRequestData" type="tns:PeriodicReadsRequestData" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="PeriodicReadsRequest">
            <xsd:annotation>
                <xsd:documentation>
                    a request for periodic reads from a meter consists out of the identification of the device and input data
                </xsd:documentation>
            </xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="common:Query">
				<xsd:sequence>
					<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
					<xsd:element name="PeriodicReadsRequestData" type="tns:PeriodicReadsRequestData" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
        
	<xsd:complexType name="PeriodicReadsRequestData">
            <xsd:annotation>
                <xsd:documentation>input data to request periodic reads from a meter, not meant to use directly</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
                    <xsd:element name="PeriodType" type="tns:PeriodType" />
                    <xsd:element name="BeginDate" type="xsd:date" />
                    <xsd:element name="EndDate" type="xsd:date" />
            </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PeriodicMeterReadsRequestData">
		<xsd:complexContent>
			<xsd:extension base="common:Query">
				<xsd:sequence>
					<xsd:element name="PeriodType" type="tns:PeriodType" />
					<xsd:element name="BeginDate" type="xsd:date" />
					<xsd:element name="EndDate" type="xsd:date" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="PeriodicMeterReadsGasRequestData">
		<xsd:complexContent>
			<xsd:extension base="tns:PeriodicMeterReadsRequestData">
				<xsd:sequence>
					<xsd:element name="DeviceIdentification" type="common:DeviceIdentification" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="PeriodType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="DAILY" />
			<xsd:enumeration value="MONTHLY" />
			<xsd:enumeration value="INTERVAL" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:complexType name="AmrProfileStatusCode">
		<xsd:sequence maxOccurs="unbounded" minOccurs="0">
			<xsd:element name="AmrProfileStatusCodeFlag" type="common:AmrProfileStatusCodeFlag" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PeriodicMeterReads">
		<xsd:sequence>
			<xsd:element name="LogTime" type="xsd:dateTime" />
			<xsd:element name="ActiveEnergyImport" type="tns:MeterValue" minOccurs="0" />
			<xsd:element name="ActiveEnergyExport" type="tns:MeterValue" minOccurs="0" />
			<xsd:element name="ActiveEnergyImportTariffOne" type="tns:MeterValue" minOccurs="0" />
			<xsd:element name="ActiveEnergyImportTariffTwo" type="tns:MeterValue" minOccurs="0" />
			<xsd:element name="ActiveEnergyExportTariffOne" type="tns:MeterValue" minOccurs="0" />
			<xsd:element name="ActiveEnergyExportTariffTwo" type="tns:MeterValue" minOccurs="0" />
			<xsd:element name="AmrProfileStatusCode" type="tns:AmrProfileStatusCode" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PeriodicMeterReadsGas">
		<xsd:sequence>
			<xsd:element name="LogTime" type="xsd:dateTime" />
			<xsd:element name="Consumption" type="tns:MeterValue" />
			<xsd:element name="CaptureTime" type="xsd:dateTime" />
			<xsd:element name="AmrProfileStatusCode" type="tns:AmrProfileStatusCode" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
    
	<xsd:simpleType name="Value">
		<xsd:restriction base="xsd:decimal">
            <xsd:minInclusive value="0" />
            <xsd:maxInclusive value="9223372036854775807" />
		</xsd:restriction>
	</xsd:simpleType>
    
    <xsd:complexType name="MeterValue">
        <xsd:simpleContent>
            <xsd:extension base="tns:Value">
                <xsd:attribute name="unit" type="common:OsgpUnitType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

</xsd:schema>
