osgp-adapter-ws-core/src/main/webapp/WEB-INF/wsdl/common/DeviceManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:dman="http://www.alliander.com/schemas/osgp/devicemanagement/2014/10"
    xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="http://www.alliander.com/definitions/osgp/common/devicemanagement-v1.0"
    targetNamespace="http://www.alliander.com/definitions/osgp/common/devicemanagement-v1.0">
    
    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://www.alliander.com/definitions/osgp/common/devicemanagement/imports" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:import 
                namespace="http://www.alliander.com/schemas/osgp/devicemanagement/2014/10" 
                schemaLocation="schemas/devicemanagement.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="FindEventsResponse">
        <wsdl:part element="dman:FindEventsResponse" name="FindEventsResponse">
        </wsdl:part>
    </wsdl:message>


    <wsdl:message name="SetEventNotificationsHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="SetEventNotificationsRequest">
        <wsdl:part element="dman:SetEventNotificationsRequest" name="SetEventNotificationsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetEventNotificationsAsyncResponse">
        <wsdl:part element="dman:SetEventNotificationsAsyncResponse" name="SetEventNotificationsAsyncResponse">
        </wsdl:part>
    </wsdl:message> 
    <wsdl:message name="SetEventNotificationsAsyncHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />   
    </wsdl:message>
    <wsdl:message name="SetEventNotificationsAsyncRequest">
        <wsdl:part element="dman:SetEventNotificationsAsyncRequest" name="SetEventNotificationsAsyncRequest">
        </wsdl:part>
    </wsdl:message> 
    <wsdl:message name="SetEventNotificationsResponse">
        <wsdl:part element="dman:SetEventNotificationsResponse" name="SetEventNotificationsResponse">
        </wsdl:part>
    </wsdl:message>
                    
    <wsdl:message name="FindEventsHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="FindEventsRequest">
        <wsdl:part element="dman:FindEventsRequest" name="FindEventsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindAllOrganisationsResponse">
        <wsdl:part element="dman:FindAllOrganisationsResponse" name="FindAllOrganisationsResponse">
        </wsdl:part>
    </wsdl:message> 
    <wsdl:message name="FindAllOrganisationsHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="FindAllOrganisationsRequest">
        <wsdl:part element="dman:FindAllOrganisationsRequest" name="FindAllOrganisationsRequest">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="FindDevicesHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="FindDevicesRequest">
        <wsdl:part element="dman:FindDevicesRequest"
            name="FindDevicesRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindDevicesResponse">
        <wsdl:part element="dman:FindDevicesResponse"
            name="FindDevicesResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="FindScheduledTasksHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="FindScheduledTasksRequest">
        <wsdl:part element="dman:FindScheduledTasksRequest" 
            name="FindScheduledTasksRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="FindScheduledTasksResponse">
        <wsdl:part element="dman:FindScheduledTasksResponse" 
            name="FindScheduledTasksResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="UpdateDeviceHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="UpdateDeviceResponse">
        <wsdl:part element="dman:UpdateDeviceResponse" name="UpdateDeviceResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateDeviceRequest">
        <wsdl:part element="dman:UpdateDeviceRequest" name="UpdateDeviceRequest">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="SetMaintenanceStatusHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="SetMaintenanceStatusResponse">
        <wsdl:part element="dman:SetMaintenanceStatusResponse" name="SetMaintenanceStatusResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetMaintenanceStatusRequest">
        <wsdl:part element="dman:SetMaintenanceStatusRequest" name="SetMaintenanceStatusRequest">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="UpdateDeviceSslCertificationHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="UpdateDeviceSslCertificationRequest">
        <wsdl:part element="dman:UpdateDeviceSslCertificationRequest" name="UpdateDeviceSslCertificationRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateDeviceSslCertificationAsyncResponse">
        <wsdl:part element="dman:UpdateDeviceSslCertificationAsyncResponse" name="UpdateDeviceSslCertificationAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateDeviceSslCertificationAsyncHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="UpdateDeviceSslCertificationAsyncRequest">
        <wsdl:part element="dman:UpdateDeviceSslCertificationAsyncRequest" name="UpdateDeviceSslCertificationAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="UpdateDeviceSslCertificationResponse">
        <wsdl:part element="dman:UpdateDeviceSslCertificationResponse" name="UpdateDeviceSslCertificationResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="DeviceManagementPort">
        <wsdl:operation name="FindEvents">
            <wsdl:input message="tns:FindEventsRequest" name="FindEventsRequest">
            </wsdl:input>
            <wsdl:output message="tns:FindEventsResponse" name="FindEventsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SetEventNotifications">
            <wsdl:input message="tns:SetEventNotificationsRequest" name="SetEventNotificationsRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetEventNotificationsAsyncResponse" name="SetEventNotificationsAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetEventNotificationsResponse">
            <wsdl:input message="tns:SetEventNotificationsAsyncRequest" name="SetEventNotificationsAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetEventNotificationsResponse" name="SetEventNotificationsResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="FindAllOrganisations">
            <wsdl:input message="tns:FindAllOrganisationsRequest"
                name="FindAllOrganisationsRequest">
            </wsdl:input>
            <wsdl:output message="tns:FindAllOrganisationsResponse"
                name="FindAllOrganisationsResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="FindDevices">
            <wsdl:input message="tns:FindDevicesRequest"
                name="FindDevicesRequest">
            </wsdl:input>
            <wsdl:output message="tns:FindDevicesResponse"
                name="FindDevicesResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="FindScheduledTasks">
            <wsdl:input message="tns:FindScheduledTasksRequest"
                name="FindScheduledTasksRequest">
            </wsdl:input>
            <wsdl:output message="tns:FindScheduledTasksResponse"
                name="FindScheduledTasksResponse">
            </wsdl:output>
        </wsdl:operation>       
    
        <wsdl:operation name="UpdateDevice">
            <wsdl:input message="tns:UpdateDeviceRequest" name="UpdateDeviceRequest">
            </wsdl:input>
            <wsdl:output message="tns:UpdateDeviceResponse" name="UpdateDeviceResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetMaintenanceStatus">
            <wsdl:input message="tns:SetMaintenanceStatusRequest" name="SetMaintenanceStatusRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetMaintenanceStatusResponse" name="SetMaintenanceStatusResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="UpdateDeviceSslCertification">
            <wsdl:input message="tns:UpdateDeviceSslCertificationRequest" name="UpdateDeviceSslCertificationRequest">
            </wsdl:input>
            <wsdl:output message="tns:UpdateDeviceSslCertificationAsyncResponse" name="UpdateDeviceSslCertificationAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetUpdateDeviceSslCertificationResponse">
            <wsdl:input message="tns:UpdateDeviceSslCertificationAsyncRequest" name="UpdateDeviceSslCertificationAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:UpdateDeviceSslCertificationResponse" name="UpdateDeviceSslCertificationResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="DeviceManagementPortSoap11" type="tns:DeviceManagementPort">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="FindEvents">
            <soap:operation soapAction="" />
            <wsdl:input name="FindEventsRequest">
                <soap:header message="tns:FindEventsHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:FindEventsHeader" part="UserName" use="literal" />
                <soap:header message="tns:FindEventsHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="FindEventsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
            
        <wsdl:operation name="SetEventNotifications">
            <soap:operation soapAction="" />            
            <wsdl:input name="SetEventNotificationsRequest">
                <soap:header message="tns:SetEventNotificationsHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:SetEventNotificationsHeader" part="UserName" use="literal" />
                <soap:header message="tns:SetEventNotificationsHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>                       
            <wsdl:output name="SetEventNotificationsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>          
        </wsdl:operation>       
        <wsdl:operation name="GetSetEventNotificationsResponse">
            <soap:operation soapAction="" /> 
            <wsdl:input name="SetEventNotificationsAsyncRequest">
                <soap:header message="tns:SetEventNotificationsAsyncHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:SetEventNotificationsAsyncHeader" part="UserName" use="literal" />
                <soap:header message="tns:SetEventNotificationsAsyncHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetEventNotificationsResponse">
                <soap:body use="literal" />
            </wsdl:output>      
        </wsdl:operation>
        
        <wsdl:operation name="FindAllOrganisations">
            <soap:operation soapAction="" />
            <wsdl:input name="FindAllOrganisationsRequest">
                <soap:header message="tns:FindAllOrganisationsHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:FindAllOrganisationsHeader" part="UserName" use="literal" />
                <soap:header message="tns:FindAllOrganisationsHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="FindAllOrganisationsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="FindDevices">
            <soap:operation soapAction="" />
            <wsdl:input name="FindDevicesRequest">
                <soap:header message="tns:FindDevicesHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:FindDevicesHeader" part="UserName" use="literal" />
                <soap:header message="tns:FindDevicesHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="FindDevicesResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="FindScheduledTasks">
            <soap:operation soapAction="" />
            <wsdl:input name="FindScheduledTasksRequest">
                <soap:header message="tns:FindScheduledTasksHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:FindScheduledTasksHeader" part="UserName" use="literal" />
                <soap:header message="tns:FindScheduledTasksHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="FindScheduledTasksResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="UpdateDevice">
            <soap:operation soapAction="" />
            <wsdl:input name="UpdateDeviceRequest">
                <soap:header message="tns:UpdateDeviceHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:UpdateDeviceHeader" part="UserName" use="literal" />
                <soap:header message="tns:UpdateDeviceHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="UpdateDeviceResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetMaintenanceStatus">
            <soap:operation soapAction="" />
            <wsdl:input name="SetMaintenanceStatusRequest">
                <soap:header message="tns:SetMaintenanceStatusHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:SetMaintenanceStatusHeader" part="UserName" use="literal" />
                <soap:header message="tns:SetMaintenanceStatusHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetMaintenanceStatusResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="UpdateDeviceSslCertification">
            <soap:operation soapAction=""/>
            <wsdl:input name="UpdateDeviceSslCertificationRequest">
                <soap:header message="tns:UpdateDeviceSslCertificationHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:UpdateDeviceSslCertificationHeader" part="UserName" use="literal" />
                <soap:header message="tns:UpdateDeviceSslCertificationHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateDeviceSslCertificationAsyncResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetUpdateDeviceSslCertificationResponse">
            <soap:operation soapAction=""/>
            <wsdl:input name="UpdateDeviceSslCertificationAsyncRequest">
                <soap:header message="tns:UpdateDeviceSslCertificationAsyncHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:UpdateDeviceSslCertificationAsyncHeader" part="UserName" use="literal" />
                <soap:header message="tns:UpdateDeviceSslCertificationAsyncHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="UpdateDeviceSslCertificationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="DeviceManagementPortService">
        <wsdl:port binding="tns:DeviceManagementPortSoap11" name="DeviceManagementPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-core/common/deviceManagementService/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>