osgp-protocol-adapter-dlms/src/main/webapp/wsdl/jasperwireless/Sms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:jws="http://api.jasperwireless.com/ws/schema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://api.jasperwireless.com/ws/schema">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xmlns="http://api.jasperwireless.com/ws/schema"
                   elementFormDefault="qualified" attributeFormDefault="unqualified"
                   xsi:schemaLocation="http://www.w3.org/2001/XMLSchema http://www.w3.org/2001/XMLSchema.xsd">
            <xs:import namespace="http://api.jasperwireless.com/ws/schema"
                       schemaLocation="JasperAPI.xsd"/>
        </xs:schema>
    </types>

    <message name="SendSMSRequest">
        <part name="body" element="jws:SendSMSRequest"/>
    </message>

    <message name="SendSMSResponse">
        <part name="body" element="jws:SendSMSResponse"/>
    </message>

    <message name="SendSMSToMsisdnRequest">
        <part name="body" element="jws:SendSMSToMsisdnRequest"/>
    </message>

    <message name="SendSMSToMsisdnResponse">
        <part name="body" element="jws:SendSMSToMsisdnResponse"/>
    </message>

    <message name="GetSMSDetailsRequest">
        <part name="body" element="jws:GetSMSDetailsRequest"/>
    </message>

    <message name="GetSMSDetailsResponse">
        <part name="body" element="jws:GetSMSDetailsResponse"/>
    </message>

    <message name="GetModifiedSMSRequest">
        <part name="body" element="jws:GetModifiedSMSRequest"/>
    </message>

    <message name="GetModifiedSMSResponse">
        <part name="body" element="jws:GetModifiedSMSResponse"/>
    </message>

    <message name="SendBulkSMSRequest">
        <part name="body" element="jws:SendBulkSMSRequest"/>
    </message>

    <message name="SendBulkSMSResponse">
        <part name="body" element="jws:SendBulkSMSResponse"/>
    </message>

    <message name="SendBulkSMSToMsisdnRequest">
        <part name="body" element="jws:SendBulkSMSToMsisdnRequest"/>
    </message>

    <message name="SendBulkSMSToMsisdnResponse">
        <part name="body" element="jws:SendBulkSMSToMsisdnResponse"/>
    </message>

    <portType name="SmsPortType">
        <operation name="SendSMS">
            <input message="jws:SendSMSRequest"/>
            <output message="jws:SendSMSResponse"/>
        </operation>
        <operation name="SendSMSToMsisdn">
            <input message="jws:SendSMSToMsisdnRequest"/>
            <output message="jws:SendSMSToMsisdnResponse"/>
        </operation>
        <operation name="GetSMSDetails">
            <input message="jws:GetSMSDetailsRequest"/>
            <output message="jws:GetSMSDetailsResponse"/>
        </operation>
        <operation name="GetModifiedSMS">
            <input message="jws:GetModifiedSMSRequest"/>
            <output message="jws:GetModifiedSMSResponse"/>
        </operation>
        <operation name="SendBulkSMS">
            <input message="jws:SendBulkSMSRequest"/>
            <output message="jws:SendBulkSMSResponse"/>
        </operation>
        <operation name="SendBulkSMSToMsisdn">
            <input message="jws:SendBulkSMSToMsisdnRequest"/>
            <output message="jws:SendBulkSMSToMsisdnResponse"/>
        </operation>

    </portType>

    <binding name="SmsBinding" type="jws:SmsPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetSMSDetails">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/sms/GetSMSDetails"/>
            <input>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="GetModifiedSMS">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/sms/GetModifiedSMS"/>
            <input>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="SendSMS">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/sms/SendSMS"/>
            <input>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="SendSMSToMsisdn">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/sms/SendSMSToMsisdn"/>
            <input>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="SendBulkSMS">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/sms/SendBulkSMS"/>
            <input>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>
        <operation name="SendBulkSMSToMsisdn">
            <!-- static logic string used to match Endpoint -->
            <soap:operation soapAction="http://api.jasperwireless.com/ws/service/sms/SendBulkSMSToMsisdn"/>
            <input>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://api.jasperwireless.com/ws/schema"/>
            </output>
        </operation>


    </binding>

    <service name="SmsService">
        <port binding="jws:SmsBinding" name="SmsPort">
            <soap:address location="https://api.jasperwireless.com/ws/service/Sms"/>
        </port>
    </service>
</definitions>