osgp/shared/osgp-ws-smartmetering/src/main/resources/SmartMeteringMonitoring.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:smmon="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-monitoring/2014/10"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.opensmartgridplatform.org/definitions/smartmetering/sm-monitoring-v1.0"
  targetNamespace="http://www.opensmartgridplatform.org/definitions/smartmetering/sm-monitoring-v1.0">

  <wsdl:types>
    <xsd:schema
      targetNamespace="http://www.opensmartgridplatform.org/definitions/smartmetering/sm-monitoring/imports"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:import
        namespace="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-monitoring/2014/10"
        schemaLocation="schemas/monitoring-ws-smartmetering.xsd" />


    </xsd:schema>
  </wsdl:types>

  <!-- REQUEST_PERIODIC_METER_DATA -->

  <wsdl:message name="PeriodicMeterReadsRequest">
    <wsdl:part element="smmon:PeriodicMeterReadsRequest" name="PeriodicMeterReadsRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="PeriodicMeterReadsAsyncResponse">
    <wsdl:part element="smmon:PeriodicMeterReadsAsyncResponse"
      name="PeriodicMeterReadsAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="PeriodicMeterReadsAsyncRequest">
    <wsdl:part element="smmon:PeriodicMeterReadsAsyncRequest"
      name="PeriodicMeterReadsAsyncRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="PeriodicMeterReadsResponse">
    <wsdl:part element="smmon:PeriodicMeterReadsResponse"
      name="PeriodicMeterReadsResponse">
    </wsdl:part>
  </wsdl:message>

  <!-- REQUEST_PERIODIC_METER_DATA GAS -->
  <wsdl:message name="PeriodicMeterReadsGasRequest">
    <wsdl:part element="smmon:PeriodicMeterReadsGasRequest"
      name="PeriodicMeterReadsGasRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="PeriodicMeterReadsGasAsyncResponse">
    <wsdl:part element="smmon:PeriodicMeterReadsGasAsyncResponse"
      name="PeriodicMeterReadsGasAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="PeriodicMeterReadsGasAsyncRequest">
    <wsdl:part element="smmon:PeriodicMeterReadsGasAsyncRequest"
      name="PeriodicMeterReadsGasAsyncRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="PeriodicMeterReadsGasResponse">
    <wsdl:part element="smmon:PeriodicMeterReadsGasResponse"
      name="PeriodicMeterReadsGasResponse">
    </wsdl:part>
  </wsdl:message>

  <!-- ACTUAL METER READS -->
  <wsdl:message name="ActualMeterReadsRequest">
    <wsdl:part element="smmon:ActualMeterReadsRequest" name="ActualMeterReadsRequest" />
  </wsdl:message>
  <wsdl:message name="ActualMeterReadsAsyncResponse">
    <wsdl:part element="smmon:ActualMeterReadsAsyncResponse"
      name="ActualMeterReadsAsyncResponse" />
  </wsdl:message>

  <wsdl:message name="ActualMeterReadsAsyncRequest">
    <wsdl:part element="smmon:ActualMeterReadsAsyncRequest"
      name="ActualMeterReadsAsyncRequest" />
  </wsdl:message>

  <wsdl:message name="ActualMeterReadsResponse">
    <wsdl:part element="smmon:ActualMeterReadsResponse" name="ActualMeterReadsResponse" />
  </wsdl:message>

  <!-- ACTUAL METER READS GAS -->

  <wsdl:message name="ActualMeterReadsGasRequest">
    <wsdl:part element="smmon:ActualMeterReadsGasRequest"
      name="ActualMeterReadsGasRequest" />
  </wsdl:message>
  <wsdl:message name="ActualMeterReadsGasAsyncResponse">
    <wsdl:part element="smmon:ActualMeterReadsGasAsyncResponse"
      name="ActualMeterReadsGasAsyncResponse" />
  </wsdl:message>

  <wsdl:message name="ActualMeterReadsGasAsyncRequest">
    <wsdl:part element="smmon:ActualMeterReadsGasAsyncRequest"
      name="ActualMeterReadsGasAsyncRequest" />
  </wsdl:message>

  <wsdl:message name="ActualMeterReadsGasResponse">
    <wsdl:part element="smmon:ActualMeterReadsGasResponse"
      name="ActualMeterReadsGasResponse" />
  </wsdl:message>

  <wsdl:message name="GetSystemEventAsyncRequest">
    <wsdl:part element="smmon:GetSystemEventAsyncRequest"
      name="GetSystemEventAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetSystemEventResponse">
    <wsdl:part element="smmon:GetSystemEventResponse"
      name="GetSystemEventResponse">
    </wsdl:part>
  </wsdl:message>

  <!-- READ ALARM REGISTER -->
  <wsdl:message name="ReadAlarmRegisterRequest">
    <wsdl:part element="smmon:ReadAlarmRegisterRequest" name="AlarmRegisterRequest" />
  </wsdl:message>
  <wsdl:message name="ReadAlarmRegisterAsyncResponse">
    <wsdl:part element="smmon:ReadAlarmRegisterAsyncResponse"
      name="AlarmRegisterResponse" />
  </wsdl:message>

  <wsdl:message name="ReadAlarmRegisterAsyncRequest">
    <wsdl:part element="smmon:ReadAlarmRegisterAsyncRequest"
      name="RetrieveAlarmRegisterRequest" />
  </wsdl:message>
  <wsdl:message name="ReadAlarmRegisterResponse">
    <wsdl:part element="smmon:ReadAlarmRegisterResponse" name="RetrieveAlarmRegisterResponse" />
  </wsdl:message>
  <!-- CLEAR ALARM REGISTER  -->
  <wsdl:message name="ClearAlarmRegisterRequest">
    <wsdl:part element="smmon:ClearAlarmRegisterRequest" name="ClearAlarmRegisterRequest" />
  </wsdl:message>
  <wsdl:message name="ClearAlarmRegisterAsyncResponse">
    <wsdl:part element="smmon:ClearAlarmRegisterAsyncResponse"
      name="AlarmRegisterResponse" />
  </wsdl:message>

  <wsdl:message name="ClearAlarmRegisterAsyncRequest">
    <wsdl:part element="smmon:ClearAlarmRegisterAsyncRequest"
      name="ClearAlarmRegisterRequest" />
  </wsdl:message>
  <wsdl:message name="ClearAlarmRegisterResponse">
    <wsdl:part element="smmon:ClearAlarmRegisterResponse" name="ClearAlarmRegisterResponse" />
  </wsdl:message>
  <!-- PUSH NOTIFICATION ALARM -->
  <wsdl:message name="RetrievePushNotificationAlarmRequest">
    <wsdl:part element="smmon:RetrievePushNotificationAlarmRequest"
      name="RetrievePushNotificationAlarmRequest" />
  </wsdl:message>
  <wsdl:message name="RetrievePushNotificationAlarmResponse">
    <wsdl:part element="smmon:RetrievePushNotificationAlarmResponse"
      name="RetrievePushNotificationAlarmResponse" />
  </wsdl:message>

 <!-- REQUEST_LOAD_PROFILE -->

  <wsdl:message name="GetPowerQualityProfileRequest">
    <wsdl:part element="smmon:GetPowerQualityProfileRequest" name="GetPowerQualityProfileRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetPowerQualityProfileResponse">
    <wsdl:part element="smmon:GetPowerQualityProfileResponse"
      name="GetPowerQualityProfileResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetPowerQualityProfileAsyncRequest">
    <wsdl:part element="smmon:GetPowerQualityProfileAsyncRequest"
      name="GetPowerQualityProfileAsyncRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetPowerQualityProfileAsyncResponse">
    <wsdl:part element="smmon:GetPowerQualityProfileAsyncResponse"
      name="GetPowerQualityProfileAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <!-- ACTUAL POWER QUALITY -->

  <wsdl:message name="ActualPowerQualityRequest">
    <wsdl:part element="smmon:ActualPowerQualityRequest" name="ActualPowerQualityRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="ActualPowerQualityAsyncResponse">
    <wsdl:part element="smmon:ActualPowerQualityAsyncResponse"
      name="ActualPowerQualityAsyncResponse" />
  </wsdl:message>

  <wsdl:message name="ActualPowerQualityAsyncRequest">
    <wsdl:part element="smmon:ActualPowerQualityAsyncRequest"
      name="ActualPowerQualityAsyncRequest" />
  </wsdl:message>

  <wsdl:message name="ActualPowerQualityResponse">
    <wsdl:part element="smmon:ActualPowerQualityResponse"
               name="ActualPowerQualityResponse">
    </wsdl:part>
  </wsdl:message>

  <!-- FOR USE IN BINDING -->
  <wsdl:message name="SoapHeaders">
    <wsdl:part name="org" element="common:OrganisationIdentification" />
    <wsdl:part name="user" element="common:UserName" />
    <wsdl:part name="app" element="common:ApplicationName" />
  </wsdl:message>

  <wsdl:portType name="SmartMeteringMonitoringPort">

    <wsdl:operation name="GetPeriodicMeterReads">
      <wsdl:input message="tns:PeriodicMeterReadsRequest"
        name="PeriodicMeterReadsRequest">
      </wsdl:input>
      <wsdl:output message="tns:PeriodicMeterReadsAsyncResponse"
        name="PeriodicMeterReadsAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetPeriodicMeterReadsResponse">
      <wsdl:input message="tns:PeriodicMeterReadsAsyncRequest"
        name="PeriodicMeterReadsAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:PeriodicMeterReadsResponse"
        name="PeriodicMeterReadsResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetPeriodicMeterReadsGas">
      <wsdl:input message="tns:PeriodicMeterReadsGasRequest"
        name="PeriodicMeterReadsGasRequest">
      </wsdl:input>
      <wsdl:output message="tns:PeriodicMeterReadsGasAsyncResponse"
        name="PeriodicMeterReadsGasAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetPeriodicMeterReadsGasResponse">
      <wsdl:input message="tns:PeriodicMeterReadsGasAsyncRequest"
        name="PeriodicMeterReadsGasAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:PeriodicMeterReadsGasResponse"
        name="PeriodicMeterReadsGasResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetActualMeterReads">
      <wsdl:input message="tns:ActualMeterReadsRequest" name="ActualMeterReadsRequest">
      </wsdl:input>
      <wsdl:output message="tns:ActualMeterReadsAsyncResponse"
        name="ActualMeterReadsAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetActualMeterReadsResponse">
      <wsdl:input message="tns:ActualMeterReadsAsyncRequest"
        name="ActualMeterReadsAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:ActualMeterReadsResponse"
        name="ActualMeterReadsResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetActualMeterReadsGas">
      <wsdl:input message="tns:ActualMeterReadsGasRequest"
        name="ActualMeterReadsGasRequest">
      </wsdl:input>
      <wsdl:output message="tns:ActualMeterReadsGasAsyncResponse"
        name="ActualMeterReadsGasAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetActualMeterReadsGasResponse">
      <wsdl:input message="tns:ActualMeterReadsGasAsyncRequest"
        name="ActualMeterReadsGasAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:ActualMeterReadsGasResponse"
        name="ActualMeterReadsGasResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetSystemEvent">
      <wsdl:input message="tns:GetSystemEventAsyncRequest"
        name="GetSystemEventAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetSystemEventResponse"
        name="GetSystemEventResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ReadAlarmRegister">
      <wsdl:input message="tns:ReadAlarmRegisterRequest"
        name="ReadAlarmRegisterRequest" />
      <wsdl:output message="tns:ReadAlarmRegisterAsyncResponse"
        name="ReadAlarmRegisterAsyncResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetReadAlarmRegisterResponse">
      <wsdl:input message="tns:ReadAlarmRegisterAsyncRequest"
        name="ReadAlarmRegisterAsyncRequest" />
      <wsdl:output message="tns:ReadAlarmRegisterResponse"
        name="ReadAlarmRegisterResponse" />
    </wsdl:operation>

    <wsdl:operation name="ClearAlarmRegister">
      <wsdl:input message="tns:ClearAlarmRegisterRequest"
        name="ClearAlarmRegisterRequest" />
      <wsdl:output message="tns:ClearAlarmRegisterAsyncResponse"
        name="ClearAlarmRegisterAsyncResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetClearAlarmRegisterResponse">
      <wsdl:input message="tns:ClearAlarmRegisterAsyncRequest"
        name="ClearAlarmRegisterAsyncRequest" />
      <wsdl:output message="tns:ClearAlarmRegisterResponse"
        name="ClearAlarmRegisterResponse" />
    </wsdl:operation>

    <wsdl:operation name="RetrievePushNotificationAlarm">
      <wsdl:input message="tns:RetrievePushNotificationAlarmRequest"
        name="RetrievePushNotificationAlarmRequest" />
      <wsdl:output message="tns:RetrievePushNotificationAlarmResponse"
        name="RetrievePushNotificationAlarmResponse" />
    </wsdl:operation>

    <wsdl:operation name="GetPowerQualityProfile">
      <wsdl:input message="tns:GetPowerQualityProfileRequest"
        name="GetPowerQualityProfileRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetPowerQualityProfileAsyncResponse"
        name="GetPowerQualityProfileAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPowerQualityProfileResponse">
      <wsdl:input message="tns:GetPowerQualityProfileAsyncRequest"
        name="GetPowerQualityProfileAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetPowerQualityProfileResponse"
        name="GetPowerQualityProfileResponse">
      </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="SmartMeteringMonitoringPortSoap11"
    type="tns:SmartMeteringMonitoringPort">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="GetPeriodicMeterReads">
      <soap:operation soapAction="" />
      <wsdl:input name="PeriodicMeterReadsRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PeriodicMeterReadsAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetPeriodicMeterReadsResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="PeriodicMeterReadsAsyncRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PeriodicMeterReadsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetActualMeterReads">
      <soap:operation soapAction="" />
      <wsdl:input name="ActualMeterReadsRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ActualMeterReadsAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetActualMeterReadsResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="ActualMeterReadsAsyncRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
      </wsdl:input>
      <wsdl:output name="ActualMeterReadsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetPeriodicMeterReadsGas">
      <soap:operation soapAction="" />
      <wsdl:input name="PeriodicMeterReadsGasRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PeriodicMeterReadsGasAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetPeriodicMeterReadsGasResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="PeriodicMeterReadsGasAsyncRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PeriodicMeterReadsGasResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetActualMeterReadsGas">
      <soap:operation soapAction="" />
      <wsdl:input name="ActualMeterReadsGasRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ActualMeterReadsGasAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetActualMeterReadsGasResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="ActualMeterReadsGasAsyncRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
      </wsdl:input>
      <wsdl:output name="ActualMeterReadsGasResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetSystemEvent">
      <soap:operation soapAction=""/>
      <wsdl:input name="GetSystemEventAsyncRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetSystemEventResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ReadAlarmRegister">
      <soap:operation soapAction="" />
      <wsdl:input name="ReadAlarmRegisterRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ReadAlarmRegisterAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetReadAlarmRegisterResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="ReadAlarmRegisterAsyncRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
      </wsdl:input>
      <wsdl:output name="ReadAlarmRegisterResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ClearAlarmRegister">
      <soap:operation soapAction="" />
      <wsdl:input name="ClearAlarmRegisterRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ClearAlarmRegisterAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetClearAlarmRegisterResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="ClearAlarmRegisterAsyncRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
      </wsdl:input>
      <wsdl:output name="ClearAlarmRegisterResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="RetrievePushNotificationAlarm">
      <soap:operation soapAction="" />
      <wsdl:input name="RetrievePushNotificationAlarmRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RetrievePushNotificationAlarmResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetPowerQualityProfile">
      <soap:operation soapAction="" />
      <wsdl:input name="GetPowerQualityProfileRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPowerQualityProfileAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetPowerQualityProfileResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="GetPowerQualityProfileAsyncRequest">
        <soap:header message="tns:SoapHeaders" part="org"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="user"
          use="literal" />
        <soap:header message="tns:SoapHeaders" part="app"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetPowerQualityProfileResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  <wsdl:service name="SmartMeteringMonitoringPortService">
    <wsdl:port binding="tns:SmartMeteringMonitoringPortSoap11"
      name="SmartMeteringMonitoringPortSoap11">
      <soap:address
        location="http://localhost:8080/osgp-adapter-ws-smartmetering/smartMetering/monitoringService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
