osgp/shared/osgp-ws-smartmetering/src/main/resources/SmartMeteringManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:smman="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-management/2014/10"
  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://www.opensmartgridplatform.org/definitions/smartmetering/sm-management-v1.0"
  targetNamespace="http://www.opensmartgridplatform.org/definitions/smartmetering/sm-management-v1.0">

  <wsdl:types>
    <xsd:schema
      targetNamespace="http://www.opensmartgridplatform.org/definitions/smartmetering/sm-management/imports"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">

      <xsd:import
        namespace="http://www.opensmartgridplatform.org/schemas/smartmetering/sm-management/2014/10"
        schemaLocation="schemas/management-ws-smartmetering.xsd" />
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="ActionHeader">
    <wsdl:part element="common:OrganisationIdentification"
      name="OrganisationIdentification" />
    <wsdl:part element="common:UserName" name="UserName" />
    <wsdl:part element="common:ApplicationName" name="ApplicationName" />
  </wsdl:message>

  <wsdl:message name="FindEventsRequest">
    <wsdl:part element="smman:FindEventsRequest" name="FindEventsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindEventsAsyncResponse">
    <wsdl:part element="smman:FindEventsAsyncResponse" name="FindEventsAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="FindEventsAsyncRequest">
    <wsdl:part element="smman:FindEventsAsyncRequest" name="FindEventsAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindEventsResponse">
    <wsdl:part element="smman:FindEventsResponse" name="FindEventsResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetDevicesRequest">
    <wsdl:part element="smman:GetDevicesRequest" name="GetDevicesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetDevicesResponse">
    <wsdl:part element="smman:GetDevicesResponse" name="GetDevicesResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="EnableDebuggingRequest">
    <wsdl:part element="smman:EnableDebuggingRequest" name="EnableDebuggingRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnableDebuggingAsyncResponse">
    <wsdl:part element="smman:EnableDebuggingAsyncResponse"
      name="EnableDebuggingAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="EnableDebuggingAsyncRequest">
    <wsdl:part element="smman:EnableDebuggingAsyncRequest"
      name="EnableDebuggingAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EnableDebuggingResponse">
    <wsdl:part element="smman:EnableDebuggingResponse" name="EnableDebuggingResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="DisableDebuggingRequest">
    <wsdl:part element="smman:DisableDebuggingRequest" name="DisableDebuggingRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DisableDebuggingAsyncResponse">
    <wsdl:part element="smman:DisableDebuggingAsyncResponse"
      name="DisableDebuggingAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="DisableDebuggingAsyncRequest">
    <wsdl:part element="smman:DisableDebuggingAsyncRequest"
      name="DisableDebuggingAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DisableDebuggingResponse">
    <wsdl:part element="smman:DisableDebuggingResponse" name="DisableDebuggingResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="FindMessageLogsRequest">
    <wsdl:part element="smman:FindMessageLogsRequest" name="FindMessageLogsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindMessageLogsAsyncResponse">
    <wsdl:part element="smman:FindMessageLogsAsyncResponse"
      name="FindMessageLogsAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="FindMessageLogsAsyncRequest">
    <wsdl:part element="smman:FindMessageLogsAsyncRequest"
      name="FindMessageLogsAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="FindMessageLogsResponse">
    <wsdl:part element="smman:FindMessageLogsResponse" name="FindMessageLogsResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SetDeviceCommunicationSettingsRequest">
    <wsdl:part element="smman:SetDeviceCommunicationSettingsRequest"
      name="SetDeviceCommunicationSettingsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetDeviceCommunicationSettingsAsyncResponse">
    <wsdl:part element="smman:SetDeviceCommunicationSettingsAsyncResponse"
      name="SetDeviceCommunicationSettingsAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SetDeviceCommunicationSettingsAsyncRequest">
    <wsdl:part element="smman:SetDeviceCommunicationSettingsAsyncRequest"
      name="SetDeviceCommunicationSettingsAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetDeviceCommunicationSettingsResponse">
    <wsdl:part element="smman:SetDeviceCommunicationSettingsResponse"
      name="SetDeviceCommunicationSettingsResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="SetDeviceLifecycleStatusByChannelRequest">
    <wsdl:part element="smman:SetDeviceLifecycleStatusByChannelRequest"
      name="SetDeviceLifecycleStatusByChannelRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetDeviceLifecycleStatusByChannelAsyncResponse">
    <wsdl:part element="smman:SetDeviceLifecycleStatusByChannelAsyncResponse"
      name="SetDeviceLifecycleStatusByChannelAsyncResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetDeviceLifecycleStatusByChannelAsyncRequest">
    <wsdl:part element="smman:SetDeviceLifecycleStatusByChannelAsyncRequest"
      name="SetDeviceLifecycleStatusByChannelAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SetDeviceLifecycleStatusByChannelResponse">
    <wsdl:part element="smman:SetDeviceLifecycleStatusByChannelResponse"
      name="SetDeviceLifecycleStatusByChannelResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="ClearMBusStatusOnAllChannelsRequest">
    <wsdl:part element="smman:ClearMBusStatusOnAllChannelsRequest"
      name="ClearMBusStatusOnAllChannelsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ClearMBusStatusOnAllChannelsAsyncResponse">
    <wsdl:part element="smman:ClearMBusStatusOnAllChannelsAsyncResponse"
      name="ClearMBusStatusOnAllChannelsAsyncResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ClearMBusStatusOnAllChannelsAsyncRequest">
    <wsdl:part element="smman:ClearMBusStatusOnAllChannelsAsyncRequest"
      name="ClearMBusStatusOnAllChannelsAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ClearMBusStatusOnAllChannelsResponse">
    <wsdl:part element="smman:ClearMBusStatusOnAllChannelsResponse"
      name="ClearMBusStatusOnAllChannelsResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetGsmDiagnosticRequest">
    <wsdl:part element="smman:GetGsmDiagnosticRequest" name="GetGsmDiagnosticRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetGsmDiagnosticAsyncResponse">
    <wsdl:part element="smman:GetGsmDiagnosticAsyncResponse" name="GetGsmDiagnosticAsyncResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="GetGsmDiagnosticAsyncRequest">
    <wsdl:part element="smman:GetGsmDiagnosticAsyncRequest" name="GetGsmDiagnosticAsyncRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetGsmDiagnosticResponse">
    <wsdl:part element="smman:GetGsmDiagnosticResponse" name="GetGsmDiagnosticResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="SmartMeteringManagementPort">

    <wsdl:operation name="FindEvents">
      <wsdl:input message="tns:FindEventsRequest" name="FindEventsRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindEventsAsyncResponse"
        name="FindEventsAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetFindEventsResponse">
      <wsdl:input message="tns:FindEventsAsyncRequest" name="FindEventsAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindEventsResponse" name="FindEventsResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetDevices">
      <wsdl:input message="tns:GetDevicesRequest" name="GetDevicesRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetDevicesResponse" name="GetDevicesResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="EnableDebugging">
      <wsdl:input message="tns:EnableDebuggingRequest" name="EnableDebuggingRequest">
      </wsdl:input>
      <wsdl:output message="tns:EnableDebuggingAsyncResponse"
        name="EnableDebuggingAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetEnableDebuggingResponse">
      <wsdl:input message="tns:EnableDebuggingAsyncRequest"
        name="EnableDebuggingAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:EnableDebuggingResponse"
        name="EnableDebuggingResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DisableDebugging">
      <wsdl:input message="tns:DisableDebuggingRequest" name="DisableDebuggingRequest">
      </wsdl:input>
      <wsdl:output message="tns:DisableDebuggingAsyncResponse"
        name="DisableDebuggingAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetDisableDebuggingResponse">
      <wsdl:input message="tns:DisableDebuggingAsyncRequest"
        name="DisableDebuggingAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:DisableDebuggingResponse"
        name="DisableDebuggingResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindMessageLogs">
      <wsdl:input message="tns:FindMessageLogsRequest" name="FindMessageLogsRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindMessageLogsAsyncResponse"
        name="FindMessageLogsAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetFindMessageLogsResponse">
      <wsdl:input message="tns:FindMessageLogsAsyncRequest"
        name="FindMessageLogsAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:FindMessageLogsResponse"
        name="FindMessageLogsResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetDeviceCommunicationSettings">
      <wsdl:input message="tns:SetDeviceCommunicationSettingsRequest"
        name="SetDeviceCommunicationSettingsRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetDeviceCommunicationSettingsAsyncResponse"
        name="SetDeviceCommunicationSettingsAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetSetDeviceCommunicationSettingsResponse">
      <wsdl:input message="tns:SetDeviceCommunicationSettingsAsyncRequest"
        name="SetDeviceCommunicationSettingsAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetDeviceCommunicationSettingsResponse"
        name="SetDeviceCommunicationSettingsResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetDeviceLifecycleStatusByChannel">
      <wsdl:input message="tns:SetDeviceLifecycleStatusByChannelRequest"
        name="SetDeviceLifecycleStatusByChannelRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetDeviceLifecycleStatusByChannelAsyncResponse"
        name="SetDeviceLifecycleStatusByChannelAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSetDeviceLifecycleStatusByChannelResponse">
      <wsdl:input message="tns:SetDeviceLifecycleStatusByChannelAsyncRequest"
        name="SetDeviceLifecycleStatusByChannelAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:SetDeviceLifecycleStatusByChannelResponse"
        name="SetDeviceLifecycleStatusByChannelResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="ClearMBusStatusOnAllChannels">
      <wsdl:input message="tns:ClearMBusStatusOnAllChannelsRequest"
        name="ClearMBusStatusOnAllChannelsRequest">
      </wsdl:input>
      <wsdl:output message="tns:ClearMBusStatusOnAllChannelsAsyncResponse"
        name="ClearMBusStatusOnAllChannelsAsyncResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClearMBusStatusOnAllChannelsResponse">
      <wsdl:input message="tns:ClearMBusStatusOnAllChannelsAsyncRequest"
        name="ClearMBusStatusOnAllChannelsAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:ClearMBusStatusOnAllChannelsResponse"
        name="ClearMBusStatusOnAllChannelsResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetGsmDiagnostic">
      <wsdl:input message="tns:GetGsmDiagnosticRequest" name="GetGsmDiagnosticRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetGsmDiagnosticAsyncResponse" name="GetGsmDiagnosticAsyncResponse">
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetGetGsmDiagnosticResponse">
      <wsdl:input message="tns:GetGsmDiagnosticAsyncRequest" name="GetGsmDiagnosticAsyncRequest">
      </wsdl:input>
      <wsdl:output message="tns:GetGsmDiagnosticResponse" name="GetGsmDiagnosticResponse">
      </wsdl:output>
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="SmartMeteringManagementPortSoap11"
    type="tns:SmartMeteringManagementPort">

    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="FindEvents">
      <soap:operation soapAction="" />
      <wsdl:input name="FindEventsRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindEventsAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetFindEventsResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="FindEventsAsyncRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindEventsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetDevices">
      <soap:operation soapAction="" />
      <wsdl:input name="GetDevicesRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetDevicesResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="EnableDebugging">
      <soap:operation soapAction="" />
      <wsdl:input name="EnableDebuggingRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EnableDebuggingAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetEnableDebuggingResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="EnableDebuggingAsyncRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="EnableDebuggingResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="DisableDebugging">
      <soap:operation soapAction="" />
      <wsdl:input name="DisableDebuggingRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DisableDebuggingAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetDisableDebuggingResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="DisableDebuggingAsyncRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="DisableDebuggingResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="FindMessageLogs">
      <soap:operation soapAction="" />
      <wsdl:input name="FindMessageLogsRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindMessageLogsAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetFindMessageLogsResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="FindMessageLogsAsyncRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindMessageLogsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetDeviceCommunicationSettings">
      <soap:operation soapAction="" />
      <wsdl:input name="SetDeviceCommunicationSettingsRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetDeviceCommunicationSettingsAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetSetDeviceCommunicationSettingsResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="SetDeviceCommunicationSettingsAsyncRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetDeviceCommunicationSettingsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="SetDeviceLifecycleStatusByChannel">
      <soap:operation soapAction="" />
      <wsdl:input name="SetDeviceLifecycleStatusByChannelRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetDeviceLifecycleStatusByChannelAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetSetDeviceLifecycleStatusByChannelResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="SetDeviceLifecycleStatusByChannelAsyncRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SetDeviceLifecycleStatusByChannelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>


    <wsdl:operation name="ClearMBusStatusOnAllChannels">
      <soap:operation soapAction="" />
      <wsdl:input name="ClearMBusStatusOnAllChannelsRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ClearMBusStatusOnAllChannelsAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetClearMBusStatusOnAllChannelsResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="ClearMBusStatusOnAllChannelsAsyncRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ClearMBusStatusOnAllChannelsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetGsmDiagnostic">
      <soap:operation soapAction="" />
      <wsdl:input name="GetGsmDiagnosticRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGsmDiagnosticAsyncResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="GetGetGsmDiagnosticResponse">
      <soap:operation soapAction="" />
      <wsdl:input name="GetGsmDiagnosticAsyncRequest">
        <soap:header message="tns:ActionHeader" part="OrganisationIdentification"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="UserName"
          use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetGsmDiagnosticResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="SmartMeteringManagementPortService">
    <wsdl:port binding="tns:SmartMeteringManagementPortSoap11"
      name="SmartMeteringManagementPortSoap11">
      <soap:address
        location="http://localhost:8080/osgp-adapter-ws-smartmetering/smartMetering/managementService/" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
