osgp-adapter-ws-smartmetering/src/main/webapp/WEB-INF/wsdl/smartmetering/SmartMeteringConfiguration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:smconf="http://www.alliander.com/schemas/osgp/smartmetering/sm-configuration/2014/10"
    xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.alliander.com/definitions/osgp/smartmetering/sm-configuration-v1.0"
    targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-configuration-v1.0">

    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-configuration/imports" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:import 
                namespace="http://www.alliander.com/schemas/osgp/smartmetering/sm-configuration/2014/10" 
                schemaLocation="schemas/sm-configuration.xsd" />
        </xsd:schema>
    </wsdl:types>    
    
    
    <wsdl:message name="GetFirmwareVersionRequest">
        <wsdl:part element="smconf:GetFirmwareVersionRequest" name="GetFirmwareVersionRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetFirmwareVersionAsyncResponse">
        <wsdl:part element="smconf:GetFirmwareVersionAsyncResponse" name="GetFirmwareVersionAsyncResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="GetFirmwareVersionAsyncRequest">
        <wsdl:part element="smconf:GetFirmwareVersionAsyncRequest" name="GetFirmwareVersionAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetFirmwareVersionResponse">
        <wsdl:part element="smconf:GetFirmwareVersionResponse" name="GetFirmwareVersionResponse">
        </wsdl:part>
    </wsdl:message>
    

    <wsdl:message name="ActionHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    
    <wsdl:message name="SetSpecialDaysRequest">
        <wsdl:part element="smconf:SetSpecialDaysRequest" name="SetSpecialDaysRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetSpecialDaysAsyncResponse">
        <wsdl:part element="smconf:SetSpecialDaysAsyncResponse" name="SetSpecialDaysAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetSpecialDaysAsyncRequest">
        <wsdl:part element="smconf:SetSpecialDaysAsyncRequest" name="SetSpecialDaysAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetSpecialDaysResponse">
        <wsdl:part element="smconf:SetSpecialDaysResponse" name="SetSpecialDaysResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="SetAlarmNotificationsRequest">
        <wsdl:part element="smconf:SetAlarmNotificationsRequest" name="SetAlarmNotificationsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetAlarmNotificationsAsyncResponse">
        <wsdl:part element="smconf:SetAlarmNotificationsAsyncResponse" name="SetAlarmNotificationsAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetAlarmNotificationsAsyncRequest">
        <wsdl:part element="smconf:SetAlarmNotificationsAsyncRequest" name="SetAlarmNotificationsAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetAlarmNotificationsResponse">
        <wsdl:part element="smconf:SetAlarmNotificationsResponse" name="SetAlarmNotificationsResponse">
        </wsdl:part>
    </wsdl:message>

	<wsdl:message name="SetEncryptionKeyExchangeOnGMeterRequest">
        <wsdl:part element="smconf:SetEncryptionKeyExchangeOnGMeterRequest" name="setEncryptionKeyExchangeOnGMeterRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetEncryptionKeyExchangeOnGMeterAsyncResponse">
        <wsdl:part element="smconf:SetEncryptionKeyExchangeOnGMeterAsyncResponse" name="setEncryptionKeyExchangeOnGMeterAsyncResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="SetEncryptionKeyExchangeOnGMeterAsyncRequest">
        <wsdl:part element="smconf:SetEncryptionKeyExchangeOnGMeterAsyncRequest" name="SetEncryptionKeyExchangeOnGMeterAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetEncryptionKeyExchangeOnGMeterResponse">
        <wsdl:part element="smconf:SetEncryptionKeyExchangeOnGMeterResponse" name="SetEncryptionKeyExchangeOnGMeterResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="SetActivityCalendarRequest">
        <wsdl:part element="smconf:SetActivityCalendarRequest" name="setActivityCalendarRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetActivityCalendarAsyncResponse">
        <wsdl:part element="smconf:SetActivityCalendarAsyncResponse" name="setActivityCalendarAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetActivityCalendarAsyncRequest">
        <wsdl:part element="smconf:SetActivityCalendarAsyncRequest"  name="SetActivityCalendarAsyncRequest" />
    </wsdl:message>
    <wsdl:message name="SetActivityCalendarResponse">
        <wsdl:part element="smconf:SetActivityCalendarResponse" name="SetActivityCalendarResponse" />
    </wsdl:message>

    <wsdl:message name="SetConfigurationObjectRequest">
        <wsdl:part element="smconf:SetConfigurationObjectRequest" name="SetConfigurationObjectRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetConfigurationObjectAsyncResponse"> 
        <wsdl:part element="smconf:SetConfigurationObjectAsyncResponse" name="SetConfigurationObjectAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetConfigurationObjectAsyncRequest">
        <wsdl:part element="smconf:SetConfigurationObjectAsyncRequest" name="SetConfigurationObjectAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetConfigurationObjectResponse">
        <wsdl:part element="smconf:SetConfigurationObjectResponse" name="SetConfigurationObjectResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="SetPushSetupAlarmRequest">
        <wsdl:part element="smconf:SetPushSetupAlarmRequest" name="SetPushSetupAlarmRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetPushSetupAlarmAsyncResponse"> 
        <wsdl:part element="smconf:SetPushSetupAlarmAsyncResponse" name="SetPushSetupAlarmAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetPushSetupAlarmAsyncRequest">
        <wsdl:part element="smconf:SetPushSetupAlarmAsyncRequest" name="SetPushSetupAlarmAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetPushSetupAlarmResponse">
        <wsdl:part element="smconf:SetPushSetupAlarmResponse" name="SetPushSetupAlarmResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="SetPushSetupSmsRequest">
        <wsdl:part element="smconf:SetPushSetupSmsRequest" name="SetPushSetupSmsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetPushSetupSmsAsyncResponse"> 
        <wsdl:part element="smconf:SetPushSetupSmsAsyncResponse" name="SetPushSetupSmsAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetPushSetupSmsAsyncRequest">
        <wsdl:part element="smconf:SetPushSetupSmsAsyncRequest" name="SetPushSetupSmsAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetPushSetupSmsResponse">
        <wsdl:part element="smconf:SetPushSetupSmsResponse" name="SetPushSetupSmsResponse">
        </wsdl:part>
    </wsdl:message>

	<wsdl:message name="SetAdministrativeStatusRequest">
		<wsdl:part element="smconf:SetAdministrativeStatusRequest" 
			name="SetAdministrativieStatusRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SetAdministrativeStatusAsyncResponse">
		<wsdl:part element="smconf:SetAdministrativeStatusAsyncResponse" 
			name="setAdministrativeStatusAsyncResponse">
		</wsdl:part>
	</wsdl:message>
	
    <wsdl:message name="SetAdministrativeStatusAsyncRequest">
        <wsdl:part element="smconf:SetAdministrativeStatusAsyncRequest" name="SetAdministrativeStatusAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetAdministrativeStatusResponse">
        <wsdl:part element="smconf:SetAdministrativeStatusResponse" name="SetAdministrativeStatusResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="GetAdministrativeStatusRequest">
        <wsdl:part element="smconf:GetAdministrativeStatusRequest"
            name="GetAdministrativeStatusRequest" />
    </wsdl:message>
    <wsdl:message name="GetAdministrativeStatusAsyncResponse">
        <wsdl:part element="smconf:GetAdministrativeStatusAsyncResponse"
            name="GetAdministrativeStatusAsyncResponse" />
    </wsdl:message>

    <wsdl:message name="GetAdministrativeStatusAsyncRequest">
        <wsdl:part element="smconf:GetAdministrativeStatusAsyncRequest" name="GetAdministrativeStatusAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAdministrativeStatusResponse">
        <wsdl:part element="smconf:GetAdministrativeStatusResponse" name="GSetAdministrativeStatusResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="ReplaceKeysRequest">
        <wsdl:part element="smconf:ReplaceKeysRequest" name="ReplaceKeysRequest" />
    </wsdl:message>
    <wsdl:message name="ReplaceKeysAsyncResponse">
        <wsdl:part element="smconf:ReplaceKeysAsyncResponse" name="ReplaceKeysAsyncResponse" />
    </wsdl:message>
    <wsdl:message name="ReplaceKeysAsyncRequest">
        <wsdl:part element="smconf:ReplaceKeysAsyncRequest" name="ReplaceKeysAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="ReplaceKeysResponse">
        <wsdl:part element="smconf:ReplaceKeysResponse" name="ReplaceKeysResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="SmartmeterconfigurationPort">

        <wsdl:operation name="GetGetFirmwareVersionResponse">
            <wsdl:input message="tns:GetFirmwareVersionAsyncRequest" name="GetFirmwareVersionAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetFirmwareVersionResponse" name="GetFirmwareVersionResponse">
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="GetFirmwareVersion">
            <wsdl:input message="tns:GetFirmwareVersionRequest" name="GetFirmwareVersionRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetFirmwareVersionAsyncResponse" name="GetFirmwareVersionAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        

        <wsdl:operation name="SetSpecialDays">
            <wsdl:input message="tns:SetSpecialDaysRequest" name="SetSpecialDaysRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetSpecialDaysAsyncResponse" name="SetSpecialDaysAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetSpecialDaysResponse">
            <wsdl:input message="tns:SetSpecialDaysAsyncRequest" name="SetSpecialDaysAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetSpecialDaysResponse" name="SetSpecialDaysResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="SetConfigurationObject">
            <wsdl:input message="tns:SetConfigurationObjectRequest" name="SetConfigurationObjectRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetConfigurationObjectAsyncResponse" name="SetConfigurationObjectAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSetConfigurationObjectResponse">
            <wsdl:input message="tns:SetConfigurationObjectAsyncRequest" name="SetConfigurationObjectAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetConfigurationObjectResponse" name="SetConfigurationObjectResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetPushSetupAlarm">
            <wsdl:input message="tns:SetPushSetupAlarmRequest" name="SetPushSetupAlarmRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetPushSetupAlarmAsyncResponse" name="SetPushSetupAlarmAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSetPushSetupAlarmResponse">
            <wsdl:input message="tns:SetPushSetupAlarmAsyncRequest" name="SetPushSetupAlarmAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetPushSetupAlarmResponse" name="SetPushSetupAlarmResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetPushSetupSms">
            <wsdl:input message="tns:SetPushSetupSmsRequest" name="SetPushSetupSmsRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetPushSetupSmsAsyncResponse" name="SetPushSetupSmsAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSetPushSetupSmsResponse">
            <wsdl:input message="tns:SetPushSetupSmsAsyncRequest" name="SetPushSetupSmsAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetPushSetupSmsResponse" name="SetPushSetupSmsResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetAlarmNotifications">
            <wsdl:input message="tns:SetAlarmNotificationsRequest" name="SetAlarmNotificationsRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetAlarmNotificationsAsyncResponse" name="SetAlarmNotificationsAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSetAlarmNotificationsResponse">
            <wsdl:input message="tns:SetAlarmNotificationsAsyncRequest" name="SetAlarmNotificationsAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetAlarmNotificationsResponse" name="SetAlarmNotificationsResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetEncryptionKeyExchangeOnGMeter">
            <wsdl:input message="tns:SetEncryptionKeyExchangeOnGMeterRequest" name="SetEncryptionKeyExchangeOnGMeterRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetEncryptionKeyExchangeOnGMeterAsyncResponse" name="SetEncryptionKeyExchangeOnGMeterAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetEncryptionKeyExchangeOnGMeterResponse">
            <wsdl:input message="tns:SetEncryptionKeyExchangeOnGMeterAsyncRequest" name="SetEncryptionKeyExchangeOnGMeterAsyncRequest"> 
            </wsdl:input>
            <wsdl:output message="tns:SetEncryptionKeyExchangeOnGMeterResponse" name="SetEncryptionKeyExchangeOnGMeterResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetActivityCalendar">
            <wsdl:input message="tns:SetActivityCalendarRequest" name="SetActivityCalendarRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetActivityCalendarAsyncResponse" name="SetActivityCalendarAsyncResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetSetActivityCalendarResponse">
            <wsdl:input message="tns:SetActivityCalendarAsyncRequest" name="SetActivityCalendarAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetActivityCalendarResponse" name="SetActivityCalendarResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetAdministrativeStatus">
            <wsdl:input message="tns:SetAdministrativeStatusRequest" name="SetAdministrativeStatusRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetAdministrativeStatusAsyncResponse" name="SetAdministrativeStatusAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetAdministrativeStatusResponse">
            <wsdl:input message="tns:SetAdministrativeStatusAsyncRequest" name="SetAdministrativeStatusAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetAdministrativeStatusResponse" name="SetAdministrativeStatusResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetAdministrativeStatus">
            <wsdl:input message="tns:GetAdministrativeStatusRequest" name="GetAdministrativeStatusRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetAdministrativeStatusAsyncResponse" name="GetAdministrativeStatusAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetGetAdministrativeStatusResponse">
            <wsdl:input message="tns:GetAdministrativeStatusAsyncRequest" name="GetAdministrativeStatusAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:GetAdministrativeStatusResponse" name="GetAdministrativeStatusResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ReplaceKeys">
            <wsdl:input message="tns:ReplaceKeysRequest" name="ReplaceKeysRequest">
            </wsdl:input>
            <wsdl:output message="tns:ReplaceKeysAsyncResponse" name="ReplaceKeysAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetReplaceKeysResponse">
            <wsdl:input message="tns:ReplaceKeysAsyncRequest" name="ReplaceKeysAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:ReplaceKeysResponse" name="ReplaceKeysResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SmartmeterconfigurationPortSoap11" type="tns:SmartmeterconfigurationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="GetGetFirmwareVersionResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="GetFirmwareVersionAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetFirmwareVersionResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetFirmwareVersion">
            <soap:operation soapAction="" />
            <wsdl:input name="GetFirmwareVersionRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetFirmwareVersionAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
   
        <wsdl:operation name="SetSpecialDays">
            <soap:operation soapAction="" />
            <wsdl:input name="SetSpecialDaysRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetSpecialDaysAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetSpecialDaysResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetSpecialDaysAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetSpecialDaysResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="SetConfigurationObject">
            <soap:operation soapAction="" />
            <wsdl:input name="SetConfigurationObjectRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetConfigurationObjectAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetConfigurationObjectResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetConfigurationObjectAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetConfigurationObjectResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetPushSetupAlarm">
            <soap:operation soapAction="" />
            <wsdl:input name="SetPushSetupAlarmRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetPushSetupAlarmAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetPushSetupAlarmResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetPushSetupAlarmAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetPushSetupAlarmResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetPushSetupSms">
            <soap:operation soapAction="" />
            <wsdl:input name="SetPushSetupSmsRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetPushSetupSmsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetPushSetupSmsResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetPushSetupSmsAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetPushSetupSmsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetAlarmNotifications">
            <soap:operation soapAction="" />
            <wsdl:input name="SetAlarmNotificationsRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetAlarmNotificationsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSetAlarmNotificationsResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetAlarmNotificationsAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetAlarmNotificationsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetEncryptionKeyExchangeOnGMeter">
            <soap:operation soapAction="" />
            <wsdl:input name="SetEncryptionKeyExchangeOnGMeterRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetEncryptionKeyExchangeOnGMeterAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetEncryptionKeyExchangeOnGMeterResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetEncryptionKeyExchangeOnGMeterAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
            </wsdl:input>
            <wsdl:output name="SetEncryptionKeyExchangeOnGMeterResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetActivityCalendar">
            <soap:operation soapAction="" />
            <wsdl:input name="SetActivityCalendarRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetActivityCalendarAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetActivityCalendarResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetActivityCalendarAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
            </wsdl:input>
            <wsdl:output name="SetActivityCalendarResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetAdministrativeStatus">
            <soap:operation soapAction="" />
            <wsdl:input name="SetAdministrativeStatusRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetAdministrativeStatusAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetAdministrativeStatusResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetAdministrativeStatusAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetAdministrativeStatusResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetAdministrativeStatus">
            <soap:operation soapAction="" />
            <wsdl:input name="GetAdministrativeStatusRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetAdministrativeStatusAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetGetAdministrativeStatusResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="GetAdministrativeStatusAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetAdministrativeStatusResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="ReplaceKeys">
            <soap:operation soapAction="" />
            <wsdl:input name="ReplaceKeysRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="ReplaceKeysAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetReplaceKeysResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="ReplaceKeysAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="ReplaceKeysResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    
    <wsdl:service name="SmartmeterconfigurationPortService">
        <wsdl:port binding="tns:SmartmeterconfigurationPortSoap11" name="SmartmeterconfigurationPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-smartmetering/smartMetering/configurationService/" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>