osgp-adapter-ws-smartmetering/src/main/webapp/WEB-INF/wsdl/smartmetering/SmartMeteringAdhoc.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:smadhoc="http://www.alliander.com/schemas/osgp/smartmetering/sm-adhoc/2014/10"
    xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.alliander.com/definitions/osgp/smartmetering/sm-adhoc-v1.0"
    targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-adhoc-v1.0">

    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-adhoc/imports" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:import 
                namespace="http://www.alliander.com/schemas/osgp/smartmetering/sm-adhoc/2014/10" 
                schemaLocation="schemas/sm-adhoc.xsd" />
        </xsd:schema>
    </wsdl:types>    

    <wsdl:message name="ActionHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
		<wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    
    <!-- SYNCHRONIZE_TIME -->
    
    <wsdl:message name="SynchronizeTimeRequest">
        <wsdl:part element="smadhoc:SynchronizeTimeRequest" name="SynchronizeTimeRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SynchronizeTimeAsyncResponse">
        <wsdl:part element="smadhoc:SynchronizeTimeAsyncResponse" name="SynchronizeTimeAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SynchronizeTimeAsyncRequest">
        <wsdl:part element="smadhoc:SynchronizeTimeAsyncRequest" name="SynchronizeTimeAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SynchronizeTimeResponse">
        <wsdl:part element="smadhoc:SynchronizeTimeResponse" name="SynchronizeTimeResponse">
        </wsdl:part>
    </wsdl:message>
    
    <!-- SEND WAKEUP SMS -->
    
    <wsdl:message name="SendWakeupSmsRequest">
        <wsdl:part element="smadhoc:SendWakeupSmsRequest" name="SendWakeupSmsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendWakeupSmsAsyncResponse">
        <wsdl:part element="smadhoc:SendWakeupSmsAsyncResponse" name="SendWakeupSmsAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendWakeupSmsAsyncRequest">
        <wsdl:part element="smadhoc:SendWakeupSmsAsyncRequest" name="SendWakeupSmsAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendWakeupSmsResponse">
        <wsdl:part element="smadhoc:SendWakeupSmsResponse" name="SendWakeupSmsResponse">
        </wsdl:part>
    </wsdl:message>
    
    <!-- GET SMS DETAILS -->
    
    <wsdl:message name="GetSmsDetailsRequest">
        <wsdl:part element="smadhoc:GetSmsDetailsRequest" name="GetSmsDetailsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetSmsDetailsAsyncResponse">
        <wsdl:part element="smadhoc:GetSmsDetailsAsyncResponse" name="GetSmsDetailsAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetSmsDetailsAsyncRequest">
        <wsdl:part element="smadhoc:GetSmsDetailsAsyncRequest" name="GetSmsDetailsAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetSmsDetailsResponse">
        <wsdl:part element="smadhoc:GetSmsDetailsResponse" name="GetSmsDetailsResponse">
        </wsdl:part>
    </wsdl:message>

    <!-- RETRIEVE CONFIGURATION OBJECTS -->
    
    <wsdl:message name="RetrieveConfigurationObjectsRequest">
        <wsdl:part element="smadhoc:RetrieveConfigurationObjectsRequest" name="RetrieveConfigurationObjectsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RetrieveConfigurationObjectsAsyncResponse">
        <wsdl:part element="smadhoc:RetrieveConfigurationObjectsAsyncResponse" name="RetrieveConfigurationObjectsAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RetrieveConfigurationObjectsAsyncRequest">
        <wsdl:part element="smadhoc:RetrieveConfigurationObjectsAsyncRequest" name="RetrieveConfigurationObjectsAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RetrieveConfigurationObjectsResponse">
        <wsdl:part element="smadhoc:RetrieveConfigurationObjectsResponse" name="RetrieveConfigurationObjectsResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="SmartmeteradhocPort">
        <wsdl:operation name="SynchronizeTime">
            <wsdl:input message="tns:SynchronizeTimeRequest" name="SynchronizeTimeRequest" />
            <wsdl:output message="tns:SynchronizeTimeAsyncResponse" name="SynchronizeTimeAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetSynchronizeTimeResponse">
            <wsdl:input message="tns:SynchronizeTimeAsyncRequest" name="SynchronizeTimeAsyncRequest" />
            <wsdl:output message="tns:SynchronizeTimeResponse" name="SynchronizeTimeResponse" />
        </wsdl:operation>        

        <wsdl:operation name="SendWakeupSms">
            <wsdl:input message="tns:SendWakeupSmsRequest" name="SendWakeupSmsRequest" />
            <wsdl:output message="tns:SendWakeupSmsAsyncResponse" name="SendWakeupSmsAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetSendWakeupSmsResponse">
            <wsdl:input message="tns:SendWakeupSmsAsyncRequest" name="SendWakeupSmsAsyncRequest" />
            <wsdl:output message="tns:SendWakeupSmsResponse" name="SendWakeupSmsResponse" />
        </wsdl:operation>

        <wsdl:operation name="GetSmsDetails">
            <wsdl:input message="tns:GetSmsDetailsRequest" name="GetSmsDetailsRequest" />
            <wsdl:output message="tns:GetSmsDetailsAsyncResponse" name="GetSmsDetailsAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetGetSmsDetailsResponse">
            <wsdl:input message="tns:GetSmsDetailsAsyncRequest" name="GetSmsDetailsAsyncRequest" />
            <wsdl:output message="tns:GetSmsDetailsResponse" name="GetSmsDetailsResponse" />
        </wsdl:operation>

        <wsdl:operation name="RetrieveConfigurationObjects">
            <wsdl:input message="tns:RetrieveConfigurationObjectsRequest" name="RetrieveConfigurationObjectsRequest" />
            <wsdl:output message="tns:RetrieveConfigurationObjectsAsyncResponse" name="RetrieveConfigurationObjectsAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetRetrieveConfigurationObjectsResponse">
            <wsdl:input message="tns:RetrieveConfigurationObjectsAsyncRequest" name="RetrieveConfigurationObjectsAsyncRequest" />
            <wsdl:output message="tns:RetrieveConfigurationObjectsResponse" name="RetrieveConfigurationObjectsResponse" />
        </wsdl:operation>        
    </wsdl:portType>
    
    <wsdl:binding name="SmartmeteradhocPortSoap11" type="tns:SmartmeteradhocPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="SynchronizeTime">
            <soap:operation soapAction="" />
            <wsdl:input name="SynchronizeTimeRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SynchronizeTimeAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSynchronizeTimeResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SynchronizeTimeAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SynchronizeTimeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SendWakeupSms">
            <soap:operation soapAction="" />
            <wsdl:input name="SendWakeupSmsRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SendWakeupSmsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSendWakeupSmsResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SendWakeupSmsAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SendWakeupSmsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetSmsDetails">
            <soap:operation soapAction="" />
            <wsdl:input name="GetSmsDetailsRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetSmsDetailsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetGetSmsDetailsResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="GetSmsDetailsAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetSmsDetailsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="RetrieveConfigurationObjects">
            <soap:operation soapAction="" />
            <wsdl:input name="RetrieveConfigurationObjectsRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="RetrieveConfigurationObjectsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetRetrieveConfigurationObjectsResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="RetrieveConfigurationObjectsAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="RetrieveConfigurationObjectsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="SmartmeteradhocPortService">
        <wsdl:port binding="tns:SmartmeteradhocPortSoap11" name="SmartmeteradhocPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-smartmetering/smartMetering/adhocService/" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>