osgp-adapter-ws-smartmetering/src/main/webapp/WEB-INF/wsdl/smartmetering/SmartMeteringAdhoc.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:smadhoc="http://www.alliander.com/schemas/osgp/smartmetering/sm-adhoc/2014/10"
    xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.alliander.com/definitions/osgp/smartmetering/sm-adhoc-v1.0"
    targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-adhoc-v1.0">

    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-adhoc/imports" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:import 
                namespace="http://www.alliander.com/schemas/osgp/smartmetering/sm-adhoc/2014/10" 
                schemaLocation="schemas/sm-adhoc.xsd" />
        </xsd:schema>
    </wsdl:types>    

    <wsdl:message name="ActionHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
		<wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    
    <!-- SYNCHRONIZE_TIME -->
    
    <wsdl:message name="SynchronizeTimeRequest">
        <wsdl:part element="smadhoc:SynchronizeTimeRequest" name="SynchronizeTimeRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SynchronizeTimeAsyncResponse">
        <wsdl:part element="smadhoc:SynchronizeTimeAsyncResponse" name="SynchronizeTimeAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SynchronizeTimeAsyncRequest">
        <wsdl:part element="smadhoc:SynchronizeTimeAsyncRequest" name="SynchronizeTimeAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SynchronizeTimeResponse">
        <wsdl:part element="smadhoc:SynchronizeTimeResponse" name="SynchronizeTimeResponse">
        </wsdl:part>
    </wsdl:message>
    
    <!-- RETRIEVE CONFIGURATION OBJECTS -->
    <wsdl:message name="SpecificConfigurationObjectRequest">
        <wsdl:part element="smadhoc:SpecificConfigurationObjectRequest" name="SpecificConfigurationObjectRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SpecificConfigurationObjectAsyncResponse">
        <wsdl:part element="smadhoc:SpecificConfigurationObjectAsyncResponse" name="SpecificConfigurationObjectAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SpecificConfigurationObjectAsyncRequest">
        <wsdl:part element="smadhoc:SpecificConfigurationObjectAsyncRequest" name="SpecificConfigurationObjectAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SpecificConfigurationObjectResponse">
        <wsdl:part element="smadhoc:SpecificConfigurationObjectResponse" name="SpecificConfigurationObjectResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="RetrieveConfigurationObjectsRequest">
        <wsdl:part element="smadhoc:RetrieveConfigurationObjectsRequest" name="RetrieveConfigurationObjectsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RetrieveConfigurationObjectsAsyncResponse">
        <wsdl:part element="smadhoc:RetrieveConfigurationObjectsAsyncResponse" name="RetrieveConfigurationObjectsAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RetrieveConfigurationObjectsAsyncRequest">
        <wsdl:part element="smadhoc:RetrieveConfigurationObjectsAsyncRequest" name="RetrieveConfigurationObjectsAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="RetrieveConfigurationObjectsResponse">
        <wsdl:part element="smadhoc:RetrieveConfigurationObjectsResponse" name="RetrieveConfigurationObjectsResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="GetAssociationLnObjectsRequest">
        <wsdl:part element="smadhoc:GetAssociationLnObjectsRequest" name="GetAssociationLnObjectsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAssociationLnObjectsAsyncResponse">
        <wsdl:part element="smadhoc:GetAssociationLnObjectsAsyncResponse" name="GetAssociationLnObjectsAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAssociationLnObjectsAsyncRequest">
        <wsdl:part element="smadhoc:GetAssociationLnObjectsAsyncRequest" name="GetAssociationLnObjectsAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAssociationLnObjectsResponse">
        <wsdl:part element="smadhoc:GetAssociationLnObjectsResponse" name="GetAssociationLnObjectsResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:portType name="SmartmeteradhocPort">
        <wsdl:operation name="SynchronizeTime">
            <wsdl:input message="tns:SynchronizeTimeRequest" name="SynchronizeTimeRequest" />
            <wsdl:output message="tns:SynchronizeTimeAsyncResponse" name="SynchronizeTimeAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetSynchronizeTimeResponse">
            <wsdl:input message="tns:SynchronizeTimeAsyncRequest" name="SynchronizeTimeAsyncRequest" />
            <wsdl:output message="tns:SynchronizeTimeResponse" name="SynchronizeTimeResponse" />
        </wsdl:operation>        

        <wsdl:operation name="RetrieveConfigurationObjects">
            <wsdl:input message="tns:RetrieveConfigurationObjectsRequest" name="RetrieveConfigurationObjectsRequest" />
            <wsdl:output message="tns:RetrieveConfigurationObjectsAsyncResponse" name="RetrieveConfigurationObjectsAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetRetrieveConfigurationObjectsResponse">
            <wsdl:input message="tns:RetrieveConfigurationObjectsAsyncRequest" name="RetrieveConfigurationObjectsAsyncRequest" />
            <wsdl:output message="tns:RetrieveConfigurationObjectsResponse" name="RetrieveConfigurationObjectsResponse" />
        </wsdl:operation>           

        <wsdl:operation name="GetSpecificConfigurationObject">
            <wsdl:input message="tns:SpecificConfigurationObjectRequest" name="SpecificConfigurationObjectRequest" />
            <wsdl:output message="tns:SpecificConfigurationObjectAsyncResponse" name="SpecificConfigurationObjectAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetSpecificConfigurationObjectResponse">
            <wsdl:input message="tns:SpecificConfigurationObjectAsyncRequest" name="SpecificConfigurationObjectAsyncRequest" />
            <wsdl:output message="tns:SpecificConfigurationObjectResponse" name="SpecificConfigurationObjectResponse" />
        </wsdl:operation>           
        
        <wsdl:operation name="GetAssociationLnObjects">
            <wsdl:input message="tns:GetAssociationLnObjectsRequest" name="GetAssociationLnObjectsRequest" />
            <wsdl:output message="tns:GetAssociationLnObjectsAsyncResponse" name="GetAssociationLnObjectsAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetGetAssociationLnObjectsResponse">
            <wsdl:input message="tns:GetAssociationLnObjectsAsyncRequest" name="GetAssociationLnObjectsAsyncRequest" />
            <wsdl:output message="tns:GetAssociationLnObjectsResponse" name="GetAssociationLnObjectsResponse" />
        </wsdl:operation>        
    </wsdl:portType>
    
    <wsdl:binding name="SmartmeteradhocPortSoap11" type="tns:SmartmeteradhocPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="SynchronizeTime">
            <soap:operation soapAction="" />
            <wsdl:input name="SynchronizeTimeRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SynchronizeTimeAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSynchronizeTimeResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SynchronizeTimeAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SynchronizeTimeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="RetrieveConfigurationObjects">
            <soap:operation soapAction="" />
            <wsdl:input name="RetrieveConfigurationObjectsRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="RetrieveConfigurationObjectsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetRetrieveConfigurationObjectsResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="RetrieveConfigurationObjectsAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="RetrieveConfigurationObjectsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetSpecificConfigurationObject">
            <soap:operation soapAction="" />
            <wsdl:input name="SpecificConfigurationObjectRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SpecificConfigurationObjectAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSpecificConfigurationObjectResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SpecificConfigurationObjectAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SpecificConfigurationObjectResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetAssociationLnObjects">
            <soap:operation soapAction="" />
            <wsdl:input name="GetAssociationLnObjectsRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetAssociationLnObjectsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetGetAssociationLnObjectsResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="GetAssociationLnObjectsAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
        <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetAssociationLnObjectsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="SmartmeteradhocPortService">
        <wsdl:port binding="tns:SmartmeteradhocPortSoap11" name="SmartmeteradhocPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-smartmetering/smartMetering/adhocService/" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>