osgp-adapter-ws-smartmetering/src/main/webapp/WEB-INF/wsdl/smartmetering/SmartMeteringInstallation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:sminst="http://www.alliander.com/schemas/osgp/smartmetering/sm-installation/2014/10"
    xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.alliander.com/definitions/osgp/smartmetering/sm-installation-v1.0"
    targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-installation-v1.0">
        
    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-installation/imports" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:import 
                namespace="http://www.alliander.com/schemas/osgp/smartmetering/sm-installation/2014/10" 
                schemaLocation="schemas/sm-installation.xsd" />
        </xsd:schema>
    </wsdl:types>    

    <wsdl:message name="ActionHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
		<wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    
    
    <wsdl:message name="AddDeviceRequest">
        <wsdl:part element="sminst:AddDeviceRequest" name="AddDeviceRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddDeviceAsyncResponse">
        <wsdl:part element="sminst:AddDeviceAsyncResponse" name="AddDeviceAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddDeviceAsyncRequest">
        <wsdl:part element="sminst:AddDeviceAsyncRequest" name="AddDeviceAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AddDeviceResponse">
        <wsdl:part element="sminst:AddDeviceResponse" name="AddDeviceResponse">
        </wsdl:part>
    </wsdl:message>

	<wsdl:message name="CoupleMbusDeviceRequest">
		<wsdl:part element="sminst:CoupleMbusDeviceRequest" name="CoupleMbusDeviceRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CoupleMbusDeviceAsyncResponse">
		<wsdl:part element="sminst:CoupleMbusDeviceAsyncResponse"
			name="CoupleMbusDeviceAsyncResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CoupleMbusDeviceAsyncRequest">
		<wsdl:part element="sminst:CoupleMbusDeviceAsyncRequest"
			name="CoupleMbusDeviceAsyncRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CoupleMbusDeviceResponse">
		<wsdl:part element="sminst:CoupleMbusDeviceResponse" name="CoupleMbusDeviceResponse">
		</wsdl:part>
	</wsdl:message>

    <wsdl:message name="DeCoupleMbusDeviceRequest">
        <wsdl:part element="sminst:DeCoupleMbusDeviceRequest" name="DeCoupleMbusDeviceRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeCoupleMbusDeviceAsyncResponse">
        <wsdl:part element="sminst:DeCoupleMbusDeviceAsyncResponse" name="DeCoupleMbusDeviceAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeCoupleMbusDeviceAsyncRequest">
        <wsdl:part element="sminst:DeCoupleMbusDeviceAsyncRequest" name="DeCoupleMbusDeviceAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="DeCoupleMbusDeviceResponse">
        <wsdl:part element="sminst:DeCoupleMbusDeviceResponse" name="DeCoupleMbusDeviceResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="SmartmeterInstallationPort">
   
        <wsdl:operation name="AddDevice">
            <wsdl:input message="tns:AddDeviceRequest" name="AddDeviceRequest">
            </wsdl:input>
            <wsdl:output message="tns:AddDeviceAsyncResponse" name="AddDeviceAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAddDeviceReponse">
            <wsdl:input message="tns:AddDeviceAsyncRequest" name="AddDeviceAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:AddDeviceResponse" name="AddDeviceResponse">
            </wsdl:output>
        </wsdl:operation>

		<wsdl:operation name="CoupleMbusDevice">
 			<wsdl:input message="tns:CoupleMbusDeviceRequest" name="CoupleMbusDeviceRequest">
 			</wsdl:input>
 			<wsdl:output message="tns:CoupleMbusDeviceAsyncResponse"
 				name="CoupleMbusDeviceAsyncResponse">
 			</wsdl:output>
 		</wsdl:operation>
 		<wsdl:operation name="GetCoupleMbusDeviceReponse">
 			<wsdl:input message="tns:CoupleMbusDeviceAsyncRequest"
 				name="CoupleMbusDeviceAsyncRequest">
 			</wsdl:input>
 			<wsdl:output message="tns:CoupleMbusDeviceResponse" name="CoupleMbusDeviceResponse">
 			</wsdl:output>
 		</wsdl:operation>

        <wsdl:operation name="DeCoupleMbusDevice">
            <wsdl:input message="tns:DeCoupleMbusDeviceRequest" name="DeCoupleMbusDeviceRequest">
            </wsdl:input>
            <wsdl:output message="tns:DeCoupleMbusDeviceAsyncResponse" name="DeCoupleMbusDeviceAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetDeCoupleMbusDeviceReponse">
            <wsdl:input message="tns:DeCoupleMbusDeviceAsyncRequest" name="DeCoupleMbusDeviceAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:DeCoupleMbusDeviceResponse" name="DeCoupleMbusDeviceResponse">
            </wsdl:output>
        </wsdl:operation>

    </wsdl:portType>
    
    <wsdl:binding name="SmartmeterInstallationPortSoap11" type="tns:SmartmeterInstallationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

        <wsdl:operation name="AddDevice">
            <soap:operation soapAction="" />
            <wsdl:input name="AddDeviceRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="AddDeviceAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetAddDeviceReponse">
            <soap:operation soapAction="" />
            <wsdl:input name="AddDeviceAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="AddDeviceResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="CoupleMbusDevice">
			<soap:operation soapAction="" />
			<wsdl:input name="CoupleMbusDeviceRequest">
				<soap:header message="tns:ActionHeader" part="OrganisationIdentification"
					use="literal" />
				<soap:header message="tns:ActionHeader" part="UserName"
					use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName"
					use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CoupleMbusDeviceAsyncResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="GetCoupleMbusDeviceReponse">
			<soap:operation soapAction="" />
			<wsdl:input name="CoupleMbusDeviceAsyncRequest">
				<soap:header message="tns:ActionHeader" part="OrganisationIdentification"
					use="literal" />
				<soap:header message="tns:ActionHeader" part="UserName"
					use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName"
					use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CoupleMbusDeviceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
        
        <wsdl:operation name="DeCoupleMbusDevice">
            <soap:operation soapAction="" />
            <wsdl:input name="DeCoupleMbusDeviceRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="DeCoupleMbusDeviceAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetDeCoupleMbusDeviceReponse">
            <soap:operation soapAction="" />
            <wsdl:input name="DeCoupleMbusDeviceAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="DeCoupleMbusDeviceResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="SmartmeterInstallationPortService">
        <wsdl:port binding="tns:SmartmeterInstallationPortSoap11" name="SmartmeterInstallationPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-smartmetering/smartMetering/installationService/" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>