osgp-adapter-ws-smartmetering/src/main/webapp/WEB-INF/wsdl/smartmetering/SmartMeteringAdhoc.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:smadhoc="http://www.alliander.com/schemas/osgp/smartmetering/sm-adhoc/2014/10"
    xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.alliander.com/definitions/osgp/smartmetering/sm-adhoc-v1.0"
    targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-adhoc-v1.0">

    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-adhoc/imports" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:import 
                namespace="http://www.alliander.com/schemas/osgp/smartmetering/sm-adhoc/2014/10" 
                schemaLocation="schemas/sm-adhoc.xsd" />
        </xsd:schema>
    </wsdl:types>    

    <wsdl:message name="ActionHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
		<wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    
    <!-- SYNCHRONIZE_TIME -->
    
    <wsdl:message name="SynchronizeTimeRequest">
        <wsdl:part element="smadhoc:SynchronizeTimeRequest" name="SynchronizeTimeRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SynchronizeTimeAsyncResponse">
        <wsdl:part element="smadhoc:SynchronizeTimeAsyncResponse" name="SynchronizeTimeAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SynchronizeTimeAsyncRequest">
        <wsdl:part element="smadhoc:SynchronizeTimeAsyncRequest" name="SynchronizeTimeAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SynchronizeTimeResponse">
        <wsdl:part element="smadhoc:SynchronizeTimeResponse" name="SynchronizeTimeResponse">
        </wsdl:part>
    </wsdl:message>
    
    <!-- SEND WAKEUP SMS -->
    
    <wsdl:message name="SendWakeupSMSRequest">
        <wsdl:part element="smadhoc:SendWakeupSMSRequest" name="SendWakeupSMSRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendWakeupSMSAsyncResponse">
        <wsdl:part element="smadhoc:SendWakeupSMSAsyncResponse" name="SendWakeupSMSAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendWakeupSMSAsyncRequest">
        <wsdl:part element="smadhoc:SendWakeupSMSAsyncRequest" name="SendWakeupSMSAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendWakeupSMSResponse">
        <wsdl:part element="smadhoc:SendWakeupSMSResponse" name="SendWakeupSMSResponse">
        </wsdl:part>
    </wsdl:message>
    
    <!-- GET SMS DETAILS -->
    
    <wsdl:message name="GetSMSDetailsRequest">
        <wsdl:part element="smadhoc:GetSMSDetailsRequest" name="GetSMSDetailsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetSMSDetailsAsyncResponse">
        <wsdl:part element="smadhoc:GetSMSDetailsAsyncResponse" name="GetSMSDetailsAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetSMSDetailsAsyncRequest">
        <wsdl:part element="smadhoc:GetSMSDetailsAsyncRequest" name="GetSMSDetailsAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetSMSDetailsResponse">
        <wsdl:part element="smadhoc:GetSMSDetailsResponse" name="GetSMSDetailsResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="SmartmeteradhocPort">
        <wsdl:operation name="SynchronizeTime">
            <wsdl:input message="tns:SynchronizeTimeRequest" name="SynchronizeTimeRequest" />
            <wsdl:output message="tns:SynchronizeTimeAsyncResponse" name="SynchronizeTimeAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetSynchronizeTimeResponse">
            <wsdl:input message="tns:SynchronizeTimeAsyncRequest" name="SynchronizeTimeAsyncRequest" />
            <wsdl:output message="tns:SynchronizeTimeResponse" name="SynchronizeTimeResponse" />
        </wsdl:operation>        

        <wsdl:operation name="SendWakeupSMS">
            <wsdl:input message="tns:SendWakeupSMSRequest" name="SendWakeupSMSRequest" />
            <wsdl:output message="tns:SendWakeupSMSAsyncResponse" name="SendWakeupSMSAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetSendWakeupSMSResponse">
            <wsdl:input message="tns:SendWakeupSMSAsyncRequest" name="SendWakeupSMSAsyncRequest" />
            <wsdl:output message="tns:SendWakeupSMSResponse" name="SendWakeupSMSResponse" />
        </wsdl:operation>

        <wsdl:operation name="GetSMSDetails">
            <wsdl:input message="tns:GetSMSDetailsRequest" name="GetSMSDetailsRequest" />
            <wsdl:output message="tns:GetSMSDetailsAsyncResponse" name="GetSMSDetailsAsyncResponse" />
        </wsdl:operation>
        
        <wsdl:operation name="GetGetSMSDetailsResponse">
            <wsdl:input message="tns:GetSMSDetailsAsyncRequest" name="GetSMSDetailsAsyncRequest" />
            <wsdl:output message="tns:GetSMSDetailsResponse" name="GetSMSDetailsResponse" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="SmartmeteradhocPortSoap11" type="tns:SmartmeteradhocPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="SynchronizeTime">
            <soap:operation soapAction="" />
            <wsdl:input name="SynchronizeTimeRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SynchronizeTimeAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSynchronizeTimeResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SynchronizeTimeAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SynchronizeTimeResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SendWakeupSMS">
            <soap:operation soapAction="" />
            <wsdl:input name="SendWakeupSMSRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SendWakeupSMSAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSendWakeupSMSResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SendWakeupSMSAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SendWakeupSMSResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetSMSDetails">
            <soap:operation soapAction="" />
            <wsdl:input name="GetSMSDetailsRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetSMSDetailsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetGetSMSDetailsResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="GetSMSDetailsAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
				<soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="GetSMSDetailsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="SmartmeteradhocPortService">
        <wsdl:port binding="tns:SmartmeteradhocPortSoap11" name="SmartmeteradhocPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-smartmetering/smartMetering/adhocService/" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>