osgp-adapter-ws-smartmetering/src/main/webapp/WEB-INF/wsdl/smartmetering/SmartMeteringConfiguration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:smconf="http://www.alliander.com/schemas/osgp/smartmetering/sm-configuration/2014/10"
    xmlns:common="http://www.alliander.com/schemas/osgp/common/2014/10"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.alliander.com/definitions/osgp/smartmetering/sm-configuration-v1.0"
    targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-configuration-v1.0">

    <wsdl:types>
        <xsd:schema 
            targetNamespace="http://www.alliander.com/definitions/osgp/smartmetering/sm-configuration/imports" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
            <xsd:import 
                namespace="http://www.alliander.com/schemas/osgp/smartmetering/sm-configuration/2014/10" 
                schemaLocation="schemas/sm-configuration.xsd" />
        </xsd:schema>
    </wsdl:types>    

    <wsdl:message name="ActionHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    
    <wsdl:message name="SetSpecialDaysRequest">
        <wsdl:part element="smconf:SetSpecialDaysRequest" name="SetSpecialDaysRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetSpecialDaysAsyncResponse">
        <wsdl:part element="smconf:SetSpecialDaysAsyncResponse" name="SetSpecialDaysAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetSpecialDaysAsyncRequest">
        <wsdl:part element="smconf:SetSpecialDaysAsyncRequest" name="SetSpecialDaysAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetSpecialDaysResponse">
        <wsdl:part element="smconf:SetSpecialDaysResponse" name="SetSpecialDaysResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="SetAlarmNotificationsRequest">
        <wsdl:part element="smconf:SetAlarmNotificationsRequest" name="SetAlarmNotificationsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetAlarmNotificationsAsyncResponse">
        <wsdl:part element="smconf:SetAlarmNotificationsAsyncResponse" name="SetAlarmNotificationsAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetAlarmNotificationsAsynRequest">
        <wsdl:part element="smconf:SetAlarmNotificationsAsyncRequest" name="SetAlarmNotificationsAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetAlarmNotificationsResponse">
        <wsdl:part element="smconf:SetAlarmNotificationsResponse" name="SetAlarmNotificationsResponse">
        </wsdl:part>
    </wsdl:message>
	
    <wsdl:message name="ActivityCalendarHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification" />
        <wsdl:part element="common:UserName" name="UserName" />
        <wsdl:part element="common:ApplicationName" name="ApplicationName" />
    </wsdl:message>
    <wsdl:message name="SetActivityCalendarRequest">
        <wsdl:part element="smconf:SetActivityCalendarRequest" name="setActivityCalendarRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetActivityCalendarAsyncResponse">
        <wsdl:part element="smconf:SetActivityCalendarAsyncResponse" name="setActivityCalendarAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="SetConfigurationObjectRequest">
        <wsdl:part element="smconf:SetConfigurationObjectRequest" name="SetConfigurationObjectRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetConfigurationObjectAsyncResponse"> 
        <wsdl:part element="smconf:SetConfigurationObjectAsyncResponse" name="SetConfigurationObjectAsyncResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetConfigurationObjectAsyncRequest">
        <wsdl:part element="smconf:SetConfigurationObjectAsyncRequest" name="SetConfigurationObjectAsyncRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SetConfigurationObjectResponse">
        <wsdl:part element="smconf:SetConfigurationObjectResponse" name="SetConfigurationObjectResponse">
        </wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="RetrieveSetActivityCalendarResultRequest">
        <wsdl:part element="smconf:RetrieveSetActivityCalendarResultRequest"  name="RetrieveSetActivityCalendarResultRequest" />
    </wsdl:message>
    <wsdl:message name="RetrieveSetActivityCalendarResultResponse">
        <wsdl:part element="smconf:RetrieveSetActivityCalendarResultResponse" name="RetrieveSetActivityCalendarResultResponse" />
    </wsdl:message>

    <wsdl:portType name="SmartmeterconfigurationPort">
        <wsdl:operation name="SetSpecialDays">
            <wsdl:input message="tns:SetSpecialDaysRequest" name="SetSpecialDaysRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetSpecialDaysAsyncResponse" name="SetSpecialDaysAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetSpecialDaysReponse">
            <wsdl:input message="tns:SetSpecialDaysAsyncRequest" name="SetSpecialDaysAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetSpecialDaysResponse" name="SetSpecialDaysResponse">
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="SetConfigurationObject">
            <wsdl:input message="tns:SetConfigurationObjectRequest" name="SetConfigurationObjectRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetConfigurationObjectAsyncResponse" name="SetConfigurationObjectAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSetConfigurationObjectResponse">
            <wsdl:input message="tns:SetConfigurationObjectAsyncRequest" name="SetConfigurationObjectAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetConfigurationObjectResponse" name="SetConfigurationObjectResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetAlarmNotifications">
            <wsdl:input message="tns:SetAlarmNotificationsRequest" name="SetAlarmNotificationsRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetAlarmNotificationsAsyncResponse" name="SetAlarmNotificationsAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSetAlarmNotificationsResponse">
            <wsdl:input message="tns:SetAlarmNotificationsAsyncRequest" name="SetAlarmNotificationsAsyncRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetAlarmNotificationsResponse" name="SetAlarmNotificationsResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetActivityCalendar">
            <wsdl:input message="tns:SetActivityCalendarRequest" name="SetActivityCalendarRequest">
            </wsdl:input>
            <wsdl:output message="tns:SetActivityCalendarAsyncResponse" name="SetActivityCalendarAsyncResponse">
            </wsdl:output>
        </wsdl:operation>
		
        <wsdl:operation name="RetrieveSetActivityCalendarResult">
            <wsdl:input message="tns:RetrieveSetActivityCalendarResultRequest" name="RetrieveSetActivityCalendarResultRequest">
            </wsdl:input>
            <wsdl:output message="tns:RetrieveSetActivityCalendarResultResponse" name="RetrieveSetActivityCalendarResultResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="SmartmeterconfigurationPortSoap11" type="tns:SmartmeterconfigurationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="SetSpecialDays">
            <soap:operation soapAction="" />
            <wsdl:input name="SetSpecialDaysRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetSpecialDaysAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetSpecialDaysReponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetSpecialDaysAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetSpecialDaysResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="SetConfigurationObject">
            <soap:operation soapAction="" />
            <wsdl:input name="SetConfigurationObjectRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetConfigurationObjectAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetSetConfigurationObjectResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetConfigurationObjectAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetConfigurationObjectResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetAlarmNotifications">
            <soap:operation soapAction="" />
            <wsdl:input name="SetAlarmNotificationsRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetAlarmNotificationsAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSetAlarmNotificationsResponse">
            <soap:operation soapAction="" />
            <wsdl:input name="SetAlarmNotificationsAsyncRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetAlarmNotificationsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="SetActivityCalendar">
            <soap:operation soapAction="" />
            <wsdl:input name="SetActivityCalendarRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SetActivityCalendarAsyncResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="RetrieveSetActivityCalendarResult">
            <soap:operation soapAction="" />
            <wsdl:input name="RetrieveSetActivityCalendarResultRequest">
                <soap:header message="tns:ActionHeader" part="OrganisationIdentification" use="literal" />
                <soap:header message="tns:ActionHeader" part="UserName" use="literal" />
                <soap:header message="tns:ActionHeader" part="ApplicationName" use="literal" />
            </wsdl:input>
            <wsdl:output name="RetrieveSetActivityCalendarResultResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>
    
    <wsdl:service name="SmartmeterconfigurationPortService">
        <wsdl:port binding="tns:SmartmeterconfigurationPortSoap11" name="SmartmeterconfigurationPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-smartmetering/smartMetering/configurationService/" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>