osgp/shared/osgp-ws-distributionautomation/src/main/resources/DistributionAutomationDeviceManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:da="http://www.opensmartgridplatform.org/schemas/distributionautomation/defs/2017/04"
    xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.opensmartgridplatform.org/definitions/distributionautomation/2017/04"
    targetNamespace="http://www.opensmartgridplatform.org/definitions/distributionautomation/2017/04">

    <wsdl:types>
        <xsd:schema
            targetNamespace="http://www.opensmartgridplatform.org/definitions/distributionautomation/imports"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import
                namespace="http://www.opensmartgridplatform.org/schemas/distributionautomation/defs/2017/04"
                schemaLocation="schemas/distributionautomation.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <!-- 
    ################################################################################
    ## Generic Header
    ################################################################################
    -->
    <wsdl:message name="GenericHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification"/>
        <wsdl:part element="common:UserName" name="UserName"/>
        <wsdl:part element="common:ApplicationName" name="ApplicationName"/>
    </wsdl:message>

    <!-- 
    ################################################################################
    ## Health Status
    ################################################################################
    -->
    <wsdl:message name="GetHealthStatusRequest">
        <wsdl:part element="da:GetHealthStatusRequest" name="GetHealthStatusRequest"/>
    </wsdl:message>
    <wsdl:message name="GetHealthStatusAsyncRequest">
        <wsdl:part element="da:GetHealthStatusAsyncRequest" name="GetHealthStatusAsyncRequest"/>
    </wsdl:message>
    <wsdl:message name="GetHealthStatusResponse">
        <wsdl:part element="da:GetHealthStatusResponse" name="GetHealthStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="GetHealthStatusAsyncResponse">
        <wsdl:part element="da:GetHealthStatusAsyncResponse" name="GetHealthStatusAsyncResponse"/>
    </wsdl:message>

    <!-- 
    ################################################################################
    ## Operations
    ################################################################################
    -->
    <wsdl:portType name="DistributionAutomationDeviceManagementPort">
        <wsdl:operation name="GetHealthStatus">
            <wsdl:input message="tns:GetHealthStatusRequest" name="GetHealthStatusRequest"/>
            <wsdl:output message="tns:GetHealthStatusAsyncResponse"
                name="GetHealthStatusAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetHealthStatusAsync">
            <wsdl:input message="tns:GetHealthStatusAsyncRequest" name="GetHealthStatusAsyncRequest"/>
            <wsdl:output message="tns:GetHealthStatusResponse" name="GetHealthStatusResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <!-- 
    ################################################################################
    ## Bindings
    ################################################################################
    -->
    <wsdl:binding name="DistributionAutomationDeviceManagementPortSoap11"
        type="tns:DistributionAutomationDeviceManagementPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="GetHealthStatus">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetHealthStatusRequest">
                <soap:header message="tns:GenericHeader" part="OrganisationIdentification"
                    use="literal"/>
                <soap:header message="tns:GenericHeader" part="UserName" use="literal"/>
                <soap:header message="tns:GenericHeader" part="ApplicationName" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetHealthStatusAsyncResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetHealthStatusAsync">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetHealthStatusAsyncRequest">
                <soap:header message="tns:GenericHeader" part="OrganisationIdentification"
                    use="literal"/>
                <soap:header message="tns:GenericHeader" part="UserName" use="literal"/>
                <soap:header message="tns:GenericHeader" part="ApplicationName" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetHealthStatusResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- 
    ################################################################################
    ## Service
    ################################################################################
    -->
    <wsdl:service name="DistributionAutomationDeviceManagementPortService">
        <wsdl:port binding="tns:DistributionAutomationDeviceManagementPortSoap11"
            name="DistributionAutomationDeviceManagementPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-distributionautomation/distributionautomation/devicemanagement/"
            />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
