osgp/shared/osgp-ws-distributionautomation/src/main/resources/Monitoring.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Platform version: ${display.version} -->

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:da="http://www.opensmartgridplatform.org/schemas/distributionautomation/defs/2017/04"
                  xmlns:common="http://www.opensmartgridplatform.org/schemas/common/2014/10"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.opensmartgridplatform.org/definitions/distributionautomation/2017/04"
                  targetNamespace="http://www.opensmartgridplatform.org/definitions/distributionautomation/2017/04">

    <wsdl:types>
        <xsd:schema
                targetNamespace="http://www.opensmartgridplatform.org/definitions/distributionautomation/imports"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import
                namespace="http://www.opensmartgridplatform.org/schemas/distributionautomation/defs/2017/04"
                schemaLocation="schemas/distributionautomation.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <!-- 
    ################################################################################
    ## Generic Header
    ################################################################################
    -->
    <wsdl:message name="GenericHeader">
        <wsdl:part element="common:OrganisationIdentification" name="OrganisationIdentification"/>
        <wsdl:part element="common:UserName" name="UserName"/>
        <wsdl:part element="common:ApplicationName" name="ApplicationName"/>
    </wsdl:message>

    <!-- 
    ################################################################################
    ## Monitoring/ Power Quality Values
    ################################################################################
    -->
    <wsdl:message name="GetPQValuesRequest">
        <wsdl:part element="da:GetPQValuesRequest" name="GetPQValuesRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPQValuesAsyncRequest">
        <wsdl:part element="da:GetPQValuesAsyncRequest" name="GetPQValuesAsyncRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPQValuesResponse">
        <wsdl:part element="da:GetPQValuesResponse" name="GetPQValuesResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPQValuesAsyncResponse">
        <wsdl:part element="da:GetPQValuesAsyncResponse" name="GetPQValuesAsyncResponse"/>
    </wsdl:message>

    <!-- 
    ################################################################################
    ## Monitoring/ Power Quality Values Periodic
    ################################################################################
    -->
    <wsdl:message name="GetPQValuesPeriodicRequest">
        <wsdl:part element="da:GetPQValuesPeriodicRequest" name="GetPQValuesPeriodicRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPQValuesPeriodicAsyncRequest">
        <wsdl:part element="da:GetPQValuesPeriodicAsyncRequest" name="GetPQValuesPeriodicAsyncRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPQValuesPeriodicResponse">
        <wsdl:part element="da:GetPQValuesPeriodicResponse" name="GetPQValuesPeriodicResponse"/>
    </wsdl:message>
    <wsdl:message name="GetPQValuesPeriodicAsyncResponse">
        <wsdl:part element="da:GetPQValuesPeriodicAsyncResponse" name="GetPQValuesPeriodicAsyncResponse"/>
    </wsdl:message>
    
    <!-- 
    ################################################################################
    ## Operations
    ################################################################################
    -->
    <wsdl:portType name="DistributionAutomationMonitoringPort">
        <wsdl:operation name="GetPQValues">
            <wsdl:input message="tns:GetPQValuesRequest" name="GetPQValuesRequest"/>
            <wsdl:output message="tns:GetPQValuesAsyncResponse" name="GetPQValuesAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetPQValuesAsync">
            <wsdl:input message="tns:GetPQValuesAsyncRequest" name="GetPQValuesAsyncRequest"/>
            <wsdl:output message="tns:GetPQValuesResponse" name="GetPQValuesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetPQValuesPeriodic">
            <wsdl:input message="tns:GetPQValuesPeriodicRequest" name="GetPQValuesPeriodicRequest"/>
            <wsdl:output message="tns:GetPQValuesPeriodicAsyncResponse" name="GetPQValuesPeriodicAsyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetPQValuesPeriodicAsync">
            <wsdl:input message="tns:GetPQValuesPeriodicAsyncRequest" name="GetPQValuesPeriodicAsyncRequest"/>
            <wsdl:output message="tns:GetPQValuesPeriodicResponse" name="GetPQValuesPeriodicResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <!-- 
    ################################################################################
    ## Bindings
    ################################################################################
    -->
    <wsdl:binding name="DistributionAutomationMonitoringPortSoap11"
        type="tns:DistributionAutomationMonitoringPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="GetPQValues">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetPQValuesRequest">
                <soap:header message="tns:GenericHeader" part="OrganisationIdentification" use="literal"/>
                <soap:header message="tns:GenericHeader" part="UserName" use="literal"/>
                <soap:header message="tns:GenericHeader" part="ApplicationName" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPQValuesAsyncResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="GetPQValuesAsync">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetPQValuesAsyncRequest">
                <soap:header message="tns:GenericHeader" part="OrganisationIdentification" use="literal"/>
                <soap:header message="tns:GenericHeader" part="UserName" use="literal"/>
                <soap:header message="tns:GenericHeader" part="ApplicationName" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPQValuesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPQValuesPeriodic">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetPQValuesPeriodicRequest">
                <soap:header message="tns:GenericHeader" part="OrganisationIdentification" use="literal"/>
                <soap:header message="tns:GenericHeader" part="UserName" use="literal"/>
                <soap:header message="tns:GenericHeader" part="ApplicationName" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPQValuesPeriodicAsyncResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPQValuesPeriodicAsync">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetPQValuesPeriodicAsyncRequest">
                <soap:header message="tns:GenericHeader" part="OrganisationIdentification" use="literal"/>
                <soap:header message="tns:GenericHeader" part="UserName" use="literal"/>
                <soap:header message="tns:GenericHeader" part="ApplicationName" use="literal"/>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetPQValuesPeriodicResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <!-- 
    ################################################################################
    ## Service
    ################################################################################
    -->
    <wsdl:service name="DistributionAutomationMonitoringPortService">
        <wsdl:port binding="tns:DistributionAutomationMonitoringPortSoap11" name="DistributionAutomationMonitoringPortSoap11">
            <soap:address
                location="http://localhost:8080/osgp-adapter-ws-distributionautomation/distributionautomation/monitoring/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
