osgp/shared/osgp-ws-secret-management/src/main/resources/wsdl/SecretManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://www.opensmartgridplatform.org/schemas/security/secretmanagement"
                  targetNamespace="http://www.opensmartgridplatform.org/schemas/security/secretmanagement">
  <wsdl:types>
    <xsd:schema
        targetNamespace="http://www.opensmartgridplatform.org/definitions/secret-management/imports"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import
          namespace="http://www.opensmartgridplatform.org/schemas/security/secretmanagement"
          schemaLocation="../schemas/secret-management.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TechnicalFault">
    <wsdl:part element="tns:TechnicalFault" name="TechnicalFault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecretsRequest">
    <wsdl:part element="tns:getSecretsRequest" name="getSecretsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecretsResponse">
    <wsdl:part element="tns:getSecretsResponse" name="getSecretsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNewSecretsRequest">
    <wsdl:part element="tns:getNewSecretsRequest" name="getNewSecretsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNewSecretsResponse">
    <wsdl:part element="tns:getNewSecretsResponse" name="getNewSecretsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="storeSecretsRequest">
    <wsdl:part element="tns:storeSecretsRequest" name="storeSecretsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="storeSecretsResponse">
    <wsdl:part element="tns:storeSecretsResponse" name="storeSecretsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateAndStoreSecretsRequest">
    <wsdl:part element="tns:generateAndStoreSecretsRequest" name="generateAndStoreSecretsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateAndStoreSecretsResponse">
    <wsdl:part element="tns:generateAndStoreSecretsRequest" name="generateAndStoreSecretsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateSecretsRequest">
    <wsdl:part element="tns:activateSecretsRequest" name="activateSecretsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="activateSecretsResponse">
    <wsdl:part element="tns:activateSecretsResponse" name="activateSecretsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hasNewSecretRequest">
    <wsdl:part element="tns:hasNewSecretRequest" name="hasNewSecretRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hasNewSecretResponse">
    <wsdl:part element="tns:hasNewSecretResponse" name="hasNewSecretResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SecretManagementPort">
    <wsdl:operation name="getSecrets">
      <wsdl:input message="tns:getSecretsRequest" name="getSecretsRequest">
      </wsdl:input>
      <wsdl:output message="tns:getSecretsResponse" name="getSecretsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeSecrets">
      <wsdl:input message="tns:storeSecretsRequest" name="storeSecretsRequest">
      </wsdl:input>
      <wsdl:output message="tns:storeSecretsResponse" name="storeSecretsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateAndStoreSecrets">
      <wsdl:input message="tns:generateAndStoreSecretsRequest" name="generateAndStoreSecretsRequest">
      </wsdl:input>
      <wsdl:output message="tns:generateAndStoreSecretsResponse" name="generateAndStoreSecretsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateSecrets">
      <wsdl:input message="tns:activateSecretsRequest" name="activateSecretsRequest">
      </wsdl:input>
      <wsdl:output message="tns:activateSecretsResponse" name="activateSecretsResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hasNewSecret">
      <wsdl:input message="tns:hasNewSecretRequest" name="hasNewSecretRequest">
      </wsdl:input>
      <wsdl:output message="tns:hasNewSecretResponse" name="hasNewSecretResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecretManagementPortSoap11" type="tns:SecretManagementPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSecrets">
      <soap:operation soapAction=""/>
      <wsdl:input name="getSecretsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getSecretsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="storeSecrets">
      <soap:operation soapAction=""/>
      <wsdl:input name="storeSecretsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="storeSecretsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateAndStoreSecrets">
      <soap:operation soapAction=""/>
      <wsdl:input name="generateAndStoreSecretsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generateAndStoreSecretsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateSecrets">
      <soap:operation soapAction=""/>
      <wsdl:input name="activateSecretsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="activateSecretsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hasNewSecret">
      <soap:operation soapAction=""/>
      <wsdl:input name="hasNewSecretRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hasNewSecretResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecretManagementPortService">
    <wsdl:port binding="tns:SecretManagementPortSoap11" name="SecretManagementPortSoap11">
      <soap:address location="http://localhost:8080/osgp-secret-management/ws/SecretManagement"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
